<div class="row animated zoomInDown">

  <div class="col-md-12 d-none d-md-block">
    <div class="d-flex">
      <i class="fad fa-users-class fa-2x mr-2" style="--fa-secondary-opacity: 1;--fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
      <p class="text-17 flex-grow-1">liste des classes</p>
      <div>
        <button mdbBtn class="btnBlue" size="sm" mdbWavesEffect [routerLink]="['/addClass']" routerLinkActive="router-link-active">
          <i class="fal fa-users-class fa-1x mr-1" style="--fa-secondary-opacity: 1;--fa-primary-color:#f89f20;--fa-secondary-color:#f89f20;"></i>
          ajouter une classe
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-12 d-md-none">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex">
          <i class="fad fa-users-class fa-2x mr-2" style="--fa-secondary-opacity: 1;--fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
          <p class="text-17 flex-grow-1">liste des classes</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="">
          <button mdbBtn class="btnBlue" size="sm" mdbWavesEffect [routerLink]="['/addClass']" routerLinkActive="router-link-active">
            <i class="fal fa-users-class fa-1x mr-1" style="--fa-secondary-opacity: 1;--fa-primary-color:#f89f20;--fa-secondary-color:#f89f20;"></i>
            ajouter une classe
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 mt-2">
    <div class="row">
      <div *ngFor="let level of levels" class="col-md-4 mb-2">
        <app-class-card [level]="level"></app-class-card>
      </div>
    </div>
  </div>
    
  <!-- <div [@animate]="{value:'*',params:{delay: 100+'ms', y:'80px'}}" class="col-lg-12 col-md-12">
    
      <div class="card mb-4">
            <div class="card-body p-0">

              <div class="card-title border-bottom d-flex align-items-center m-0 p-3">
                <button mdbBtn color="info" size="sm" mdbWavesEffect [routerLink]="['/addClass']" routerLinkActive="router-link-active" >ajouter une classe</button>
                <span class="flex-grow-1"></span>
              </div>

              <div *ngFor="let level of levels" class="d-flex border-bottom justify-content-between p-3">
                <div class="flex-grow-1">
                  <span class="text-small text-muted">niveau</span>
                  <h6 class="m-0">{{level.name}}</h6>
                </div>
                <div class="flex-grow-1">
                  <span class="text-small text-muted">effectif</span>
                  <h6 class="m-0">{{level.totalStudents}}</h6>
                </div>
                <div class="flex-grow-1">
                  <span class="text-small text-muted">classes</span>
                  <h6 class="m-0">{{level.classes.length}}</h6>
                </div>
                <div class="flex-grow-1">
                  <h6 class="m-0 mt-1">
                    <button class="" size="sm" mdbBtn color="info" mdbWavesEffect [routerLink]="['/levelClasses',level.id]" routerLinkActive="router-link-active" >détails</button>
                  </h6>
                </div>
              </div>
  
            </div>
      </div>
    
  </div> -->

</div>
