<div class="row">

  <div class="col-md-9">
    <p class="lead ">admin - liste des classes</p>
  </div>
    
  <div *ngIf="!addNew" [@animate]="{value:'*',params:{delay: 100+'ms', y:'80px'}}" class="col-lg-12 col-md-12">
    
      <div class="card mb-4">
            <div class="card-body p-0">

              <div class="card-title border-bottom d-flex align-items-center m-0 p-3">
                <button mdbBtn color="info" size="sm" mdbWavesEffect [routerLink]="['/addClass']" routerLinkActive="router-link-active" >ajouter une classe</button>
                <span class="flex-grow-1"></span>
              </div>

              <div *ngFor="let level of levels" class="d-flex border-bottom justify-content-between p-3">
                <div class="flex-grow-1">
                  <span class="text-small text-muted">niveau</span>
                  <h6 class="m-0">{{level.name}}</h6>
                </div>
                <div class="flex-grow-1">
                  <span class="text-small text-muted">effectif</span>
                  <h6 class="m-0">{{level.totalStudents}}</h6>
                </div>
                <div class="flex-grow-1">
                  <span class="text-small text-muted">classes</span>
                  <h6 class="m-0">{{level.classes.length}}</h6>
                </div>
                <div class="flex-grow-1">
                  <!-- <span class="text-small text-muted">autre info</span> -->
                  <h6 class="m-0 mt-1">
                    <button class="" size="sm" mdbBtn color="info" mdbWavesEffect [routerLink]="['/levelClasses',level.id]" routerLinkActive="router-link-active" >détails</button>
                  </h6>
                </div>
              </div>
  
            </div>
      </div>
    
  </div>

</div>



