

       
<div *ngIf="!addNew && !levels" >
  <p class="card-title">veuillez patienter...</p>
</div>
<div *ngIf="!addNew" [@animate]="{value:'*',params:{delay: 100+'ms', y:'50px'}}">
  <button class="btn btn-outline-primary btn-sm ml-2" (click)='newClass()'>Ajouter</button>
  <div class="col-md-12">
      <div class="card">
        <ngx-datatable
          style="height: 500px; box-shadow: none"
          class="material fullscreen"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="60"
          [scrollbarV]="true"

          [rows]="levels">
        
          <ngx-datatable-column name="name" [width]="50">
            <ng-template ngx-datatable-header-template>
              Niveau
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="totalStudents" [width]="50">
            <ng-template ngx-datatable-header-template>
              effectif
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="classes" [width]="50">
            <ng-template ngx-datatable-header-template>
              Classes
            </ng-template>
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <div class="form-inline">
                <div *ngFor="let class of value" >
                        <a  ngbPopover="effectif :{{class.students.length}}/{{class.maxStudent}}"
                        triggers="mouseenter:mouseleave" popoverTitle="Details">
                      {{class.name}}
                      </a>,
                  </div>
              </div>
              
          </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="id" [width]="50">
            <ng-template ngx-datatable-header-template>
              Option
            </ng-template>
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <a href="{{value}}" class="btn btn-outline-primary btn-sm">details</a>
          </ng-template>
          </ngx-datatable-column>
          
        </ngx-datatable>
      </div>
    </div>
</div>

<div [@animate]="{value:'*',params:{delay: 500+'ms', y:'50px'}}" *ngIf="addNew">
<app-new-class  (addClassResult)="resultMode($event)"></app-new-class>
</div>

