<div class="d-none d-md-block border rounded-lg p-2 mt-2">
  <div *ngIf="!showInfos" class="row animated zoomIn">
    <div class="col-8">
      <a class="d-flex" (click)="toggleInfos()">
        <i class="fad fa-plus-square fa-&x mr-1 my-1" style="--fa-secondary-opacity: 1;
          --fa-primary-color:#192C47;--fa-secondary-color:#f89f20"></i>
        <div class="text-15">
          <b>carnet de notes</b> - moyenne générale: <b>12,5/20</b>
        </div>
      </a>
    </div>
  </div>
  <div *ngIf="showInfos" class="row animated zoomIn">
    <div class="col-8 my-auto">
      <a class="d-flex" (click)="toggleInfos()">
        <i class="fad fa-minus-square fa-&x mr-1 my-1" style="--fa-secondary-opacity: 1;
          --fa-primary-color:#192C47;--fa-secondary-color:#f89f20"></i>
        <div class="">
          <b>carnet de notes</b> - moyenne générale: <b>12,5/20</b>
        </div>
      </a>
    </div>
    <div class="col-md-12"><hr class="my-1"></div>
  </div>
</div>

<div class="d-md-none border rounded-lg p-2 mt-2">
  <div *ngIf="!showInfos" class="row animated zoomIn">
    <div class="col-8">
      <a class="d-flex" (click)="toggleInfos()">
        <i class="fad fa-plus-square fa-&x mr-1 my-1" style="--fa-secondary-opacity: 1;
          --fa-primary-color:#192C47;--fa-secondary-color:#f89f20"></i>
        <div class="text-15">
          <b>carnet de notes</b> - moyenne générale: <b>12,5/20</b>
        </div>
      </a>
    </div>
  </div>
  <div *ngIf="showInfos" class="row animated zoomIn">
    <div class="col-8 my-auto">
      <a class="d-flex" (click)="toggleInfos()">
        <i class="fad fa-minus-square fa-&x mr-1 my-1" style="--fa-secondary-opacity: 1;
          --fa-primary-color:#192C47;--fa-secondary-color:#f89f20"></i>
        <div class="">
          <b>carnet de notes</b> - moyenne générale: <b>12,5/20</b>
        </div>
      </a>
    </div>
    <div class="col-md-12"><hr class="my-1"></div>
  </div>
</div>