<div class="row justify-content-center align-items-center mt-3"
    [@animate]="{value:'*',params:{delay: 100+'ms', y:'50px'}}">

    <div class="col-md-8">
        <div class="card p-3">
            <form nz-form [formGroup]="payableForm" (ngSubmit)="save()">
                <div class="md-form">
                    <input mdbInput type="text" id="name" class="form-control" formControlName="name">
                    <label for="name" class="">Nom </label>
                </div>
                <div class="md-form">
                    <input mdbInput type="number" id="dayCount" class="form-control" formControlName="dayCount">
                    <label for="dayCount" class="">Nombre de jour </label>
                </div>
                <button type="submit" mdbBtn color="primary" size="sm" [disabled]="!payableForm.valid"
                    mdbWavesEffect>enregistrer</button>
                <button type="button" mdbBtn color="light" size="sm" mdbWavesEffect
                    [routerLink]="['/payableAts']">annuler</button>
            </form>
        </div>
    </div>
</div>