<div class="row">

  <div class="col-md-9">
    <p class="lead ">admin - communication. envoi de e-mails</p>
  </div>
    
  <div [@animate]="{value:'*', params:{delay: 300+'ms', y:'80px'}}" class="col-lg-12 col-md-12">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <div>
              <select class="custom-select">
                <option disabled selected>destinataire</option>
                <option value="1">parents</option>
                <option value="2">élèves</option>
                <option value="3">enseignants</option>
              </select>
            </div>
            <div>
              <select class="mdb-select colorful-select dropdown-primary md-form" multiple searchable="Search here..">
                <option value="" disabled selected>Choose your country</option>
                <option value="1">USA</option>
                <option value="2">Germany</option>
                <option value="3">France</option>
                <option value="4">Poland</option>
                <option value="5">Japan</option>
              </select>
              <select class="mdb-select md-form" multiple searchable="Search for...">
                <option value="" disabled selected>Select all</option>
                <option value="1">USA</option>
                <option value="2">Germany</option>
                <option value="3">France</option>
                <option value="3">Poland</option>
                <option value="3">Japan</option>
              </select>
            </div>

          </div>
        </div>        
      </div>
      <div class="col-md-9">
        <div class="card">
          <div class="card-body">
            blabla blabla
          </div>
        </div>
      </div>
    </div>
  </div>

</div>