
<form [formGroup]="absenceForm" (ngSubmit)="saveAbsence(false)">
  <div class="row">
    <div class="col-md-12 mb-1">
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" id="absence" value="1" formControlName="type" name="type" mdbInput>
        <label class="form-check-label" for="absence">absence</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" id="late" value="2" formControlName="type" name="type" mdbInput>
        <label class="form-check-label" for="late">retard</label>
      </div>
      <div *ngIf="absenceForm.get('type').errors && absenceForm.get('type').touched"
        class="text-small text-danger">choisir le type</div>
    </div>
    <div class="col-md-12 mb-1">
      <div class="row">
        <div class="col-md-4">
          <div class="md-form form-sm m-0">
            <mdb-select [options]="studentOptions" formControlName="student" placeholder="choisir un élève"></mdb-select>
            <div *ngIf="absenceForm.get('student').errors && absenceForm.get('student').touched"
              class="text-small text-danger">choisir un élève svp</div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">
              <div class="md-form mdb-date-time form-sm m-0">
                <input
                  (focus)="this.startDate.openBtnClicked()"
                  #inputStartD
                  class="form-control date-time picker-opener"
                  data-open="picker2"
                  placeholder="date début"
                  type="text"
                />
                <mdb-date-picker
                  (dateChanged)="onSDateChange($event)"
                  [options]="myDatePickerOptions"
                  #startDate
                  formControlName="startDate"
                  name="startDate"
                ></mdb-date-picker>
                <mdb-time-picker
                  (timeChanged)="onSTimeChange($event)"
                  [buttonLabel]="'Done'"
                  [twelvehour]="false"
                  [darktheme]="true"
                  #startTime
                  formControlName="startTime"
                  name="startTime"
                ></mdb-time-picker>
                <div *ngIf="absenceForm.get('startDate').errors && absenceForm.get('startDate').touched"
                  class="text-small text-danger">saisir la date début</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="md-form mdb-date-time form-sm m-0">
                <input
                  (focus)="this.endDate.openBtnClicked()"
                  #inputEndD
                  class="form-control date-time picker-opener"
                  data-open="picker2"
                  placeholder="date fin"
                  type="text"
                />
                <mdb-date-picker
                  (dateChanged)="onEDateChange($event)"
                  [options]="myDatePickerOptions"
                  #endDate
                  formControlName="endDate"
                  name="endDate"
                ></mdb-date-picker>
                <mdb-time-picker
                  (timeChanged)="onETimeChange($event)"
                  [buttonLabel]="'Done'"
                  [twelvehour]="false"
                  [darktheme]="true"
                  #endTime
                  formControlName="endTime"
                  name="endTime"
                ></mdb-time-picker>
                <div *ngIf="absenceForm.get('endDate').errors && absenceForm.get('endDate').touched"
                  class="text-small text-danger">saisir date fin</div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="col-md-12 mb-1">
      <div class="row">
        <div class="col-md-2">
          <div class="md-form form-sm m-0">
            <mdb-select [options]="justifiedOptions" formControlName="justified" placeholder="justifié?"></mdb-select>
            <div *ngIf="absenceForm.get('justified').errors && absenceForm.get('justified').touched"
              class="text-small text-danger">précisez si justifié</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="md-form form-sm m-0">
            <input mdbInput type="text" id="reason" class="form-control" formControlName="reason" mdbValidate>
            <label for="reason">motif</label>
            <div *ngIf="absenceForm.get('reason').errors && absenceForm.get('reason').touched"
              class="text-small text-danger">saisir le motif svp</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="md-form form-sm m-0">
            <mdb-select [options]="teacherOptions" formControlName="doneBy" placeholder="choisir le professeur"></mdb-select>
            <div *ngIf="absenceForm.get('doneBy').errors && absenceForm.get('doneBy').touched"
              class="text-small text-danger">choisir le professeur svp</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 mb-1">
      <div class="md-form form-sm m-0">
        <textarea type="text" id="comment" formControlName="comment" class="md-textarea form-control" mdbInput></textarea>
        <label for="comment">commentaire</label>
      </div>
    </div>

    <div class="col-md-12">
      <button type="submit" mdbBtn color="primary" size="sm" [disabled]="!absenceForm.valid" mdbWavesEffect>valider</button>
      <button type="button" mdbBtn size="sm" color="primary" [disabled]="!absenceForm.valid"
        (click)="saveAbsence(true)" mdbWavesEffect>valider et nouveau</button>
      <button type="button" mdbBtn size="sm" color="primary" (click)="cancel()" mdbWavesEffect>annuler</button>
    </div>
  </div>
</form>
