<!-- <div class="z-depth-1 m-2">
  <div class="div p-4">
    <mdb-stepper #stepper1 [linear]="true" [vertical]="false">
      <mdb-step name="Step 1" label="Type something" [stepForm]="firstFormGroup1">
        <form [formGroup]="firstFormGroup1">
          <div class="md-form">
            <input type="text" class="form-control" mdbInput mdbValidate formControlName="email">
            <label for="">Email</label>
            <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)">Input invalid</mdb-error>
            <mdb-success *ngIf="email.valid && (email.dirty || email.touched)">Input valid</mdb-success>
          </div>
        </form>
        <button mdbBtn size="sm" color="primary" (click)="stepper1.next()">CONTINUE</button>
      </mdb-step>
      <mdb-step name="Step 2" [stepForm]="secondFormGroup1">
        <form [formGroup]="secondFormGroup1">
          <div class="md-form">
            <input type="password" class="form-control" mdbInput mdbValidate formControlName="password">
            <label for="">Password</label>
            <mdb-error *ngIf="password.invalid && (password.dirty || password.touched)">Input invalid</mdb-error>
            <mdb-success *ngIf="password.valid && (password.dirty || password.touched)">Input valid</mdb-success>
          </div>
        </form>
        <button mdbBtn size="sm" color="primary" (click)="stepper1.next()">CONTINUE</button>
        <button mdbBtn size="sm" color="secondary" (click)="stepper1.previous()">BACK</button>
      </mdb-step>
      <mdb-step name="Step 3" label="Step 3 label">
        <p class="pl-2">Finish!</p>
        <div class="step-actions">
          <button mdbBtn size="sm" color="primary" (click)="onSubmit()">SUBMIT</button>
        </div>
      </mdb-step>
    </mdb-stepper>
  </div>
</div> -->

<div class="row m-2">
  <div class="col-md-12">
    <div class="lead">Educ'Notes - inscription du parent et de ses enfants</div>
  </div>
  
  <div class="col-md-12">
    <div class="animated flash" *ngIf="wait">
      <mdb-card>
        <mdb-card-header class="info-color white-text text-center py-4">
          <p class="lead">Traitement en cours</p>
        </mdb-card-header>
    
        <mdb-card-body>
          <h3>patienter s'il vous plait...</h3>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>

  <div class="col-md-12">
    <mdb-stepper #stepper *ngIf="!wait" [vertical]="isVertical" class="animated slideInUp">
      <mdb-step name="inscription" label="infos des parents" [stepForm]="parentForm" class="step1">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body p-2">
                <form style="color: #757575;" [formGroup]="parentForm">
                  <div class="row">
                    <div class="col-md-2">
                      <!-- <div class="font-weight-300 mb-2  d-flex justify-content-center">photo de profil</div> -->
                      <div class="row">
                        <div class="col-md-12 d-flex justify-content-center mb-2">
                          <div class="file-path-wrapper m-0 p-1" style="width: 100px;height: 100px;">
                            <img [src]="parentPhotoUrl || '../../assets/user.png'" class="rounded-circle imgUpload" alt="">
                          </div>
                        </div>
                        <div class="col-md-12 d-flex justify-content-center">
                          <div class="m-0">
                            <div class="file-field md-form m-0">
                              <div mdbBtn color="primary" size="sm" class="waves-light" mdbWavesEffect>
                                <span>choisir la photo</span>
                                <input type="file" accept='image/*' mdbFileSelect (change)="parentImgResult($event)">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="md-form form-sm mt-2 mb-0">
                            <input type="text" class="form-control" id="lastName" formControlName="lastName" class="form-control" mdbInput>
                            <label for="lastName">nom</label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="md-form form-sm mt-2 mb-0">
                            <input type="text" class="form-control" id="firstName" formControlName="firstName" mdbInput>
                            <label for="firstName">prénom</label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="md-form form-sm mt-2 mb-0">
                            <input type="text" class="form-control" id="userName" (blur)="parentNameVerification()" formControlName="userName" class="form-control" mdbInput>
                            <label for="userName">nom d'utilisateur</label>
                            <span *ngIf="parentNameExist" class="text-danger">nom d'utilisateur déja utilisé... Veuillez reéssayer un autre</span>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="md-form form-sm mt-2 mb-0">
                            <mdb-select id="gender" [options]="sexe" placeholder="sexe" formControlName="gender"></mdb-select>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="md-form form-sm mt-2 mb-0">
                            <input type="text" class="form-control" id="dateofBirth" formControlName="dateOfBirth" [textMask]="{mask: birthDateMask}" mdbInput>
                            <label for="dateofBirth">date de naissance</label>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="md-form form-sm mt-2 mb-0">
                            <mdb-select id="cityId" [options]="cities" placeholder="ville de résidence" (ngModelChange)="getParentDistricts()" formControlName="cityId"></mdb-select>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="md-form form-sm mt-2 mb-0">
                            <mdb-select id="districtId" [options]="parentDisctricts" placeholder="quartier/commune" formControlName="districtId">
                            </mdb-select>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="md-form form-sm mt-2 mb-0">
                            <input type="text" class="form-control" id="email" readonly formControlName="email" class="form-control" mdbInput>
                            <label for="email">email</label>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="md-form form-sm mt-2 mb-0">
                            <input type="text" class="form-control" id="phoneNumber" [textMask]="{mask: phoneMask}" formControlName="phoneNumber" class="form-control" mdbInput>
                            <label for="phoneNumber">cellulaire</label>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="md-form form-sm mt-2 mb-0">
                            <input type="text" class="form-control" id="sphone" [textMask]="{mask: phoneMask}" formControlName="secondPhoneNumber" class="form-control" mdbInput>
                            <label for="sphone">deuxieme Contact</label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="md-form form-sm mt-2 mb-0">
                            <input type="password" mdbValidate id="password" minlength="4" (change)="updateparentConfirmValidator()" formControlName="password" class="form-control" mdbInput>
                            <label for="password">mot de passe</label>  
                            <span *ngIf="parentForm.get('password').dirty && parentForm.get('password').errors" class="text-danger">le mot de passe doit comporter au moins 4 caractères.</span>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="md-form form-sm mt-2 mb-0">
                            <input type="password" class="form-control" mdbValidate id="checkPassword" formControlName="checkPassword" class="form-control" mdbInput>
                            <label for="checkPassword">confirmer le mot de passe</label>
    
                            <div class="text-danger" *ngIf="parentForm.get('checkPassword').dirty && parentForm.get('checkPassword').errors">
                              <span *ngIf="parentForm.get('checkPassword').hasError('required')">confirmer le mot de passe!</span>
                              <span *ngIf="parentForm.get('checkPassword').hasError('confirm')">
                                les deux mots de passe que vous entrez sont differents!
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12"><hr></div>
                    <div class="col-md-12">
                      <button mdbBtn size="sm" color="primary" (click)="stepper.next()" [disabled]="!parentForm.valid || parentNameExist === true" >CONTINUER</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </mdb-step>
      <mdb-step name="inscription des enfants" [stepForm]="secondFormGroup" class="step2">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body p-2">  
                <div *ngIf="showChildenList" [@animate]="{value:'*',params:{delay: 100+'ms', y:'50px'}}">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="alert alert-primary" role="alert">
                        <p class="text-17 font-weight-400 m-0">vous avez {{maxChild}} enfants préinscrits. {{children.length}} enfant(s) sur {{maxChild}} enregistré(s)</p>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <button type="button" mdbBtn color="light" mdbWavesEffect size="sm" (click)="add()" *ngIf="children.length < maxChild">ajouter enfant</button>
                    </div>
                    <div class="col-md-12" *ngIf="children.length > 0">
                      <div class="row">
                        <div class="col-md-12"><hr></div>
                        <div class="col-md-3 mt-5 mb-md-5 mb-1" *ngFor="let child of children">
                          <app-register-child-card [child]="child" (prodSelected)="productsSelected"
                            (edit)="edit($event)" (confirm)="confirm($event)"></app-register-child-card>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12"><hr></div>
                    <div class="col-md-12">
                      <button mdbBtn size="sm" color="primary" [disabled]="children.length!==maxChild" (click)="stepper.next(); onStep3Next()">CONTINUER</button>
                      <button mdbBtn size="sm" color="primary" (click)="stepper.previous()">RETOUR</button>
                    </div>
                  </div>
                </div>
                <!-- ---------------------------------------------------------------------------------------------------- -->
                <!-- ---------------------------------------FORMULAIRE DES ENFANTS--------------------------------------- -->
                <!-- ---------------------------------------------------------------------------------------------------- -->  
                <div *ngIf="!showChildenList" [@animate]="{value:'*',params:{delay: 100+'ms', y:'50px'}}">
                  <form style="color: #757575;" [formGroup]="childForm">

                    <div class="row">
                      <div class="col-md-2">
                        <div class="row">
                          <div class="col-md-12 d-flex justify-content-center mb-2">
                            <div class="file-path-wrapper m-0 p-1" style="width: 100px; height: 100px;">
                              <img [src]="childPhotoUrl || '../../assets/user.png'" class="rounded-circle imgUpload" alt="">
                            </div>
                          </div>
                          <div class="col-md-12 d-flex justify-content-center">
                            <div class="m-0">
                              <div class="file-field md-form m-0">
                                <div mdbBtn color="primary" size="sm" class="waves-light" mdbWavesEffect>
                                  <span>choisir la photo</span>
                                  <input type="file" accept='image/*' mdbFileSelect (change)="childImgResult($event)">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-10">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="md-form form-sm mt-2 mb-0">
                              <input type="text" class="form-control" id="clastName" formControlName="lastName" class="form-control" mdbInput>
                              <label for="lastName">nom</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="md-form form-sm mt-2 mb-0">
                              <input type="text" class="form-control" id="cfirstName" formControlName="firstName" mdbInput>
                              <label for="firstName">prénom</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="md-form form-sm mt-2 mb-0">
                              <input type="text" class="form-control" id="cuserName" (blur)="childNameVerification()" formControlName="userName" class="form-control" mdbInput>
                              <label for="userName">nom d'utilisateur</label>
                              <span *ngIf="childNameExist" class="text-danger">nom d'utilisateur déja utilisé... Veuillez reéssayer un autre</span>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="md-form form-sm mt-2 mb-0">
                              <mdb-select id="cgender" [options]="sexe" placeholder="sexe" formControlName="gender"></mdb-select>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="md-form form-sm mt-2 mb-0">
                              <input type="text" class="form-control" id="cdateofBirth" formControlName="dateOfBirth" [textMask]="{mask: birthDateMask}" mdbInput>
                              <label for="cdateofBirth">date de naissance</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="md-form form-sm mt-2 mb-0">
                              <mdb-select id="clevelId" [options]="levels" placeholder="choisir le niveau" formControlName="levelId"
                                (ngModelChange)="getProducts()"></mdb-select>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="md-form form-sm mt-2 mb-0">
                              <input type="text" class="form-control" id="cemail" formControlName="email" class="form-control" mdbInput>
                              <label for="cemail">email</label>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="md-form form-sm mt-2 mb-0">
                              <input type="text" class="form-control" id="cphoneNumber" [textMask]="{mask: phoneMask}" formControlName="phoneNumber" class="form-control" mdbInput>
                              <label for="cphoneNumber">cellulaire</label>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="md-form form-sm mt-2 mb-0">
                              <input type="text" class="form-control" id="csphone" [textMask]="{mask: phoneMask}" formControlName="secondPhoneNumber" class="form-control" mdbInput>
                              <label for="csphone">deuxieme Contact</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="md-form form-sm mt-2 mb-0">
                              <input type="password" mdbValidate id="cpassword" minlength="4" (change)="updateChilConfirmValidator()" formControlName="password" class="form-control" mdbInput>
                              <label for="cpassword">mot de passe</label>  
                              <span *ngIf="childForm.get('password').dirty && childForm.get('password').errors" class="text-danger">le mot de passe doit comporter au moins 4 caractères.</span>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="md-form form-sm mt-2 mb-0">
                              <input type="password" class="form-control" mdbValidate id="ccheckPassword" formControlName="checkPassword" class="form-control" mdbInput>
                              <label for="ccheckPassword">confirmer le mot de passe</label>
      
                              <div class="text-danger" *ngIf="childForm.get('checkPassword').dirty && childForm.get('checkPassword').errors">
                                <span *ngIf="childForm.get('checkPassword').hasError('required')">confirmer le mot de passe!</span>
                                <span *ngIf="childForm.get('checkPassword').hasError('confirm')">
                                  les deux mots de passe que vous entrez sont differents!
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="md-form form-sm mt-2 mb-0">
                              <mdb-select id="productIds" [highlightFirst]="false" [options]="products"
                                [multiple]="true" placeholder="services additionnels" formControlName="productIds"></mdb-select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12"><hr></div>
                      <div class="col-md-12">
                        <button mdbBtn type="button" color="light" size="sm" mdbWavesEffect
                          [disabled]="!childForm.valid || childNameExist === true"
                          (click)="submitChild()">enregistrer</button>
                          <button type="button" mdbBtn color="light" mdbWavesEffect size="sm" (click)="open()">annuler</button>
                      </div>
                    </div>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mdb-step>
      <mdb-step name="récapitulatif de l'inscription" class="step3">
        <div class="row">
          <div class="col-md-3" *ngIf="parents.length > 0">
            <p class="text-17 font-weight-400 m-0">parent</p>
            <hr class="">
            <div class="pt-5 mb-5">
              <mdb-card class="testimonial-card">
                <!--Avatar-->
                <div class="avatar mx-auto">
                  <img src="{{parent.photoUrl || '../../assets/user.png'}}" class="rounded-circle">
                </div>
                <mdb-card-body class="p-2">
                  <p class="text-15 m-0">{{parent.lastName}} {{parent.firstName}}</p>
                  <p class="text-15 m-0" *ngIf="parent.email">{{parent.email}}</p>
                  <!-- <p class="text-15 m-0" *ngIf="!parent.email">email: N/D</p> -->
                  <div class="text-15 m-0" *ngIf="parent.phoneNumber">cell: {{parent.phoneNumber}}</div>
                  <div class="text-15 m-0" *ngIf="!parent.phoneNumber">cell: N/D</div>
                </mdb-card-body>
              </mdb-card>
            </div>
          </div>
          <div class="col-md-9" *ngIf="children.length>0">
            <p class="text-17 font-weight-400 m-0">enfants</p>
            <hr class="">
            <div class="row">
              <div class="col-md-4 my-5" *ngFor="let child of children">
                <div *ngIf="children.length > 0">
                  <mdb-card class="testimonial-card">
                    <!--Avatar-->
                    <div class="avatar mx-auto">
                      <img src="{{child.photoUrl || '../../assets/user.png'}}" class="rounded-circle">
                    </div>
                    <mdb-card-body class="p-2">
                      <p class="text-17 m-0">{{child.lastName}} {{child.firstName}}</p>
                      <p class="text-17 m-0">classe <b>{{child.level}}</b></p>
                      <!-- <p class="text-15 m-0" *ngIf="child.email">email: {{child.email}}</p>
                      <p class="text-15 m-0" *ngIf="!child.email">email: N/D</p> -->
                      <!-- <div class="text-15 m-0" *ngIf="child.phoneNumber">cell: {{child.phoneNumber}}</div> -->
                      <!-- <div class="text-15 m-0" *ngIf="!child.phoneNumber">cell: N/D</div> -->
                    </mdb-card-body>
                  </mdb-card>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <hr>
            <button mdbBtn size="sm" color="primary" (click)="onComplete()">terminer</button>
          </div>
        </div>
    </mdb-step>
</mdb-stepper>

<mdb-card *ngIf="showSuccessDiv" class="animated zoomInUp mt-2">
  <mdb-card-body>

    <mdb-card-title>
      <h4>Enregistrement terminé...</h4>
    </mdb-card-title>

    <mdb-card-text>
      Veuillez cliquer sur le lien ci-dessous pour acceder à la page de connexion
    </mdb-card-text>
    <button mdbBtn type="button" color="primary" size="sm" mdbWavesEffect  [routerLink]="['/signIn']">page de connexion</button>
  </mdb-card-body>
</mdb-card>
