.monimg{
    width: 40px;
    height:  40px;
  }
  
  .btnOrange {
    color: #192C47;
    font-weight: bold;
    background-color: #f89f20;
   }
  
  .btnBlue {
    color: #f89f20;
    font-weight: bold;
    background-color: #192C47;
  }
  
  .btnWhite {
    color: #192C47;
    font-weight: bold;
    background-color: #ffffff;
  }
  
  .btnWhiteO {
    color: #f89f20;
    font-weight: bold;
    background-color: #ffffff;
  }
  // thead, tbody { display: block; }

  tbody {
      height: 200px;       /* Just for the demo          */
      overflow-y: auto;    /* Trigger vertical scroll    */
      overflow-x: hidden;  /* Hide the horizontal scroll */
  }
  
  