<div class="row  justify-content-center align-items-center animated zoomInUp">
    <div class="col-md-12">
        <mdb-card>
            <mdb-card-body>
                <form [formGroup]="searchForm" style="color: #757575;" (ngSubmit)="searchTheme()">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="md-form form-sm m-0">
                                <mdb-select [options]="levels" placeholder="Choisir le niveau" label="niveau d'etude"
                                    formControlName="classLevelId"></mdb-select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="md-form form-sm m-0">
                                <mdb-select [options]="courses" placeholder="Choisir le cours" label="choisir le cours"
                                    formControlName="courseId"></mdb-select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="md-form form-sm m-0">
                                <button mdbBtn class="btnWhiteO ml-2" size="sm" mdbWavesEffect (click)="searchTheme()"
                                    [disabled]="searchForm.value.classLevelId && !searchForm.value.courseId">
                                    <i class="fad fa-users-class fa-1x mr-1" style="--fa-secondary-opacity: 1;
                                  --fa-primary-color:#f89f20;--fa-secondary-color:#f89f20;"></i>
                                    rechercher
                                </button>


                                <button mdbBtn class="btnBlue" size="sm" mdbWavesEffect [routerLink]="['/newTheme']"
                                    routerLinkActive="router-link-active">
                                    <i class="fad fa-user-plus fa-1x mr-1"
                                        style="--fa-secondary-opacity: 1;--fa-primary-color:#f89f20;--fa-secondary-color:#f89f20;"></i>
                                    ajouter un thème ou leçon
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </mdb-card-body>
        </mdb-card>

        <mdb-card class="mt-1" *ngIf="searchDiv">
            <h3 *ngIf="!noResult && themes.length===0 && lessons.length===0"><b>Patienter...</b></h3>
            <h3 *ngIf="noResult"><b>{{noResult}}</b></h3>
            <div *ngIf="themes.length>0">
                <mdb-accordion [multiple]="true" *ngFor="let theme of themes">
                    <mdb-accordion-item [collapsed]="true">
                        <mdb-accordion-item-head>
                            <b>{{theme.name}} <span *ngIf="theme.desc">({{theme.desc}})</span></b>
                        </mdb-accordion-item-head>
                        <mdb-accordion-item-body>

                            <mdb-accordion [multiple]="true" *ngFor="let lesson of theme.lessons">
                                <mdb-accordion-item [collapsed]="true">
                                    <mdb-accordion-item-head>
                                        <b>{{lesson.name}} <span *ngIf="lesson.desc">({{lesson.desc}})</span></b>
                                    </mdb-accordion-item-head>
                                    <mdb-accordion-item-body>
                                        <table class="table table-sm table-striped m-0 table-hover" style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Chapitre</th>
                                                    <th>Volume horaire</th>
                                                    <th>Description</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let content of lesson.lessonContents; let i=index">
                                                    <td>{{i+1}}-</td>
                                                    <td>{{content.name}}</td>
                                                    <td >{{content.nbHours}}</td>
                                                    <td>{{content.desc}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </mdb-accordion-item-body>
                                </mdb-accordion-item>
                            </mdb-accordion>

                        </mdb-accordion-item-body>
                    </mdb-accordion-item>
                </mdb-accordion>
            </div>

            <div *ngIf="lessons.length>0">
                <mdb-accordion [multiple]="true" *ngFor="let lesson of lessons">
                    <mdb-accordion-item [collapsed]="true">
                        <mdb-accordion-item-head>
                            <b>{{lesson.name}} <span *ngIf="lesson.desc">({{lesson.desc}})</span></b>
                        </mdb-accordion-item-head>
                        <mdb-accordion-item-body>
                            <table class="table table-sm table-striped m-0 table-hover" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Chapitre</th>
                                        <th>Volume horaire</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let content of lesson.lessonContents; let i=index">
                                        <td>{{i+1}}-</td>
                                        <td>{{content.name}}</td>
                                        <td >{{content.nbHours}}</td>
                                        <td>{{content.desc}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </mdb-accordion-item-body>
                    </mdb-accordion-item>
                </mdb-accordion>

            </div>


        </mdb-card>
    </div>
</div>