<div class="card">
    <form nz-form [nzLayout]="'inline'"  #typeForm="ngForm" class="ml-3" (ngSubmit)="addNewType()">
        <nz-form-item>
          <nz-form-control>
            <nz-input-group >
              <input [(ngModel)]="newTypeName" name="newTypeName"  nz-input placeholder="nom du cours" required>
            </nz-input-group>
         </nz-form-control>
      
          <nz-form-control>
            <button nz-button nzType="primary" [disabled]="!typeForm.valid" class="ml-3">AJOUTER</button>
          </nz-form-control>
        </nz-form-item>
      </form>
</div>
<div class="card mt-2">
    <table class="table table-sriped table-sm table-hover table-borderless" >
        <thead>
          <tr>
            <th>Profil</th>
            <th>Total</th>
            <th>Total Actif</th>
            <th>Total Inactif</th>
            <th>option</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let type of userTypes">
            <td>
                <p *ngIf="!type.visible">{{type.userType.name}}</p>
      
                <div class="form-inline" *ngIf="type.visible">
                   <form nz-form [nzLayout]="'inline'">
                       <nz-form-item>
                         <nz-form-control>
                           <nz-input-group >
                             <input nz-input  name ="typename" [(ngModel)]="typeName">
                           </nz-input-group>
                        </nz-form-control>
                     
                         <nz-form-control>
                             <button nz-button nzType="default" class="ml-2" (click)="cancelTypeEditing()" title="annuler"><i class="fa fa-ban"></i></button>
                             <button nz-button nzType="primary" class="ml-2" (click)="saveTypeEdition()" ><i class="fa fa-floppy-o" title="enregistrer"></i></button>
                         </nz-form-control>
                       </nz-form-item>
                     </form>
                  </div>
      
              </td>
            <td>{{type.total}}</td>
            <td>{{type.totalActive}}</td>
            <td class="text-warning">{{type.total - type.totalActive}}</td>
            <td>
              <button nz-button nzType="default" (click)="modifierType(type.userType.id)"> <i class="fa fa-edit"></i> </button>
              <button nz-button nzType="default" (click)="deleteUserType(type.userType.id)" class="ml-2" [disabled]="type.total > 0"> <i class="fa fa-trash-o"></i> </button>
            </td>
          </tr>
          <tr>
            <td><b>Total</b></td>
            <td><b>{{total}}</b></td>
            <td><b>{{totalActive}}</b></td>
            <td><b class="text-warning">{{total-totalActive}}</b></td>
            <td></td>
          </tr>
         
        </tbody>
      
      </table>
</div>
