// .layout-sidebar-large {
//     .main-header {
//         position: fixed;
//         width: 100%;
//         height: 80px;//$topbar-height;
//         box-shadow: 0 1px 15px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);
//         display: flex;
//         align-items: center;
//         flex-wrap: wrap;
//         justify-content: space-between;
//         background: #fff;// $background;
//         z-index: 100;
//         .menu-toggle {
//             width: 90px;
//             display: flex;
//             flex-direction: column;
//             align-items: center;       
//             cursor: pointer;
//             margin-right: 12px;
//             div {
//                 width: 24px;
//                 height: 1px;
//                 background: darken(desaturate(#663399, 40), 12%); //$foreground;
//                 margin: 3px 0;
//             }
//         }
    
//         .search-bar {
//             display: flex;
//             align-items: center;
//             justify-content: left;
//             background: #f8f9fa; //$gray-100;
//             border: 1px solid #eee; //$gray-200;
//             border-radius: 20px;
//             position: relative;
//             width: 230px;
//             height: 40px;
//             input {
//                 background: transparent;
//                 border: 0;
//                 color: #212121;
//                 font-size: .8rem;
//                 line-height: 2;
//                 height: 100%;
//                 outline: initial!important;
//                 padding: .5rem 1rem;
//                 width: calc(100% - 32px);
//             }
//             .search-icon {
//                 font-size: 18px;
//                 width: 24px;
//                 display: inline-block;
//             }
//         }
    
//         .header-icon {
//             font-size: 19px;
//             cursor: pointer;
//             height: 36px;
//             width: 36px;
//             line-height: 36px;
//             display: inline-block;
//             text-align: center;
//             border-radius: 8px;
//             margin: 0 2px;
//             &:hover {
//                 background: #f8f9fa;//$gray-100;
//             }
//             &.dropdown-toggle {
//                 &:after { display: none; }
//             }
//         }
//         .header-part-right {
//             display: flex;
//             align-items: center;
//             .user {
//                 margin-right: 2rem;
//                 img {
//                     width: 36px;
//                     height: 36px;
//                     border-radius: 50%;
//                 }
//             }
//         }
//         .notification-dropdown {
//             padding: 0;
//             max-height: 260px;
//             cursor: pointer;
//             .dropdown-item {
//                 display: flex;
//                 align-items: center;
//                 padding: 0;
//                 height: 72px;
//                 border-bottom: 1px solid #dee2e6; //$gray-300;
//                 .notification-icon {
//                     background: #eee; //$gray-200;
//                     height: 100%;
//                     width: 44px;
//                     display: flex;
//                     align-items: center;
//                     justify-content: center;
//                     i {
//                         font-size: 18px;
//                     }
//                 }
//                 .notification-details {
//                     padding: .25rem .75rem;
//                 }
//                 &:active {
//                     color: inherit;
//                     background: inherit;
//                 }
//             }
            
//         }
//     }
// }


// @media (max-width: 991px) {
//     .layout-sidebar-large {
//         .main-header {
//             .search-bar {
//                 width: 180px;
//             }
//             .menu-toggle {
//                 width: 24px;
//                 margin-right: 36px;       
//             }
//         }
//     }
// }

// @media (max-width: 780px) {
//   .layout-sidebar-large {
//     .main-header {
//         .search-bar {
//             display: none;
//         }
//     }
//   }
// }

// @media (max-width: 767px) {
//     .layout-sidebar-large {
//         .main-header {
//             .menu-toggle {
//                 width: 24px;
//                 margin-right: 36px;       
//             }
//         }
//     }
// }

// @media (max-width: 576px) {
//     .layout-sidebar-large {
//         .main-header {
//             height: 70px;//$topbar-height-mobile;
//             padding: 0 1.5rem;
//             .logo {
//                 width: 60px;
//             }
//             .search-bar {
//                 display: none;
//             }
//             .menu-toggle {
//                 width: 60px;
//             }
//             .header-part-right {
//                 .user {
//                     margin-right: 0;
//                     padding-right: 0;
//                 }
//             }
//         }
//         .notification-dropdown {
//             left: -180px !important;
//         }
//     }
    

// }

// @media (max-width: 360px) {
//     .layout-sidebar-large {
//         .main-header {
//             .menu-toggle {
//                 margin: 0;
//             }
//         }
//     }
    

// }


// .dropdown-toggle {
//     position: relative;
//     &.btn {
//         padding-right: 28px;
//     }
//     &::after {
//         position: absolute;
//         top: calc(50% - 2px);
//         right: 10px !important;
//     }
// }
// .dropdown-menu {
//     border: 0;
//     box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.08);
// }
// .dropdown-item {
//     padding: .42rem 1.5rem;
// }
// .menu-icon-grid {
//     width: 220px;
//     padding: 0 8px;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     > a {
//         display: inline-flex;
//         width: 6rem;
//         flex-direction: column;
//         align-items: center;
//         padding: 18px 12px;
//         color: #343a40; //$gray-800;
//         border-radius: 4px;
//         i {
//             font-size: 28px;
//             margin-bottom: 4px;
//         }
//         &:hover {
//             background: #007bff; //$primary;
//             color: #fff;//$white;
//         }
//     }
// }
// .mega-menu {
//     position: static;
//     .dropdown-toggle {
//         background: transparent;
//     }
//     .dropdown-menu {
//         width: calc(100% - 120px);
//         max-width: 1200px;
//         padding: 0;
//         overflow: hidden;
//         max-height: calc(100vh - 100px);
//         overflow-y: scroll;
//         .bg-img {
//             // background: linear-gradient(to right, $primary, $info);
//             background: linear-gradient(to right, #007bff, #17a2b8);
//         }
//         .bg-img, .bg-img .title {
//             color: #ffffff;
//         }
        
//         ul.links {
//             list-style: none;
//             margin: 0;
//             padding: 0;
//             column-count: 2;
//             li a {
//                 display: inline-block;
//                 margin-bottom: 8px;
//                 color: #6c757d;//$gray-600;
//                 &:hover {
//                     color: #007bff;//$primary;
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 767px) {
//     .mega-menu {
//         .dropdown-menu {
//             left: 0 !important;
//             right: auto !important;
//             width: calc(100% - 10px);
//         }
//     }
// }

// [dir="rtl"] {
//     .mega-menu {
//         .dropdown-menu {
//             left: auto !important;
//             right: 16px !important;
//         }
//     }
//     .notification-dropdown.dropdown-menu, 
//     .header-account-dropdown.dropdown-menu,
//     .menu-icon-grid-dropdown.dropdown-menu {
//             right: auto !important;
//             left: 0 !important;
        
//     }
    
// }

.logo {
    // width: $sidebar-left-width;
    img {
        width: 45px;
        height: 50px;
        margin: 0 auto;
        // display: block;
    }
}
