<mdb-navbar #navbarid SideClass="navbar navbar-expand-md navbar-light white ie-nav fixed-top scrolling-navbar" [containerInside]="false">
    <mdb-navbar-brand>
        <div class="logo"><img src="../../../assets/images/logo_sm.png" alt=""></div>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <div *ngIf="parentLoggedIn()">
          <app-nav-parent (closeNav)="closeNav()"></app-nav-parent>
        </div>        
        
        <div *ngIf="studentLoggedIn()">
          <app-nav-student (closeNav)="closeNav()"></app-nav-student>
        </div>        
        
        <div *ngIf="teacherLoggedIn()">
          <app-nav-teacher (closeNav)="closeNav()"></app-nav-teacher>
        </div>        
            
        <div *ngIf="adminLoggedIn()">
          <app-nav-admin (closeNav)="closeNav()"></app-nav-admin>
        </div>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" (click)="closeNav()" [routerLink]="['/userAccount', user.id]">
            <i class="fad fa-user mr-1" style="font-size:20px;--fa-primary-color: #f89f20; --fa-secondary-color: #192C47; --fa-secondary-opacity: 1"></i>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link">
            <i class="fad fa-expand-alt" appFullScreen style="font-size:20px;--fa-primary-color: #f89f20; --fa-secondary-color: #192C47; --fa-secondary-opacity: 1"></i>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" (click)="logout()">
            <i class="fad fa-sign-out-alt" style="font-size:25px;--fa-primary-color: #f89f20; --fa-secondary-color: #192C47; --fa-secondary-opacity: 1"></i>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <div class="nav-link text-15 text-capitalize">{{acc_name}}</div>
        </li>
        <li class="nav-item  waves-light" mdbWavesEffect>
          <div class="">
            <img [src]="photoUrl || '../../../assets/user.png'" alt="" style="width: 35px;" class="rounded-circle z-depth-0">
          </div>
        </li>
      </ul>
    </links>
</mdb-navbar>
