<div class="form-inline px-2 mt-2">
  <label>enfant : </label>
  <select #childselect class="form-control ml-1" style="width: 230px" (change)="onChangedChild()">
    <option value="0">choisir un enfant</option>
    <option *ngFor="let child of children" value="{{child.id}}">
      <div class="form-inline">
        <img src="{{child.photoUrl}} || '../../../../../assets/user.png'" alt="" class="rounded-circle">
        <label>{{child.lastName}} {{child.firstName}}</label>
      </div>
    </option>
  </select>
</div>

<div class="row justify-content-center" style="display: none">
  <div *ngFor="let child of children" class="col-lg-2 col-md-3 col-sm-6">
    <app-user-card [user]="child"></app-user-card>
  </div>
</div>

<div *ngIf="childselect.value != 0">

    <hr style="width: 100%" />

    <div class="d-flex justify-content-center">
    
    <div class="card border-secondary mb-3 mr-3" style="width: 400px;max-height: 250px">
      <div class="card-header"><h4 class="card-title">Header</h4></div>
      <div class="card-body">
        <h4 class="card-title">Secondary card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
      
    <div class="card border-secondary mb-3 mr-3" style="width: 400px;">
      <div class="card-header"><h4 class="card-title">Header</h4></div>
      <div class="card-body">
        <h4 class="card-title">Secondary card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
        
    <div class="card border-secondary mb-3" style="width: 400px;">
      <div class="card-header"><h4 class="card-title">Header</h4></div>
      <div class="card-body">
        <h4 class="card-title">Secondary card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
          
    </div>
    
  <div class="d-flex justify-content-center">
    
    <div class="card border-secondary mb-3 mr-3" style="width:400px;max-width: 400px; overflow-y: scroll;max-height: 250px">
      <div class="card-header">
        <h4 class="card-title">emploi du temps de {{currentChild?.userName}}</h4>
      </div>
      <div class="list-group" *ngFor="let course of courses">
        <a href="#" class="list-group-item list-group-item-action">
          {{course.startHourMin}} - {{course.endHourMin}} : {{course.courseName}}
        </a>
      </div>
    </div>
    
    <div class="card border-secondary mb-3 mr-3" style="max-width: 400px;">
      <div class="card-header"><h4 class="card-title">Header</h4></div>
      <div class="card-body">
        <h4 class="card-title">Secondary card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
      
    <div class="card border-secondary mb-3" style="max-width: 400px;">
      <div class="card-header"><h4 class="card-title">Header</h4></div>
      <div class="card-body">
        <h4 class="card-title">Secondary card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
              
  </div>

</div>
  