<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
    <div class="text-15 font-weight-375 w-100" id="myModalLabel">compétences pour {{courseSkills.courseName}}</div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-3">
        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
          <button type="button" mdbBtn *ngFor="let cs of courseSkills.skills" 
            (click)="loadProgElts(cs.progElts)" color="light" class="waves-light ml-0 mb-2" mdbWavesEffect>
              {{cs.skillName}}
          </button>
        </div>
      </div>
      <div class="col-md-9">
        <div *ngIf="!progElts" class="jumbotron m-2">
          <h5 class="lead">sélectionner une compétence...</h5>
        </div>
        <div *ngIf="progElts">
          <div *ngFor="let item of progElts">
            <mdb-checkbox (ngModelChange)="addProgElt($event, item)"  [(ngModel)]="item.checked" value="{{item.progEltId}}">
              <span class="text-15 mb-1">{{item.progEltName}}</span>
            </mdb-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" mdbBtn size="sm" color="primary" class="waves-light" aria-label="Close"
      (click)="modalRef.hide()" mdbWavesEffect>fermer</button>
  </div>
</div>

<!-- <div class="row" style="overflow-y: scroll;min-height: 300px;max-height: 300px">
  <div class="col-sm-3" style="overflow-y: scroll;max-height: 300px">
    <nz-collapse nzAccordion>
      <nz-collapse-panel *ngFor="let cs of coursesSkills" [nzHeader]="cs.courseName">
        <button nz-button nzType="default" *ngFor="let skill of cs.skills"
          (click)="loadProgElts(skill.progElts, cs.courseName + ' - ' + skill.skillName)" nzBlock>{{skill.skillName}}
        </button>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
  <div class="col-sm-9">
    <nz-list nzBordered nzSize="small" [nzHeader]="progEltsHeader">
      <div *ngIf="!progElts" class="jumbotron m-2" style="height: 150px">
        <h5 class="lead">sélectionner une compétence...</h5>
      </div>
      <div *ngIf="progElts">
        <nz-list-item *ngFor="let item of progElts">
            <label nz-checkbox (nzCheckedChange)="addProgElt($event, item)" 
              [(ngModel)]="item.checked" nzValue="{{item.progEltId}}">
              {{item.progEltName}}
            </label>
        </nz-list-item>
      </div>
    </nz-list>
  </div>
</div> -->