<div *ngIf="wait" class="spinning-preloader-container">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue">
      <div class="circle-clipper left">
        <div class="circle"> </div>
      </div> <div class="gap-patch">
        <div class="circle"> </div>
      </div>
    </div>
    <div class="spinner-layer spinner-red">
      <div class="circle-clipper left">
        <div class="circle"> </div>
      </div> <div class="gap-patch">
        <div class="circle"> </div>
      </div>
    </div>
    <div class="spinner-layer spinner-yellow">
      <div class="circle-clipper left">
        <div class="circle"> </div>
      </div> <div class="gap-patch">
        <div class="circle"> </div>
      </div>
    </div>
    <div class="spinner-layer spinner-green">
      <div class="circle-clipper left">
        <div class="circle"> </div>
      </div> <div class="gap-patch">
        <div class="circle"> </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!wait">
  <div>
    <app-navGPanel *ngIf="loggedIn() && accountValidated()"></app-navGPanel>
    <app-navNotLogged *ngIf="!loggedIn() || !accountValidated()"></app-navNotLogged>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
