<div class="row">
  <div class="col-md-12 d-flex">
    <a [routerLink]="['/tuitions']">
      <i class="fad fa-undo-alt fa-2x mr-2" style="--fa-secondary-opacity: 1;--fa-primary-color:#f89f20;--fa-secondary-color:#192C47;"></i>
    </a>
    <i class="fad fa-users fa-2x mr-2" style="--fa-secondary-opacity: 1;--fa-primary-color:#f89f20;--fa-secondary-color:#192C47;"></i>
    <div class="text-19">inscriptions par niveau</div>
  </div>
  <div class="col-md-12"><hr class="my-2"></div>
  <div class="col-md-12 mb-2">
    <div class="border rounded-lg text-16 p-2 mb-2">
      <div class="row">
        <div class="col-md-3">
          <b>{{totalTuitionsOK | number: '1.0-0': 'fr-FR'}} / {{totalTuitions | number: '1.0-0': 'fr-FR'}} inscriptions validées</b>
        </div>
        <div class="col-md-9">
          <b>{{paid | number: '1.0-0': 'fr-FR'}} F reçus sur {{invoiced | number: '1.0-0': 'fr-FR'}} F</b>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-1" *ngFor="let level of tuitionList; let i = index">
    <div class="border rounded-lg p-2">
      <div class="row">
        <div class="col-md-12 text-14"><a [routerLink]="['/tuitionDetails', level.classLevelId]">liste des élèves</a></div>
        <div class="col-md-3 text-15 text-muted pr-0">niveau {{level.classLevelName}}</div>
        <div class="col-md-4 text-15 pl-md-0">{{level.nbTuitionsOK}} / {{level.nbTuitions}} inscr. validées</div>
        <div class="col-md-5 text-15">{{level.strLevelAmountOK}}/{{level.strLevelAmount}}</div>
      </div>
    </div>
  </div>
</div>