.btnOrange {
  color: #192C47;
  font-weight: bold;
  background-color: #f89f20;
 }

.btnBlue {
  color: #f89f20;
  font-weight: bold;
  background-color: #192C47;
}

.btnWhiteO {
  color: #f89f20;
  font-weight: bold;
  background-color: #ffffff;
}
