<div  class="row animated zoomInDown" >
  <div class="col-md-12 mb-2 d-none d-md-block">
    <div class="d-flex">
      <div class="my-auto">
        <i class="fad fa-users-class text-20 mr-2" style="--fa-secondary-opacity: 1;
          --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
      </div>
      <div class="text-17 mr-1 my-auto">affectation des classes pour</div>
      <div class="text-17 text-capitalize my-auto">{{teacher.lastName}} {{teacher.firstName}}</div>
    </div>
  </div>
  <div class="col-md-12 d-md-none">
    <div class="d-flex align-content-center">
      <i class="fad fa-users-class text-15 mr-2" style="--fa-secondary-opacity: 1;
        --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
      <p class="text-15 mr-1">affectation des classes</p>
    </div>
    <p class="text-15 text-capitalize">enseignant: {{teacher.lastName}} {{teacher.firstName}}</p>
  </div>

  <!-- <div class="col-md-12"><hr class="mt-1 mb-2"></div> -->
  <div class="col-md-12">
    <form [formGroup]="teacherForm" (ngSubmit)="assignment()">
      <div class="row">
        <div class="col-md-6" formArrayName="courses" *ngFor="let course of teacherForm.get('courses')['controls']; let i = index;">
          <div [formGroupName]="i">
            <div class="card mb-2">
              <div class="card-body p-2">
                <div class="d-flex align-content-center">
                  <i class="fad fa-books text-17 mr-2" style="padding-top: 4px;--fa-primary-opacity: 1;--fa-secondary-opacity: 1;
                    --fa-primary-color: #192C47; --fa-secondary-color:#f89f20;"></i>
                  <div class="text-17 text-capitalize">{{course.value.courseName}}</div>
                </div>
                <div class="text-13 textDarkRed">les classes bloquées (en orange) sont déjà attribuées à un autre enseignant</div>
                <div class="row">
                  <div class="col-md-12" formArrayName="levels" *ngFor="let level of course.get('levels')['controls']; let j = index">
                    <div [formGroupName]="j">
                      <hr class="my-1">
                      <div class="row">
                        <div class="col-md-3">
                          <div class="text-15 my-2">niveau {{level.value.levelName}}</div>
                        </div>
                        <div class="col-md-9 my-auto">
                          <div class="row">
                            <div class="col-sm-3 pr-0" formArrayName="classes"
                              *ngFor="let class of level.get('classes')['controls']; let k = index">
                              <div [formGroupName]="k">
                                <div *ngIf="class.value.assigned">
                                  <div class="switch my-2 logo-switch">
                                    <label>
                                      <input type="checkbox" disabled formControlName="active">
                                      <span class="slider"></span>
                                      <span class="text-12 text-muted">{{class.value.className}}</span>
                                    </label>
                                  </div>
                                </div>
                                <div *ngIf="!class.value.assigned">
                                  <div class="switch my-2">
                                    <label>
                                      <input type="checkbox" formControlName="active">
                                      <span class="slider"></span>
                                      <span class="text-12 text-muted">{{class.value.className}}</span>
                                    </label>
                                  </div>
                                </div>
                                <!-- <div class="switch my-2 logo-switch">
                                  <label>
                                    <input type="checkbox" formControlName="active">
                                    <span class="slider"></span>
                                    <span class="text-12 text-muted">{{class.value.className}}</span>
                                  </label>
                                </div> -->
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- <div class="col-md-12"><hr class="my-1"></div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12"><hr class="my-2"></div>
        <div class="col-md-8"></div>
        <div class="col-md-2 mb-1">
          <button type="button" [disabled]="wait" [routerLink]="['/teachers']" mdbBtn block="true" class="btnOrange float-right" size="sm" mdbWavesEffect>
            <span *ngIf="wait" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            annuler
          </button>
        </div>
        <div class="col-md-2 mb-1">
          <button type="submit" [disabled]="wait" mdbBtn block="true" class="btnBlue float-right" size="sm" mdbWavesEffect>
            <span *ngIf="wait" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            valider
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
