<p class="card-title mt-1">Configuration de mot de passe</p>
<form style="color: #757575;" [formGroup]="passwordForm" (ngSubmit)="submitForm()">

  <mdb-card>
    <mdb-card-body class="px-lg-5 pt-0">
      <div class="md-form">
        <div class="md-form form-sm mt-2 mb-0">
          <input type="password" mdbValidate id="password" minlength="4" (change)="updateConfirmValidator()"
            formControlName="password" class="form-control" mdbInput>
          <label for="password">mot de passe</label>
          <span *ngIf="passwordForm.get('password').dirty && passwordForm.get('password').errors" class="text-danger">le
            mot de passe doit comporter au moins 4 caractères.</span>
        </div>
      </div>

      <div class="md-form">
        <div class="md-form form-sm mt-2 mb-0">
          <input type="password" class="form-control" mdbValidate id="checkPassword" formControlName="checkPassword"
            class="form-control" mdbInput>
          <label for="checkPassword">confirmer le mot de passe</label>
          <div class="text-danger"
            *ngIf="passwordForm.get('checkPassword').dirty && passwordForm.get('checkPassword').errors">
            <span *ngIf="passwordForm.get('checkPassword').hasError('required')">confirmer le mot de passe!</span>
            <span *ngIf="passwordForm.get('checkPassword').hasError('confirm')">
              les deux mots de passe que vous entrez sont differents!
            </span>
          </div>
        </div>
      </div>

      <div class="md-form">
        <button type="submit" [disabled]="!passwordForm.valid" mdbBtn color="info" size="sm"
          mdbWavesEffect><span>enregistrer</span></button>
      </div>

    </mdb-card-body>
  </mdb-card>
</form>