<div class="card mt-2">
  <div class="card-body p-2">
    <div *ngIf="classid != 0">
      <div *ngIf="showInfos" class="row animated fadeIn">
        <div class="col-12 my-auto">
          <a class="d-flex" (click)="toggleInfos()">
            <i class="text-16 fad fa-minus-square mr-1 my-1" style="--fa-secondary-opacity: 1;
              --fa-primary-color:#192C47;--fa-secondary-color:#f89f20"></i>
            <div class="text-16"><b>carnet de notes</b></div>
          </a>
          <div *ngIf="userGrades?.avg > 0" class="text-15 mt-1">
            <span>moy. générale:</span>
            <span *ngIf="!userGrades?.avgOK" class="ml-1 text-danger"><b>{{userGrades?.avg}}/{{userGrades?.gradedOutOf}}</b></span>
            <span *ngIf="userGrades?.avgOK" class="ml-1"><b>{{userGrades?.avg}}/{{userGrades?.gradedOutOf}}</b></span>
          </div>
          <div *ngIf="userGrades?.avg < 0" class="text-15 mt-1">
            <span>moy. générale: N/D</span>
          </div>
        </div>
        <div class="col-md-12"><hr class="my-1"></div>
        <div class="col-md-12 d-none d-md-block text-13 text-danger my-1">
          <span>(-): plus faible note</span>
          <span class="ml-2">(moy.): moyenne de la classe</span>
          <span class="ml-2">(+) plus forte note</span>
        </div>
        <div class="col-md-12 d-md-none text-13 text-danger my-1">
          <div>(-): plus faible note</div>
          <div>(moy.): moyenne de la classe</div>
          <div>(+) plus forte note</div>
        </div>
        <div class="col-md-12 text-15 font-weight-bold">dernières notes</div>
        <div *ngIf="userGrades?.lastGrades.length == 0" class="col-md-4 mb-1 text-15 text-muted">aucune note disponible</div>
        <div class="col-md-4 mb-1" *ngFor="let grade of userGrades?.lastGrades">
          <div class="border rounded-lg p-1">
            <div class="text-13">
              <span>{{grade.evalDate}}.</span>
              <span class="ml-1">{{grade.courseAbbrev}}:</span>
              <span *ngIf="!grade.gradeOK" class="ml-1 text-danger">{{grade.grade}}/{{grade.gradeMax}}</span>
              <span *ngIf="grade.gradeOK" class="ml-1 text-success">{{grade.grade}}/{{grade.gradeMax}}</span>
            </div>
            <div class="text-13">
              <span>(-) {{grade.classGradeMin}}/{{grade.gradeMax}}</span>
              <span class="ml-3">(+) {{grade.classGradeMax}}/{{grade.gradeMax}}</span>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-3">
          <div class="border rounded-lg p-1">
            <div class="text-15 font-weight-bold">moyennes des cours</div>
            <hr class="my-1">
            <div class="row">
              <div class="col-md-6 mb-1" *ngFor="let course of userGrades?.courses">
                <div class="border rounded-lg p-1">
                  <div *ngIf="course.userAvg < 0" class="text-13">
                    {{course.abbrev}}: <span *ngIf="!course.userAvgOK && course.userAvg < 0">N/D</span>
                  </div>
                  <div *ngIf="course.userAvg >= 0" class="text-13 d-none d-md-block">
                    <div class="d-flex justify-content-between">
                      <div>
                        {{course.abbrev}}:
                        <span *ngIf="!course.userAvgOK" class="text-danger">{{course.userAvg}}/{{course.gradedOutOf}}</span>
                        <span *ngIf="course.userAvgOK" class="text-success">{{course.userAvg}}/{{course.gradedOutOf}}</span>
                      </div>
                      <div>(-) {{course.classAvgMin}}</div>
                      <div>(moy.) {{course.classAvg}}</div>
                      <div>(+) {{course.classAvgMax}}</div>
                    </div>
                  </div>
                  <div *ngIf="course.userAvg >= 0" class="text-15 d-md-none">
                    {{course.abbrev}}:
                    <span *ngIf="!course.userAvgOK" class="text-danger">{{course.userAvg}}/{{course.gradedOutOf}}</span>
                    <span *ngIf="course.userAvgOK" class="text-success">{{course.userAvg}}/{{course.gradedOutOf}}</span>
                    <div class="d-flex justify-content-between">
                      <div>(-) {{course.classAvgMin}}</div>
                      <div>(moy.) {{course.classAvg}}</div>
                      <div>(+) {{course.classAvgMax}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!showInfos" class="row animated fadeIn">
        <div class="col-12">
          <a class="d-flex" (click)="toggleInfos()">
            <i class="text-16 fad fa-plus-square mr-1 my-1" style="--fa-secondary-opacity: 1;
              --fa-primary-color:#192C47;--fa-secondary-color:#f89f20"></i>
            <div class="text-16"><b>carnet de notes</b></div>
          </a>
          <div class="text-15">
            <span>moyenne générale:</span>
            <span *ngIf="!userGrades?.avgOK" class="ml-1 text-danger"><b>{{userGrades?.avg}}/{{userGrades?.gradedOutOf}}</b></span>
            <span *ngIf="userGrades?.avgOK" class="ml-1"><b>{{userGrades?.avg}}/{{userGrades?.gradedOutOf}}</b></span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="classid == 0">
      <div class="col-12">
        <a class="d-flex" (click)="toggleInfos()">
          <i class="text-16 fad fa-plus-square mr-1 my-1" style="--fa-secondary-opacity: 1;
            --fa-primary-color:#192C47;--fa-secondary-color:#f89f20"></i>
          <div class="text-16"><b>carnet de notes</b></div>
        </a>
        <div><hr class="my-1"></div>
        <div class="text-15">
          les notes ne sont pas disponibles, l'élève n'est pas affecté à une classe. 
        </div>
      </div>
    </div>
  </div>
</div>
