<div class="card">
        <form nz-form [nzLayout]="'inline'"  #searchForm="ngForm" class="ml-3" (ngSubmit)="search()">
            <nz-form-item>
              <nz-form-control>
                <nz-input-group >
                  <input [(ngModel)]="firstName" name="firstName"  nz-input placeholder="nom " >
                </nz-input-group>
             </nz-form-control>
             <nz-form-control>
                    <nz-input-group  class="ml-2">
                      <input [(ngModel)]="lastName" name="lastName"  nz-input placeholder="prenoms" >
                    </nz-input-group>
                 </nz-form-control>
          
              <nz-form-control>
                <button nz-button nzType="default" [disabled]="!searchForm.valid || seachButton !== 'rechercher'" class="ml-3">{{seachButton}}</button>
              </nz-form-control>
            </nz-form-item>
          </form>
    </div>
    <div>

</div>
<div class="card mt-3" *ngIf="showSearchDiv == true">
        <nz-alert *ngIf="users.length === 0"
        nzType="warning"
        nzMessage="Information"
        nzDescription="Aucune personne trouvée..."
        nzShowIcon>
      </nz-alert>
    
      <div *ngIf="users.length > 0">
          <nz-alert nzType="info" nzMessage="{{users.length}} personne(s) trouvée(s)" nzShowIcon></nz-alert>

          <nz-table #basicTable [nzData]="users" [nzScroll]="{ y: '300px' }" [nzSimple]="true" [nzBordered]="true" 
          [nzSimple]="true" [nzSize]="'small'" [nzShowPagination]="false">
              <thead>
                <tr>
                    <th nzWidth="35%">Nom Complet</th>
                    <th nzWidth="20%">Contact(s)</th>
                    <th nzWidth="20%">Email</th>
                    <th nzWidth="5%">actif ?</th>
                    <th nzWidth="10%">Type</th>
                    <th nzWidth="10%">option</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let user of users">
                      <td> <img src="{{user.photoUrl || '../../assets/user.png'}}" class="rounded-circle monimg" alt="">{{user.lastName}} {{user.firstName}}</td>
                      <td> {{user.phoneNumber}} <span *ngIf="user.secondPhoneNumber">- {{user.secondPhoneNumber}}</span></td>
                      <td> {{user.email}}</td>
                      <td>
                          <span *ngIf="user.validatedCode === true">OUI</span>
                          <span *ngIf="user.validatedCode === false">NON</span>
                      </td>
                      <td>{{user.userTypeName}}</td>
                      <td> 
                          <button nz-button nzType="default" [nzSize]="'small'" (click)="details(user)" title="details"> <i class="fa fa-info" ></i> </button>
                        <button nz-button nzType="default" [nzSize]="'small'" (click)="edit(user)" class="ml-2" title="editer"> <i class="fa fa-edit" ></i> </button>
                      
                      </td>
                    </tr>
              </tbody>
            </nz-table>
      </div>
     </div>
    
     <div *ngIf="userDetailed" class="card" [@slideInOut]>
       <div class="row" *ngIf="userTypeId === teacherTypeId">
         <div class="col-sm-4">
            <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
                <nz-card-meta nzTitle="{{userDetailed.teacher.lastName}} {{userDetailed.teacher.firstName}}"
                 nzDescription="date de naissance : {{userDetailed.teacher.dateOfBirth|date:'dd-MM-yyyy'}} "></nz-card-meta>
              </nz-card>
              <ng-template #coverTemplate>
                <img alt="example" src="{{userDetailed.teacher.photoUrl || '../../assets/user.png'}}" class="card-img-top img-thumbnail"/>
              </ng-template>
         </div>
         <div class="col-sm-8">
           <table class="table table-xs table-berdered">
             <thead>
               <tr>
                 <th>Cours</th>
                 <th>Classe(s)</th>
               </tr>
             </thead>
             <tbody>
               <tr *ngFor="let cours of userDetailed.courses">
                 <td>{{cours.course.name}}</td>
                 <td><span *ngFor="let class of cours.classes"> <span style="background-color: burlywood;margin-left: 1px;">{{class.class.name}}</span> &nbsp;</span></td>
               </tr>
             </tbody>

           </table>
         </div>
       </div>
       <div class="row" *ngIf="userTypeId === studentTypeId">
          <div class="col-sm-4">
              <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
                  <nz-card-meta nzTitle="{{userDetailed.student.lastName}} {{userDetailed.student.firstName}} ( {{userDetailed.student.className}} )"
                   nzDescription="date de naissance : {{userDetailed.student.dateOfBirth|date:'dd-MM-yyyy'}} "></nz-card-meta>
                </nz-card>
                <ng-template #coverTemplate>
                  <img alt="example" src="{{userDetailed.student.photoUrl || '../../assets/user.png'}}" class="card-img-top img-thumbnail"/>
                </ng-template>
           </div>
           <div class="col-sm-8">
               <b>Parent(s)</b>
              <table class="table table-xs table-berdered" *ngIf="userDetailed.parents.length>0">
                  <thead>
                    <tr>
                        <th>Nom Complet</th>
                        <th>Contact(s)</th>
                        <th >Email</th>
                        <th >actif ?</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of userDetailed.parents">
                        <td> <img src="{{user.photoUrl || '../../assets/user.png'}}" class="rounded-circle monimg" alt="">{{user.lastName}} {{user.firstName}}</td>
                        <td> {{user.phoneNumber}} <span *ngIf="user.secondPhoneNumber">- {{user.secondPhoneNumber}}</span></td>
                        <td> {{user.email}}</td>
                        <td>
                            <span *ngIf="user.validatedCode === true">OUI</span>
                            <span *ngIf="user.validatedCode === false">NON</span>
                        </td>
                    </tr>
                  </tbody>
     
                </table>

             <table class="table table-xs table-berdered mt-2">
               <thead>
                 <tr>
                   <th>Cours suivis</th>
                 </tr>
               </thead>
               <tbody>
                 <tr *ngFor="let cours of userDetailed.courses">
                   <td>{{cours.name}}</td>
                 </tr>
               </tbody>
  
             </table>
           </div>
      </div>

      <div class="row" *ngIf="userTypeId === parentTypeId">
          <div class="col-sm-4">
              <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
                  <nz-card-meta nzTitle="{{userDetailed.parent.lastName}} {{userDetailed.parent.firstName}}"
                   nzDescription="date de naissance : {{userDetailed.parent.dateOfBirth|date:'dd-MM-yyyy'}} "></nz-card-meta>
                </nz-card>
                <ng-template #coverTemplate>
                  <img alt="example" src="{{userDetailed.parent.photoUrl || '../../assets/user.png'}}" class="card-img-top img-thumbnail"/>
                </ng-template>
           </div>
           <div class="col-sm-8">
               <b>Enfant(s)</b>
              <table class="table table-xs table-berdered" *ngIf="userDetailed.children.length>0">
                  <thead>
                    <tr>
                        <th>Nom Complet</th>
                        <th>Contact(s)</th>
                        <th >Email</th>
                        <th >actif ?</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of userDetailed.children">
                        <td> <img src="{{user.photoUrl || '../../assets/user.png'}}" class="rounded-circle monimg" alt="">{{user.lastName}} {{user.firstName}}</td>
                        <td> {{user.phoneNumber}} <span *ngIf="user.secondPhoneNumber">- {{user.secondPhoneNumber}}</span></td>
                        <td> {{user.email}}</td>
                        <td>
                            <span *ngIf="user.validatedCode === true">OUI</span>
                            <span *ngIf="user.validatedCode === false">NON</span>
                        </td>
                    </tr>
                  </tbody>
     
                </table>

             
           </div>
      </div>

      
       


     </div>

     <nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"[nzMaskClosable]="false" [nzWidth]="720" [nzVisible]="visible" nzTitle="MISE A JOUR UTILISATEUR" (nzOnClose)="close()">
        <div>
            <form nz-form [formGroup]="userForm" (ngSubmit)="submit()">
                <div nz-row nzGutter="8">
                  <div nz-col nzSpan="12">
                    <nz-form-item>
                      <nz-form-label>Nom </nz-form-label>
                      <nz-form-control>
                        <input nz-input placeholder="entrer le nom de l'enfant" formControlName="lastName" id="clastName" >
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col nzSpan="12">
                      <nz-form-item>
                        <nz-form-label>Prénom(s)</nz-form-label>
                        <nz-form-control>
                          <input nz-input placeholder="entrer le prénom(s) de l'enfant" formControlName="firstName" id="cfirstName">
                        </nz-form-control>
                      </nz-form-item>
                    </div>
            
               
                </div>
                <div nz-row nzGutter="8">
                    <div nz-col nzSpan="12">
                      <nz-form-item>
                        <nz-form-label>Type de compte </nz-form-label>
                       
                        <nz-form-control  >
                            <nz-select   nzAllowClear nzShowSearch nzPlaceHolder="Choisir le type" name="typeId" formControlName="userTypeId">
                                <nz-option *ngFor="let option of userTypes" [nzValue]="option.id" [nzLabel]="option.name"></nz-option>
                                </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                          <nz-form-label>Sexe</nz-form-label>
                          <nz-form-control  >
                              <nz-select   nzAllowClear nzShowSearch nzPlaceHolder="Choisir le type" name="typeId" formControlName="gender">
                                  <nz-option *ngFor="let option of sexe" [nzValue]="option.id" [nzLabel]="option.name"></nz-option>
                                  </nz-select>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
              
                 
                  </div>
                <div nz-row nzGutter="8">
                  <div nz-col nzSpan="12">
                      <nz-form-item>
                          <nz-form-label  nzRequired nzFor="dateOfBirth">Date de naissance</nz-form-label>
                          <nz-form-control [nzValidateStatus]="userForm.controls['dateOfBirth']">
                              <nz-date-picker formControlName="dateOfBirth" id="datenaiss" [nzFormat]="'dd-MMMM-yyyy'"></nz-date-picker>
                          </nz-form-control>
                        </nz-form-item>
                  </div>
                  <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label >Email</nz-form-label>
                        <nz-form-control  [nzValidateStatus]="userForm.controls['email']">
                          <nz-input-group nzAddOnBefore="@">
                            <input type="text" nz-input placeholder="email" formControlName="email" id="cemail">
                        <nz-form-explain *ngIf="userForm.get('email').touched && userForm.get('email').errors">Entrer un email valide!</nz-form-explain>
                          </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                
                </div>
                 <div nz-row nzGutter="8">
                  <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="phoneNumber">Contact Principal</nz-form-label>
                        <nz-form-control [nzValidateStatus]="userForm.controls['phoneNumber']">
                            <input nz-input placeholder="numero principal" formControlName="phoneNumber" id="cphoneNumber" pattern="[0-9]+" minlength="8">
                            <nz-form-explain *ngIf="userForm.get('phoneNumber').touched && userForm.get('phoneNumber').errors">Entrer un numéro de téléphone valide s'il vous plait!</nz-form-explain>
                          </nz-form-control>
                      </nz-form-item>
                  </div>
                  <div nz-col nzSpan="12">
                      <nz-form-item>
                          <nz-form-label>Deuxieme Contact</nz-form-label>
                          <nz-form-control  [nzValidateStatus]="userForm.controls['secondPhoneNumber']">
                              <input nz-input placeholder="autre numero" formControlName="secondPhoneNumber" id="sphoneNumber" pattern="[0-9]+" minlength="8">
                              <nz-form-explain *ngIf="userForm.get('secondPhoneNumber').touched && userForm.get('secondPhoneNumber').errors">numero nom valide!</nz-form-explain>
                            </nz-form-control>
                    </nz-form-item>
                    </div>
                  <div nz-col nzSpan="12">
                   
                  </div>
                </div>
               
               
                
             </form>
              <div class="footer mt-4">
                  <button type="submit" [disabled]="!userForm.valid || submitText!='enregistrer'" (click)="submit()" class="ant-btn ant-btn-primary"><span>{{submitText}}</span></button>
                  <button type="button" (click)="close()" class="ant-btn" style="margin-right: 8px;"><span>annuler</span></button>
              </div>
        </div>
        
     </nz-drawer>