<div class="row">
  <div class="col-md-12 d-flex">
    <a [routerLink]="['/treasury']">
      <i class="fad fa-undo-alt fa-2x mr-2" style="--fa-secondary-opacity: 1;--fa-primary-color:#f89f20;--fa-secondary-color:#192C47;"></i>
    </a>
    <i class="fad fa-users fa-2x mr-2" style="--fa-secondary-opacity: 1;--fa-primary-color:#f89f20;--fa-secondary-color:#192C47;"></i>
    <div class="text-19">situation des recouvrements</div>
  </div>
  <div class="col-md-12"><hr class="my-2"></div>

  <div class="col-md-2"><button type="button" mdbBtn size="sm" block="true" class="btnBlue" mdbWavesEffect>total</button></div>
  <div class="col-md-2"><button type="button" mdbBtn size="sm" block="true" class="btnBlue" mdbWavesEffect>7 jours</button></div>
  <div class="col-md-2"><button type="button" mdbBtn size="sm" block="true" class="btnBlue" mdbWavesEffect>
    8 <span class="text-lowercase">à</span> 15 jours</button>
  </div>
  <div class="col-md-2"><button type="button" mdbBtn size="sm" block="true" class="btnBlue" mdbWavesEffect>
    16 <span class="text-lowercase">à</span> 30 jours</button>
  </div>
  <div class="col-md-2"><button type="button" mdbBtn size="sm" block="true" class="btnBlue" mdbWavesEffect>
    31 <span class="text-lowercase">à</span> 60 jours</button>
  </div>
  <div class="col-md-2"><button type="button" mdbBtn size="sm" block="true" class="btnBlue" mdbWavesEffect>60 jours et plus</button></div>
</div>

<div class="row">
  <div class="col-md-12" *ngFor="let level of levelRecovery">
    <div class="border rounded-lg p-2">
      <div class="text-15">{{level.levelName}}</div>
    </div>
  </div>
</div>