<div class="row mb-2">

  <div class="col-md-12">
    <p class="lead">classe {{classRoom.name}} - emploi du temps</p>
  </div>

  <div class="col-md-2">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <div class="btn-group btn-group-toggle">
          <label class="btn-outline-primary" ngbButtonLabel>
            <input type="checkbox" ngbButton [(ngModel)]="btnGroupModel.left"><i class="i-Left"></i>
          </label>
          <label class="btn-outline-primary" ngbButtonLabel>
            <input type="checkbox" ngbButton [(ngModel)]="btnGroupModel.right"><i class="i-Right"></i>
          </label>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <p class="lead text-center"><b>{{strMonday}} - {{strSunday}}</b></p>
  </div>

  <div class="col-md-2 float-right">RIGHT</div>

  <div *ngFor="let i of [0, 1, 2, 3, 4, 5]" class="card p-0 col-md-2">
      <div class="card-body p-0 m-0 dayCol">
        <div class="lead text-center">{{weekDays[i]}}</div>
      </div>
      <div class="d-flex">
        <div style="width: 25px">
          <div style="border-top: 1px solid #cccccc"></div>
          <div class="hour-div" *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]; let i = index">{{i + 7}}h</div>
        </div>
        <div class="card-body p-0 m-0 dayCol" style="height: 1000px; border-top: 1px solid #cccccc">
          <app-schedule-day [items]="dayItems[i]"></app-schedule-day>
        </div>
      </div>
  </div>

</div>

<div class="mb-2">
  <div class="d-flex justify-content-between">
    <div>
      <nz-radio-group>
        <label nz-radio-button nzValue="large">semaine</label>
        <label nz-radio-button nzValue="large">mois</label>
      </nz-radio-group>
    </div>
    <div>
      <h6><strong>{{strMonday}} - {{strSunday}}</strong></h6>
    </div>
    <div>
      RIGHT
    </div>  
  </div>
  <div class="d-flex mt-2">
    <div style="width: 50px"></div>
    <div class="flex-fill bordered">{{weekDays[0]}}</div>
    <div class="flex-fill bordered">{{weekDays[1]}}</div>
    <div class="flex-fill bordered">{{weekDays[2]}}</div>
    <div class="flex-fill bordered">{{weekDays[3]}}</div>
    <div class="flex-fill bordered">{{weekDays[4]}}</div>
    <div class="flex-fill bordered">{{weekDays[5]}}</div>
    <div class="flex-fill bordered">{{weekDays[6]}}</div>
  </div>
  <div class="d-flex">
    <div style="width: 50px">
      <div class="hour-div">7h</div>
      <div class="hour-div">8h</div>
      <div class="hour-div">9h</div>
      <div class="hour-div">10h</div>
      <div class="hour-div">11h</div>
      <div class="hour-div">12h</div>
      <div class="hour-div">13h</div>
      <div class="hour-div">14h</div>
      <div class="hour-div">15h</div>
      <div class="hour-div">16h</div>
      <div class="hour-div">17h</div>
      <div class="hour-div">18h</div>
    </div>
    <div class="flex-fill bordered dayCol">
      <app-schedule-day [items]="monCourses"></app-schedule-day>
    </div>
    <div class="flex-fill bordered dayCol">
      <app-schedule-day [items]="tueCourses"></app-schedule-day>
    </div>
    <div class="flex-fill bordered dayCol">
      <app-schedule-day [items]="wedCourses"></app-schedule-day>
    </div>
    <div class="flex-fill bordered dayCol">
      <app-schedule-day [items]="thuCourses"></app-schedule-day>
    </div>
    <div class="flex-fill bordered dayCol">
      <app-schedule-day [items]="friCourses"></app-schedule-day>
    </div>
    <div class="flex-fill bordered dayCol">
      <app-schedule-day [items]="satCourses"></app-schedule-day>
    </div>
    <div class="flex-fill bordered dayCol">
      <app-schedule-day [items]="sunCourses"></app-schedule-day>
    </div>
  </div>
</div> -->