<div class="row mb-2">

  <div class="col-md-12 d-flex mb-1">
    <a appBtnBack>
      <i class="text-19 fad fa-undo-alt my-auto mr-2" style="--fa-secondary-opacity: 1;--fa-primary-color:#f89f20;--fa-secondary-color:#192C47;"></i>
    </a>
    <i class="text-19 fad fa-users-class my-auto mr-2" style="--fa-secondary-opacity: 1;--fa-primary-color:#f89f20;--fa-secondary-color:#192C47;"></i>
    <div class="text-19">classe {{classRoom.name}} - emploi du temps</div>
  </div>

  <div class="col-4 my-auto text-right mb-1">
    <a (click)="prevWeek()">
      <i class="text-25 fad fa-caret-circle-left" style="--fa-secondary-opacity: 1;
        --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
    </a>
  </div>
  <div class="col-4 mb-2">
    <div class="border rounded-lg p-2 text-15 text-center">{{strMonday}} - {{strSunday}}</div>
  </div>
  <div class="col-4 my-auto text-left mb-2">
    <a (click)="nextWeek()">
      <i class="text-25 fad fa-caret-circle-right" style="--fa-secondary-opacity: 1;
        --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
    </a>
  </div>

  <div class="col-12">
    <div class="d-flex justify-content-center">
      <div *ngFor="let i of [0, 1, 2, 3, 4, 5]" class="text-13 mt-0 text-center" style="width:15%">{{weekDays[i]}}</div>
    </div>
  </div>

  <div class="col-12 mb-1">
    <div class="d-flex justify-content-center">
      <div class="d-flex justify-content-end" style="position: relative;top:-10px;left:0px;width: 45px">
        <div class="text-11 mr-1" *ngFor="let item of counter(scheduleHours + 1); let i = index"
          style="position: absolute" [ngStyle]="{'top': i*41 + 'px'}">{{i+firstHour}}h{{firstMin}}</div>
      </div>
      <div *ngFor="let i of [0, 1, 2, 3, 4, 5]" class="text-15 text-center dayCol"
        [ngStyle]="{'height': tableHeight}" style="border: 1px solid #cccccc;width:15%">
        <app-schedule-day [items]="dayItems[i]"></app-schedule-day>
      </div>
    </div>
  </div>

</div>
