/* .bordered {
    border: 1px solid #cccccc;
    margin:0;
    padding: 0px;
    width: 14.28%;
} */

.dayCol {
    position: relative;
    padding: 0px
 }
 
/* .hour-div {
    border-right: #cccccc 1px solid;
    border-bottom: #cccccc 1px solid;
    line-height: 60px;
    text-align: center;
} */
