<div class="text-17 font-weight-400 m-0 p-0 d-flex mb-2">
  <div>à remettre le {{items.dueDate}}</div>
  <div class="ml-2">
    <mdb-badge pill="true" class="badge-pill p-1" primary="true">{{items.courses.length}}</mdb-badge>
  </div>
</div>
<div class="card mb-2" *ngFor="let course of items.courses">
  <div class="card-body p-2">
    <div class="row">
      <div class="col-md-12 d-flex">
        <div class="mr-2" [ngStyle]="{'background-color': course.courseColor}"
          style="width: 10px;height: 100%;"></div>
        <div class="flex-grow-1">
          <div class="d-flex">
            <div class="flex-grow-1 text-17">{{course.courseName}}</div>
          </div>
          <div>
            <p class="text-15 text-muted m-0 mt-1">{{course.taskDesc}}</p>
          </div>
        </div>
        <!-- <div>
          <p class="text-15 mt-2 m-0">donné le {{course.dateAdded}}</p>
        </div> -->
      </div>
    </div>
    <div class="d-flex">
      <div class="flex-grow-1"></div>
      <div>
        <p class="text-13 mt-2 m-0">donné le {{course.dateAdded}}</p>
      </div>
    </div>
  </div>
</div>


<!-- <div class="card mb-2">
  <div class="card-body">
    <div class="card-title d-flex">
      <div class="flex-grow-1">{{items.dueDate}}</div>
      <div>
        <button class="btn btn-outline-primary btn-sm">modifier</button>
      </div>
    </div>
    <div *ngFor="let course of items.courses">
      <div class="d-flex align-items-center border-bottom-dotted-dim pb-4">
        <div class="box-course mr-3" [ngStyle]="{'background-color': 'course.courseColor'}"></div>
        <div class="flex-grow-1">
          <h6 class="m-0">{{course.courseName}}</h6>
          <p class="m-0 text-18 text-muted">{{course.taskDesc}}</p>
          <p class="m-0 text-small text-muted">donné le {{course.dateAdded}}</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
