<div class="container">
  <div class="row">
    <div class="col-md-6">
      <mdb-tree
      (checked)="onCheck($event)"
      (checkedKeys)="onCheckedKeys($event)"
      (nodesChanged)="onNodesChanged($event)"
      [expandAll]="false"
      [checkboxes]="true"
      textField="name"
      childrenField="children"
      checkboxesField="checked"
      [toggleOnTitleClick]="true"
      [nodes]="treeData"
      ></mdb-tree>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4" *ngFor="let theme of aclass.themes; let i = index">
    <div class="text-20 font-weight-350">{{i+1}}. {{theme.name}}</div>
    <div class="ml-3 my-2" *ngFor="let lesson of theme.lessons; let j = index">
      <div>{{i+1}}.{{j+1}} {{lesson.name}}</div>
      <div class="ml-4 my-2" *ngFor="let content of lesson.contents; let k = index">
        {{content.name}}
      </div>
    </div>
  </div>
</div>
