.child-img {
  // float: left;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.unselected {
  color: #192C47;
  background-color: #ffffff;
  // size: 15px;
}

.selected {
  color: #f89f20;
  background-color: #192C47;
}
