<div class="row">
  <div class="col-md-3">
    <div class="" style="border-right: 1px solid #cccccc;">
      <div class="chip m-0">
        <img src="{{student?.photoUrl || '../../../../../../assets/user.png'}}" alt="Contact Person">
        <span class="text-15">{{student?.firstName}} {{student?.lastName}} ({{student?.className}})</span>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <a *ngFor="let item of unSelectedUsers" (click)="selectChild(item)">
      <div class="chip m-0 mr-2">
        <img src="{{item?.photoUrl || '../../../../../../assets/user.png'}}" alt="Contact Person">{{item?.firstName}}
        {{item?.lastName}} ({{item?.className}})
      </div>
    </a>
  </div>