<div class="row">
  <!-- <div class="col-md-12 mb-1">
    <p class="text-17">cahier de textes - travail à faire à la maison</p>
  </div> -->
  <div class="col-md-12" *ngIf="showChildrenList">
    <app-children-list [url]="url" [children]="children" (getUser)="getUser($event)"></app-children-list>
  </div>
  <div class="col-md-12" *ngIf="!showChildrenList">
    <div class="row">
      <div *ngIf="isParentConnected" class="col-md-12 mb-2">
        <app-users-header [student]="currentChild" [children]="children" (getUser)="getUser($event)"></app-users-header>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4 mb-2">
            <div class="card">
              <div class="card-body p-2">
                <div class="mb-2">
                  <label class="switch switch-primary mr-3">
                    <span>afficher tous les cours</span>
                    <input type="checkbox" (change)="showAllCourses()" [(ngModel)]="allCourses">
                    <span class="slider"></span>
                  </label>
                </div>
                <div class="d-flex justify-content-center">
                  <div class="text-center my-auto" style="width: 16%">
                    <a (click)="movePeriod(-7)">
                      <i class="text-25 fad fa-caret-circle-left" style="--fa-secondary-opacity: 1;
                        --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
                    </a>
                  </div>
                  <div class="" style="width: 60%">
                    <div class="text-13 text-center border rounded-lg p-1">{{strStartDate}} - {{strEndDate}}</div>
                  </div>
                  <div class="text-center my-auto" style="width: 16%">
                    <a (click)="movePeriod(7)">
                      <i class="text-25 fad fa-caret-circle-right" style="--fa-secondary-opacity: 1;
                        --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
                    </a>
                  </div>
                </div>
                <div class="text-danger text-center text-15 my-1">clicker sur le cours pour filtrer</div>
                <div class="card mb-2" *ngFor="let course of coursesWithTasks">
                  <div class="card-up" [ngStyle]="{'background-color': course.courseColor}" style="height: 10px;
                    border-top-left-radius: 10px;border-top-right-radius: 10px">
                  </div>            
                  <div>
                    <a (click)="showCourseItems(course.courseId)" style="cursor: pointer;">
                      <div class="card-body p-2">
                        <div class="row">
                          <div class="col-md-12 d-flex">
                            <div class="flex-grow-1 text-17">{{course.courseName}}</div>
                            <div class="text-17">{{course.nbTasks}}</div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
    
          </div>
          <div class="col-md-8 mb-2">
            <div class="card">
              <div class="card-body p-2">
                <div class="row">
                  <div class="col-md-12">
                    <div *ngIf="filteredAgenda.length > 0">
                      <div *ngFor="let item of filteredAgenda; let i = index">
                        <div class="d-none d-md-block">
                          <div class="d-flex border rounded-lg day-title w-50 text-14 p-1 mb-1">
                            <div class="flex-grow-1">{{item.shortDueDate}}</div>
                            <div class="" *ngIf="item.nbItems > 1">{{item.nbItems}} tâches</div>
                            <div class="" *ngIf="item.nbItems == 1">{{item.nbItems}} tâche</div>
                          </div>
                        </div>
                        <div class="d-md-none">
                          <div class="d-flex border rounded-lg day-title text-14 p-1 mb-1">
                            <div class="flex-grow-1">{{item.shortDueDate}}</div>
                            <div class="" *ngIf="item.nbItems > 1">{{item.nbItems}} tâches</div>
                            <div class="" *ngIf="item.nbItems == 1">{{item.nbItems}} tâche</div>
                          </div>
                        </div>
                        <div class="mb-1" *ngFor="let ai of item.agendaItems; let j = index">
                          <div class="border rounded-lg p-0">
                            <div [ngStyle]="{'background-color': ai.courseColor}" style="height: 5px;
                              border-top-left-radius: 5px;border-top-right-radius: 5px">
                            </div>            
                            <div class="d-md-flex mx-1">
                              <div class="flex-grow-1 text-15"><b>{{ai.courseName}}</b></div>
                              <div class="text-14 text-muted">donné le {{ai.strDateAdded}}</div>
                            </div>
                            <div class="mx-1">
                              <div class=" text-15">{{ai.taskDesc}}</div>
                              <div class="text-right mt-1">
                                <label class="switch switch-primary">
                                  <span>fait</span>
                                  <input (change)="setCourseTask(i, ai.agendaId)"
                                    [(ngModel)]="model[(i * item.agendaItems.length) + j]" type="checkbox">
                                  <span class="slider"></span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="filteredAgenda.length <= 0">
                      <p class="lead m-0"><b>{{strStartDate}} - {{strEndDate}}</b></p>
                      <p class="lead m-0">pas de devoir à faire pour cette période...</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-2" *ngIf="!showChildrenList">
        <app-timeline [events]="events"></app-timeline>
      </div>    
    </div>
  </div>
</div>
