<div class="row">

  <div class="col-md-12" *ngIf="showChildrenList">

    <p class="text-15 text-muted m-1">sélectionner un enfant pour voir ses évènements</p>

    <div class="row">

      <div class="col-md-9 col-sm-12">
        <app-children-list [url]="url" [children]="children"></app-children-list>
      </div>

      <div class="col-md-3 col-sm-12">
        <div class="row">

          <div class="col-md-12 col-sm-12">
            <div class="card mb-4 p-2">
              <div class="card-body">
                <div class="card-title m-0">mon agenda</div>
                <p class="text-small text-muted">programme de la semaine.</p>
                <nz-timeline>
                  <nz-timeline-item nzColor="green">
                    <div>
                      <strong class="mr-1"><a href="#">8:30 - évènement à venir</a></strong>
                      <p class="text-muted">desc de l'info à venir</p>
                    </div>
                  </nz-timeline-item>
                  <nz-timeline-item nzColor="green">
                    <div>
                      <strong class="mr-1"><a href="#">10:30 - info suivante</a></strong>
                      <p class="text-muted">desc infos en temps réel ici</p>
                    </div>
                  </nz-timeline-item>
                  <nz-timeline-item [nzDot]="dotTemplate" nzColor="red">
                    <p>un évènement parent, élève ici</p>
                  </nz-timeline-item>
                  <nz-timeline-item>
                    <p>réunion profs / parents</p>
                    <p>détails de l'évènement</p>
                  </nz-timeline-item>
                  <nz-timeline-item nzColor="gray">
                    <p>infos supplémentaires</p>
                  </nz-timeline-item>
                  <nz-timeline-item nzColor="gray">
                    <p>infos 4</p>
                    <p>détails de l'information</p>
                  </nz-timeline-item>
                </nz-timeline>
                <ng-template #dotTemplate>
                  <i nz-icon nzType="clock-circle-o" style="font-size: 16px;"></i>
                </ng-template>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

  <div class="col-md-12" *ngIf="!showChildrenList">

    <div class="row" class="col-lg-12 col-md-12">

    <div class="col-md-12 mb-2">
      <p class="lead m-0">vie de la classe - équipe pédagogique</p>
    </div>

    <div *ngIf="isParentConnected" class="col-md-12 mb-2">
      <app-users-header [student]="student" (getUser)="getUser($event)"></app-users-header>
    </div>
      
    <div class="col-md-10 card mb-1 p-0">
      <div class="card-body p-1">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2"><b>nom & prénom</b></div>
          <div class="col-md-3"><b>cours</b></div>
          <div class="col-md-4"><b>email</b></div>
          <div class="col-md-2"><b>téléphone</b></div>
        </div>
      </div>      
    </div>
        
    <div class="card col-md-10 mb-1 p-0" *ngFor="let user of teachers, let i = index"
      [@animate]="{value:'*',params:{delay: (i*100)+'ms', x:'120px'}}">

      <div class="card-body p-0">

        <div class="row">
          <div class="col-md-1">
            <div>
              <img class="img-box" src="{{user.photoUrl || '../../../../../assets/user.png'}}" alt="">
            </div>
          </div>
          <div class="col-md-2 mt-3">
            <p class="text-15 m-0">{{user.lastName}} {{user.firstName}}</p>
          </div>
          <div class="col-md-3 mt-3">
            <div class="d-flex">
              <div class="mr-2" [ngStyle]="{'background-color': user.course.color}" style="width: 20px;height: 20px;"></div>
              <p class="text-15">{{user.course.name}}</p>
            </div>
          </div>
          <div class="col-md-4 mt-3">
            <p class="text-15">{{user.email}}</p>
          </div>
          <div class="col-md-2 mt-3">
            <p class="text-15">{{user.phoneNumber}}</p>
          </div>
        </div>
      </div>

    </div>
    </div>
  
  </div>

</div>