.inpMarginTop {
  margin-top: 5px;
 }

.switch.logo-switch label input[type=checkbox]:checked + .slider {
  background-color: #f89f20;
}
.switch.logo-switch label input[type=checkbox]:checked + .slider:after {
  background-color: #f89f20;
}

.switch.warning-switch label input[type=checkbox]:checked + .lever {
  background-color: #FFA339;
}
.switch.warning-switch label input[type=checkbox]:checked + .lever:after {
  background-color: #F80;
}
