
<div  class="row justify-content-center align-items-center mt-3"  [@animate]="{value:'*',params:{delay: 100+'ms', y:'50px'}}">
  <div class="col-md-8">
    <div class="card">
        <form nz-form [formGroup]="teacherForm" (ngSubmit)="submit()" class="mt-2">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24">Nom </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <input nz-input placeholder="entrer le nom" formControlName="lastName" id="clastName" >
               </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzXs]="24">Prénom</nz-form-label>
                  <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input nz-input placeholder="entrer le prénom" formControlName="firstName" id="cfirstName">
                  </nz-form-control>
             </nz-form-item>
             <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="dateOfBirth">Date de naissance</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="teacherForm.controls['dateOfBirth']">
                    <!-- <nz-date-picker formControlName="dateOfBirth" id="datenaiss" [nzFormat]="'dd-MMMM-yyyy'"></nz-date-picker> -->
                    <input class="form-control" id="datenaiss" placeholder="date de naissance"  formControlName="dateOfBirth" name="datenaiss" [textMask]="{mask: birthDateMask}">
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzXs]="24">Email</nz-form-label>
                  <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="teacherForm.controls['email']">
                    <nz-input-group nzAddOnBefore="@">
                      <input type="text" nz-input placeholder="email" formControlName="email" id="cemail">
                  <nz-form-explain *ngIf="teacherForm.get('email').touched && teacherForm.get('email').errors">Entrer un email valide!</nz-form-explain>
                    </nz-input-group>
                  </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="phoneNumber">Contact Principal</nz-form-label>
                  <nz-form-control [nzValidateStatus]="teacherForm.controls['phoneNumber']" [nzSm]="14" [nzXs]="24">
                      <input nz-input placeholder="numero principal" formControlName="phoneNumber" id="cphoneNumber"  [textMask]="{mask: phoneMask}" minlength="8">
                      <nz-form-explain *ngIf="teacherForm.get('phoneNumber').touched && teacherForm.get('phoneNumber').errors">Entrer un numéro de téléphone valide s'il vous plait!</nz-form-explain>
                    </nz-form-control>
               </nz-form-item>
               <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzXs]="24">Deuxieme Contact</nz-form-label>
                  <nz-form-control  [nzValidateStatus]="teacherForm.controls['secondPhoneNumber']" [nzSm]="14" [nzXs]="24">
                      <input nz-input placeholder="autre numero" formControlName="secondPhoneNumber" id="sphoneNumber"  [textMask]="{mask: phoneMask}" minlength="8">
                      <nz-form-explain *ngIf="teacherForm.get('secondPhoneNumber').touched && teacherForm.get('secondPhoneNumber').errors">numero nom valide!</nz-form-explain>
                    </nz-form-control>
               </nz-form-item>
               <nz-form-item>

                  <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="suffixe">Choisir ses cours</nz-form-label>
                 <nz-form-control [nzSm]="14" [nzXs]="24"> 
                  <nz-select style="width: 100%" formControlName="courseIds"  [nzSize]="'default'" nzMode="tags" nzPlaceHolder="Choisir ses cours">
                      <nz-option *ngFor="let course of courses" [nzLabel]="course.name" [nzValue]="course.id"></nz-option>
                  </nz-select>
                  </nz-form-control>

               </nz-form-item>
               <nz-form-item>
                  <nz-form-control [nzSpan]="14" [nzOffset]="6">
                      <button class="btn btn-outline-primary " type="submit" [disabled]="!teacherForm.valid || submitText!='enregistrer'"><span>{{submitText}}</span></button>
                      <button type="button" (click)="close()" class="btn btn-outline-primary ml-2"><span>annuler</span></button>      
                  </nz-form-control>

              </nz-form-item>
        </form>
    </div>

  </div>
    
    
</div>