.btnOrange {
  color: #192C47;
  font-weight: bold;
  background-color: #f89f20;
 }

.btnBlue {
  color: #f89f20;
  font-weight: bold;
  background-color: #192C47;
}

.inpMarginTop {
  margin-top: 5px;
 }

.switch.logo-switch label input[type=checkbox]:checked + .lever {
  background-color: #689DF6;
}
.switch.logo-switch label input[type=checkbox]:checked + .lever:after {
  background-color: #f89f20;
}
