.btnOrange {
  color: #192C47;
  font-weight: bold;
  background-color: #f89f20;
 }

.btnBlue {
  color: #f89f20;
  font-weight: bold;
  background-color: #192C47;
}

.btnWhiteO {
  color: #f89f20;
  font-weight: bold;
  background-color: #ffffff;
}

.inpMarginTop {
  margin-top: 5px;
 }

.switch.logo-switch label input[type=checkbox]:checked + .slider {
  background-color: #f89f20;
}
.switch.logo-switch label input[type=checkbox]:checked + .slider:after {
  background-color: #f89f20;
}

.switch.warning-switch label input[type=checkbox]:checked + .lever {
  background-color: #FFA339;
}
.switch.warning-switch label input[type=checkbox]:checked + .lever:after {
  background-color: #F80;
}
