<mdb-flipping-card #card>
  <div class="face front card tp-box_side tp-box_front">
    <div class="content p-2">
      <div class="text-17 text-center">niveau {{level.name}}</div>
      <hr class="my-1">
      <div class="text-center">
        <span class="text-15 text-muted">classes</span>
        <h4 class="m-0">{{level.classes.length}}</h4>
      </div>
      <div class="text-center">
        <span class="text-15 text-muted">effectif</span>
        <h4 *ngIf="level.totalStudents == 0" class="m-0">aucun élève</h4>
        <h4 *ngIf="level.totalStudents > 0" class="m-0">{{level.totalStudents}} élèves</h4>
      </div>
      <div class="row mt-4">
        <div class="col-12"><hr class="my-1"></div>
        <div class="col-6">
          <a class="textBlue text-13 mr-2" (click)="card.toggle()"><b>détails</b></a>
        </div>
        <div class="col-6">
          <a class="textDarkRed text-13" (click)="openModal(level)"><b>ajouter une classe</b></a>
        </div>
      </div>
    </div>
  </div>

  <div class="face back card tp-box_side tp-box_back p-0">
    <div class="content" style="overflow-y: scroll;">
      <div class="d-flex">        
        <div class="flex-grow-1 text-17">niveau {{level.name}}</div>
        <div>
          <a (click)="card.toggle()">
            <i class="fad fa-undo-alt fa-2x" style="--fa-secondary-opacity: 1;
              --fa-primary-color:#f89f20;--fa-secondary-color:#192C47;"></i>
          </a>
        </div>
      </div>
      <hr class="my-1" style="background-color: #f89f20;">
      <div class="text-13 text-danger pl-1">liste des élèves: clicker sur le nom</div>
      <div class="d-flex text-center">
        <div class="text-13 w-33 text-muted">classe</div>
        <div class="text-13 w-33 text-muted">effectif</div>
        <div class="text-13 w-33 text-muted">max élèves</div>
      </div>
      <div *ngFor="let class of level.classes">
        <div class="d-flex text-center">
          <div class="text-14 w-33">
            <a [routerLink]="['/studentsClass', class.id]">{{class.name}}</a>
          </div>
          <div class="text-14 w-33">{{class.totalStudents}}</div>
          <div class="text-14 w-33">{{class.maxStudent}}</div>
        </div>
      </div>
    </div>
  </div>
</mdb-flipping-card>
