<!-- <div class="row">
  <div class="col-12">
    <div class="my-5" *ngIf="!visible">
      <h3 class="h3-responsive text-center">Your version is up to date.</h3>
      <h5 class="h5responsive text-center">Last update check on:
        {{today}}
      </h5>
    </div>

    <div class="view" *ngIf="visible" style="height:100vh; width:100vw; position:fixed; top:0; left:0; z-index:999">
      <div class="mask rgba-black-strong flex-center">
        <p class="white-text">Comparing versions...</p>
        <br>
        <mdb-spinner spinnerType="big"></mdb-spinner>
      </div>
    </div>
  </div>
</div> -->

<div class="row m-0">

  <div class="col-md-12 d-flex mb-2">
    <a appBtnBack>
      <i class="fad fa-undo-alt fa-2x mr-2" style="--fa-secondary-opacity: 1;--fa-primary-color:#f89f20;--fa-secondary-color:#192C47;"></i>
    </a>
    <i class="fad fa-chalkboard-teacher fa-2x mr-2" style="--fa-secondary-opacity: 1;--fa-primary-color:#f89f20;--fa-secondary-color:#192C47;"></i>
    <div class="text-17 font-weight-400">feuille d'appel - classe {{session.className}}. {{session.courseName}} de 
      {{session.startHourMin}} à {{session.endHourMin}} 
    </div>
  </div>
  
  <div class="col-md-12 mb-1">
    <div class="p-2 text-center border rounded">
      <button type="button" (click)="validateAbsences()" mdbBtn block="true" size="sm"
        class="p-2 text-nowrap" class="btnBlue" mdbWavesEffect>valider les absences</button>
      <hr class="my-2">
      <div class="d-none d-md-block">
        <span class="text-18 text-danger m-0">
          <b *ngIf="nbAbsents <= 1">{{nbAbsents}} élève absent</b>
          <b *ngIf="nbAbsents > 1">{{nbAbsents}} élèves absents</b>
        </span>
        <span class="text-18 text-danger m-0 mx-2">/</span>
        <span class="text-18 text-danger m-0">
          <b *ngIf="nbLate <= 1">{{nbLate}} élève en retard</b>
          <b *ngIf="nbLate > 1">{{nbLate}} élèves en retard</b>
        </span>
      </div>
      <div class="d-md-none">
        <div class="text-18 text-danger m-0">
          <b *ngIf="nbAbsents <= 1">{{nbAbsents}} élève absent</b>
          <b *ngIf="nbAbsents > 1">{{nbAbsents}} élèves absents</b>
        </div>
        <!-- <span class="text-18 text-danger m-0 mx-2">/</span> -->
        <div class="text-18 text-danger m-0">
          <b *ngIf="nbLate <= 1">{{nbLate}} élève en retard</b>
          <b *ngIf="nbLate > 1">{{nbLate}} élèves en retard</b>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <div class="md-form form-sm mt-2">
          <input mdbInput type="text" id="form1" [formControl]="searchControl" class="form-control mr-2">
          <label for="form1" class="">rechercher des élèves</label>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row m-2">
  <div *ngFor="let student of filteredStudents; let i = index" 
    class="col-md-3 my-5" [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">
    <app-callSheet-card [student]="student" [index]="i" 
      (removeAbsence)="removeAbsence($event)" (setAbsences)="setAbsences($event)"></app-callSheet-card>
  </div>
</div>
