<div class="d-none d-md-block mt-2">
  <div class="row border rounded-lg p-2">
    <div class="col-md-12">
      <div class="text-17">
        <b>frais de scolarité</b>
        <span class="text-danger ml-2">solde à payer: 435.000 F</span>
      </div>
    </div>
    <div class="col-md-12"><hr class="my-1"></div>
    <div class="col-md-12">
      <div class="alert alert-danger" role="alert">
        échéance du 28/08/2020 dépassé. montant à payer : 175.000 F
      </div>
    </div>
    <div class="col-md-12 text-16">sandrine. 3e A. montant de la scolarité : 550.000 F</div>
    <div class="col-md-12 text-16">inna. CM1 A. montant de la scolarité : 350.000 F</div>
    <div class="col-md-12 text-16 mt-1"><b>paiements reçus</b></div>
    <div class="col-md-12 d-flex">
      <i class="fad fa-times-circle fa-1x my-auto mr-1" style="--fa-secondary-opacity: 1;
        --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
      <span class="text-15">12/04/2020. chèque n°132455 (NSIA). montant: 280.000 F. <b class="text-danger">refusé</b></span>
    </div>
    <div class="col-md-12 d-flex">
      <i class="fad fa-check fa-1x my-auto mr-1" style="--fa-secondary-opacity: 1;
        --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
      <span class="text-15">12/03/2020. espèce ref n° 234_2020 (ECOBANK). montant: 380.000 F.</span>
    </div>
</div>
</div>