<div class="d-none d-md-block mt-2">
  <div class="border rounded-lg p-2 mt-2">
    <div class="row">
      <div class="col-md-8 mb-2">
        <div class="text-16 mb-0">
          <b>frais de scolarité pour la classe de {{tuition?.childLevelName}}: {{tuition?.amountInvoiced | number:'':'fr-FR'}} F</b>
        </div>
      </div>
      <div *ngIf="showBtn" class="col-md-4 text-right">
        <button type="button" mdbBtn (click)="addPayment()" class="btnBlue m-0" size="sm" mdbWavesEffect>effectuer un paiement</button>
      </div>
      <!-- <div class="col-md-12"><hr class="my-1"></div> -->
      <div class="col-md-12 mt-1">
        <div *ngIf="!tuition?.validated" class="border rounded-lg p-2">
          <i class="fad fa-exclamation-triangle fa-2x mr-2" style="--fa-secondary-opacity: 1;
            --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
          <span *ngIf="tuition?.nbDaysLate < 0" class="text-15 text-danger">
            échéance du {{tuition?.strValidity}} dépassé de {{tuition.nbDaysLate}} jour(s). 
            <span *ngIf="tuition?.amountToValidate == 0">
              valider l'inscription en payant : {{tuition.downPayment - tuition.amountPaid | number:'':'fr-FR'}} F
            </span>
            <span *ngIf="tuition?.amountToValidate > 0">
              paiement de {{tuition?.amountToValidate | number:'':'fr-FR'}} F en cours de validation.
            </span>
          </span>
          <span *ngIf="tuition?.nbDaysLate > 0" class="text-15 text-danger">
            échéance du {{tuition?.strValidity}} arrive dans {{tuition.nbDaysLate}} jour(s).
            <span *ngIf="tuition?.amountToValidate == 0">
              valider l'inscription en payant : {{tuition.downPayment - tuition.amountPaid | number:'':'fr-FR'}} F
            </span>
            <span *ngIf="tuition?.amountToValidate > 0">
              paiement de {{tuition?.amountToValidate | number:'':'fr-FR'}} F en cours de validation.
            </span>
          </span>
          <span *ngIf="tuition?.nbDaysLate == 0" class="text-15 text-danger">
            échéance du {{tuition?.strValidity}} arrive aujourd'hui. 
            <span *ngIf="tuition?.amountToValidate == 0">
              valider l'inscription en payant : {{tuition.downPayment - tuition.amountPaid | number:'':'fr-FR'}} F
            </span>
            <span *ngIf="tuition?.amountToValidate > 0">
              paiement de {{tuition?.amountToValidate | number:'':'fr-FR'}} F en cours de validation.
            </span>
          </span>
          <!-- <div *ngIf="tuition?.amountToValidate > 0" class="text-13 text-muted mt-0">
            {{tuition?.amountToValidate | number:'':'fr-FR'}} F reçus et en cours de validation (chèques et virements).
          </div> -->
        </div>
        <div *ngIf="tuition?.validated" class="border rounded-lg p-2 text-15">
          vous êtes à jour, merci!. la prochaine échéance est le XX/XX/XXXX. montant : {{tuition.dueAmount | number:'':'fr-FR'}} F.
        </div>
    </div>
      <!-- <div class="col-md-12 text-16"><b>élèves</b></div>
      <div class="col-md-12" *ngFor="let child of tuition?.lines">
        <div class="text-16">{{child.childFirstName}} ({{child.childAge}} ans). classe de 
          {{child.childClassName || child.classLevelName}}. montant de la scolarité : {{child.amountTTC | number:'':'fr-FR'}} F</div>
      </div> -->
      <div class="col-md-12 text-16 mt-1">
        <b>paiements reçus</b>
        <span *ngIf="tuition?.nbPayRejected > 1" class="text-danger"> - {{tuition.nbPayRejected}} paiements rejectés</span>
        <span *ngIf="tuition?.nbPayRejected == 1" class="text-danger"> - {{tuition.nbPayRejected}} paiement rejecté</span>
      </div>
      <div *ngFor="let pay of tuition?.linePayments" class="col-md-12 d-flex">
        <i *ngIf="pay.rejected" class="fad fa-times-circle fa-1x my-auto mr-1" style="--fa-secondary-opacity: 1;
          --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
        <i *ngIf="pay.cashed" class="fad fa-check fa-1x my-auto mr-1" style="--fa-secondary-opacity: 1;
          --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
        <i *ngIf="pay.received || pay.depositedToBank" class="fad fa-question fa-1x my-auto mr-1" style="--fa-secondary-opacity: 1;
          --fa-primary-color:#f89f20;--fa-secondary-color:#192C47;"></i>
        <span class="text-16 mr-1">{{pay.strFinOpDate}}.</span>
        <span *ngIf="pay.paymentTypeId == payCash" class="text-16">paiement en espèce. montant: {{pay.amount | number:'':'fr-FR'}} F.</span>
        <span *ngIf="pay.docRef" class="ml-1">ref n°{{pay.docRef}}.</span>
        <span *ngIf="pay.paymentTypeId == payCheque" class="text-16">chèque n°{{pay.chequeNum}} 
          ({{pay.chequeBank}}). montant: {{pay.amount | number:'':'fr-FR'}} F.</span>
        <span *ngIf="pay.paymentTypeId == payWire" class="text-16">virement. ref n°{{pay.docRef}} ({{pay.fromBankAccountName}}). 
          montant: {{pay.amount | number:'':'fr-FR'}} F.</span>
        <span *ngIf="pay.paymentTypeId == payMobile" class="text-16">mobile money. ref n°{{pay.docRef}}. 
          montant: {{pay.amount | number:'':'fr-FR'}} F.</span>
        <span class="text-16 text-danger ml-1" *ngIf="pay.rejected"><b>refusé</b></span>
        <span class="text-16 text-danger ml-1" *ngIf="pay.depositedToBank"><b>remise ok</b></span>
        <span class="text-16 text-danger ml-1" *ngIf="pay.received"><b>en cours</b></span>
      </div>
      <div *ngIf="tuition?.linePayments.length == 0" class="col-md-12 text-15 text-danger">aucun paiement reçu à ce jour</div>
    </div>
  </div>
</div>
<div class="d-md-none mt-2">
  <div class="border rounded-lg p-2">
    <div class="row">
      <div class="col-md-12"><div class="text-20"><b>frais de scolarité</b></div></div>
      <div class="col-md-12"><hr class="my-1"></div>
      <div class="col-md-12">
        <div class="text-17 text-center"><b>solde global à payer:</b></div>
        <div class="text-17 text-center"><b>{{tuition?.balance | number:'':'fr-FR'}} F</b></div>
        <div class="text-13 text-center text-muted mt-0">en cours de validation: {{tuition?.amountToValidate | number:'':'fr-FR'}} F</div>
      </div>
      <div class="col-md-12 my-1">
        <button type="button" mdbBtn (click)="addPayment()" block="true" class="btnBlue m-0" size="sm" mdbWavesEffect>effectuer un paiement</button>
      </div>
      <div class="col-md-12 mt-2">
        <div class="border rounded-lg p-2 text-center">
          <i class="fad fa-exclamation-triangle fa-2x" style="--fa-secondary-opacity: 1;
            --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
          <div class="text-15 text-danger"><b>échéance du 28/08/2020 dépassé. montant à payer: 175.000 F</b></div>
        </div>
      </div>
      <div class="col-md-12 text-18 mt-1 mb-2"><b>paiements reçus</b></div>
      <div *ngFor="let pay of tuition?.payments">
        <div class="col-md-12 d-flex">
          <i *ngIf="pay.rejected" class="fad fa-times-circle fa-2x my-auto" style="--fa-secondary-opacity: 1;
          --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
          <i *ngIf="pay.cashed" class="fad fa-check fa-2x my-auto" style="--fa-secondary-opacity: 1;
            --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
          <i *ngIf="pay.received || pay.depositedToBank" class="fad fa-question fa-2x my-auto" style="--fa-secondary-opacity: 1;
            --fa-primary-color:#f89f20;--fa-secondary-color:#192C47;"></i>
          <span class="text-20 text-danger my-auto ml-2" *ngIf="pay.rejected"><b>refusé</b></span>
          <span class="text-20 text-danger my-auto ml-2" *ngIf="pay.depositedToBank"><b>remise ok</b></span>
          <span class="text-20 text-danger my-auto ml-2" *ngIf="pay.received"><b>en cours</b></span>
          <span class="text-20 text-danger my-auto ml-2" *ngIf="pay.cashed"><b>paiement OK</b></span>
        </div>
        <div class="col-md-12 text-16">date: {{pay.strFinOpDate}}</div>
        <div *ngIf="pay.paymentTypeId == payCash" class="col-md-12 text-16">
          <div>espèce. ref n°{{pay.docRef}}.</div>
          <div>montant: {{pay.amount | number:'':'fr-FR'}} F.</div>
        </div>
        <div *ngIf="pay.paymentTypeId == payCheque" class="col-md-12 text-16">
          <div>chèque n°{{pay.chequeNum}} ({{pay.chequeBankName}}).</div>
          <div>montant: {{pay.amount | number:'':'fr-FR'}} F.</div>
        </div>
        <div *ngIf="pay.paymentTypeId == payWire" class="col-md-12 text-16">
          <div>virement. ref n°{{pay.docRef}} ({{pay.fromBankAccountName}}).</div>
          <div>montant: {{pay.amount | number:'':'fr-FR'}} F.</div>
        </div>
        <div *ngIf="pay.paymentTypeId == payMobile" class="col-md-12 text-16">
          <div>mobile money. ref n°{{pay.docRef}}.</div>
          <div>montant: {{pay.amount | number:'':'fr-FR'}} F.</div>
        </div>
        <div class="col-md-12"><hr class="my-1"></div>
      </div>
    </div>
  </div>
  <div class="border rounded-lg p-2">
    <div class="row">
    </div>
  </div>
</div>