<div class="row">

  <div class="col-md-12">
    <p class="lead ">admin - liste des coefficients</p>
  </div>

  <div [@animate]="{value:'*',params:{delay: 300+'ms', y:'80px'}}" class="col-lg-12 col-md-12">

    <div class="card mb-4">
      <div class="card-body p-0">

        <div class="card-title border-bottom d-flex align-items-center m-0 p-3">
          <button class="btn btn-outline-primary btn-sm" [routerLink]="['/addCoefficient']"
            routerLinkActive="router-link-active">ajouter un coefficient</button>
          <span class="flex-grow-1"></span>
        </div>

        <div class="border-bottom justify-content-between p-3">
          <span>Recherche</span>
          <hr>
          <div>
            <div class="d-flex">
              <mdb-select [options]="levels" style="width:20%" id="levelId" name="levelId" [(ngModel)]="levelId"
                placeholder="Choisir le niveau"></mdb-select>
              <button type="button" mdbBtn color="primary" size="sm" (click)="getLevelCoefficients()"
                mdbWavesEffect>rechercher</button>
              <button type="button" mdbBtn color="light" size="sm" mdbWavesEffect>annuler</button>
            </div>

            <!-- affichage des resultas -->
            <div *ngIf="show">
              <div *ngIf="coefficients.length===0">aucune information trouvée pour ce niveau...</div>


              <div class="col-md-9 mt-2 p-1 " *ngIf="coefficients.length>0">
                <span><small>pour une modificiation cliquez directement sur la case du coéfficient</small> </span>
                <table mdbTable class="z-depth-1">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Cours</th>
                      <th scope="col">Type de Classe</th>
                      <th scope="col">Coéfficient</th>
                      <th scope="col">Options</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let coef of coefficients,index as i">
                      <th scope="row">{{i+1}}</th>
                      <td>{{coef.course.name}}</td>
                      <td><span *ngIf="!coef.classTypeId">N/A</span><span *ngIf="coef.classTypeId">{{coef.classType.name}}</span></td>
                      <td><span contenteditable="true" (keyup)="changeValue(i, 'coefficient', $event)" (blur)="updateList(i, 'coefficient', $event)">{{coef.coefficient}}</span></td>
                      <td>{{coef.course.name}}</td>
                      <!-- <a type="button" [routerLink]="['/editCoeffcicient', coef.id]"  mdbBtn color="light" size="sm" mdbWavesEffect>modifier</a> -->
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>