<form [formGroup]="roleForm" (ngSubmit)="saveRole()">
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="!editionMode" class="d-flex">
        <i class="fad fa-users-cog fa-2x mr-2" style="--fa-secondary-opacity: 1;
          --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
        <div class="text-17">ajout d'un rôle</div>
      </div>
      <div *ngIf="editionMode" class="d-flex mb-2">
        <i class="fad fa-users-cog fa-2x mr-2" style="--fa-secondary-opacity: 1;
          --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
        <div class="text-17">édition du rôle <span class="text-capitalize">{{role.name}}</span></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="md-form mb-1">
        <input type="hidden" formControlName="roleId">
        <input mdbInput type="text" id="roleName" class="form-control" formControlName="roleName" mdbValidate>
        <label for="roleName" class="">nom du rôle</label>
        <div *ngIf="roleForm.get('roleName').errors && roleForm.get('roleName').touched"
          class="text-small text-danger">saisir le role svp</div>
      </div>
    </div>
  </div>
  <hr class="my-1">
  <div class="row">
    <div class="col-md-12 my-1" formArrayName="menuItems" *ngFor="let item of roleForm.get('menuItems')['controls']; let i = index;">
      <div class="card" [formGroupName]="i">
        <div class="card-body p-2">
          <div *ngIf="item.value.capabilities.length == 0">
            <div class="row">
              <div class="col-md-2">
                <div class="text-15 textDarkBlue"><b>{{item.value.name}}</b></div>
              </div>
            </div>
            <div *ngIf="item.value.childItems">
              <div *ngFor="let child of item.value.childItems; let j = index">
                <div *ngIf="!child.capabilities">
                  <div class="row">
                    <div class="col-md-2">
                      <div class="text-15 ml-2">{{child.menuItemName}}</div>
                    </div>
                  </div>
                </div>
                <div *ngIf="child.capabilities">
                  <div *ngIf="child.capabilities.length === 1">
                    <div class="row">
                      <div class="col-md-2">
                        <div class="text-15 ml-2">{{child.menuItemName}}</div>
                      </div>
                      <div class="col-md-10">
                        <div class="row">
                          <div class="col-md-12 mb-1">
                            <div class="form-check form-check-inline">
                              <input type="radio" class="form-check-input" id="none0{{i}}{{j}}" name="radio0{{i}}{{j}}"
                                [checked]="child.capabilities[0].accessFlag === 0 ? true : false"
                                (change)="setChildFlag(i, j, 0, 0)" value="0" mdbInput>
                              <label class="form-check-label" for="none0{{i}}{{j}}">pas d'accès</label>
                            </div>
                            <div *ngIf="child.capabilities[0].accessType == 0 || child.capabilities[0].accessType == 1" class="form-check form-check-inline">
                              <input type="radio" class="form-check-input" id="readonly0{{i}}{{j}}" name="radio0{{i}}{{j}}"
                                [checked]="child.capabilities[0].accessFlag === 1 ? true : false"  
                                (change)="setChildFlag(i, j, 0, 1)" value="1" mdbInput>
                              <label class="form-check-label" for="readonly0{{i}}{{j}}">accès en lecture</label>
                            </div>
                            <div *ngIf="child.capabilities[0].accessType == 0 || child.capabilities[0].accessType == 2" class="form-check form-check-inline">
                              <input type="radio" class="form-check-input" id="edit0{{i}}{{j}}" name="radio0{{i}}{{j}}"
                              [checked]="child.capabilities[0].accessFlag === 2 ? true : false"
                                (change)="setChildFlag(i, j, 0, 2)" value="2" mdbInput>
                              <label class="form-check-label" for="edit0{{i}}{{j}}">accès total</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="child.capabilities.length > 1">
                    <div class="row" *ngFor="let capability of child.capabilities; let k = index">
                      <div class="col-md-2">
                        <div class="text-15">{{child.menuItemName}} ({{capability.name}})</div>
                      </div>
                      <div class="col-md-10">
                        <div class="row">
                          <div class="col-md-12 mb-1">
                            <div class="form-check form-check-inline">
                              <input type="radio" class="form-check-input" id="none0{{i}}{{j}}{{k}}" name="radio0{{i}}{{j}}{{k}}"
                                [checked]="capability.accessFlag === 0 ? true : false"
                                (change)="setChildFlag(i, j, k, 0)" value="0" mdbInput>
                              <label class="form-check-label" for="none0{{i}}{{j}}{{k}}">pas d'accès</label>
                            </div>
                            <div *ngIf="capability.accessType == 0 || capability.accessType == 1" class="form-check form-check-inline">
                              <input type="radio" class="form-check-input" id="readonly0{{i}}{{j}}{{k}}" name="radio0{{i}}{{j}}{{k}}"
                                [checked]="capability.accessFlag === 1 ? true : false"
                                (change)="setChildFlag(i, j, k, 0)" value="1" mdbInput>
                              <label class="form-check-label" for="readonly0{{i}}{{j}}{{k}}">accès en lecture</label>
                            </div>
                            <div *ngIf="capability.accessType == 0 || capability.accessType == 2" class="form-check form-check-inline">
                              <input type="radio" class="form-check-input" id="edit0{{i}}{{j}}{{k}}" name="radio0{{i}}{{j}}{{k}}"
                                [checked]="capability.accessFlag === 2 ? true : false"
                                (change)="setChildFlag(i, j, k, 0)" value="2" mdbInput>
                              <label class="form-check-label" for="edit0{{i}}{{j}}{{k}}">accès total</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="item.value.capabilities.length > 0">
            <div *ngIf="item.value.capabilities.length === 1">
              <div class="row">
                <div class="col-md-2">
                  <div class="text-15 textDarkBlue"><b>{{item.value.name}}</b></div>
                </div>
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-12 mb-1">
                      <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="none0{{i}}" name="radio0{{i}}"
                          [checked]="item.value.capabilities[0].accessFlag === 0 ? true : false"
                          (change)="setMenuItemFlag(i, 0, 0)" value="0" mdbInput>
                        <label class="form-check-label" for="none0{{i}}">pas d'accès</label>
                      </div>
                      <div *ngIf="item.value.capabilities[0].accessType == 0 || item.value.capabilities[0].accessType == 1" class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="readonly0{{i}}" name="radio0{{i}}"
                          [checked]="item.value.capabilities[0].accessFlag === 1 ? true : false"
                          (change)="setMenuItemFlag(i, 0, 1)" value="1" mdbInput>
                        <label class="form-check-label" for="readonly0{{i}}">accès en lecture</label>
                      </div>
                      <div *ngIf="item.value.capabilities[0].accessType == 0 || item.value.capabilities[0].accessType == 2" class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="edit0{{i}}" name="radio0{{i}}"
                          [checked]="item.value.capabilities[0].accessFlag === 2 ? true : false"
                          (change)="setMenuItemFlag(i, 0, 2)"  value="2" mdbInput>
                        <label class="form-check-label" for="edit0{{i}}">accès total</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="item.value.childItems">
                <div *ngFor="let child of item.value.childItems; let j = index">
                  <div *ngIf="!child.capabilities">
                    <div class="row">
                      <div class="col-md-2">
                        <div class="text-15 ml-2">{{child.menuItemName}}</div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="child.capabilities">
                    <div *ngIf="child.capabilities.length === 1">
                      <div class="row">
                        <div class="col-md-2">
                          <div class="text-15">{{child.menuItemName}}</div>
                        </div>
                        <div class="col-md-10">
                          <div class="row">
                            <div class="col-md-12 mb-1">
                              <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="none1{{i}}{{j}}" name="radio1{{i}}{{j}}"
                                  [checked]="child.capabilities[0].accessFlag === 0 ? true : false"
                                  (change)="setChildFlag(i, j, 0, 0)" value="0" mdbInput>
                                <label class="form-check-label" for="none1{{i}}{{j}}">pas d'accès</label>
                              </div>
                              <div *ngIf="child.capabilities[0].accessType == 0 || child.capabilities[0].accessType == 1" class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="readonly1{{i}}{{j}}" name="radio1{{i}}{{j}}"
                                  [checked]="child.capabilities[0].accessFlag === 1 ? true : false"
                                  (change)="setChildFlag(i, j, 0, 1)" value="1" mdbInput>
                                <label class="form-check-label" for="readonly1{{i}}{{j}}">accès en lecture</label>
                              </div>
                              <div *ngIf="child.capabilities[0].accessType == 0 || child.capabilities[0].accessType == 2" class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="edit1{{i}}{{j}}" name="radio1{{i}}{{j}}"
                                  [checked]="child.capabilities[0].accessFlag === 2 ? true : false"
                                  (change)="setChildFlag(i, j, 0, 1)"  value="2" mdbInput>
                                <label class="form-check-label" for="edit1{{i}}{{j}}">accès total</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="child.capabilities.length > 1">
                      <div class="row" *ngFor="let capability of child.capabilities; let k = index">
                        <div class="col-md-2">
                          <div class="text-15">{{child.menuItemName}} ({{capability.name}})</div>
                        </div>
                        <div class="col-md-10">
                          <div class="row">
                            <div class="col-md-12 mb-1">
                              <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="none1{{i}}{{j}}{{k}}" name="radio1{{i}}{{j}}{{k}}"
                                  [checked]="capability.accessFlag === 0 ? true : false"
                                  (change)="setChildFlag(i, j, k, 0)" value="0" mdbInput>
                                <label class="form-check-label" for="none1{{i}}{{j}}{{k}}">pas d'accès</label>
                              </div>
                              <div *ngIf="capability.accessType == 0 || capability.accessType == 1" class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="readonly1{{i}}{{j}}{{k}}" name="radio1{{i}}{{j}}{{k}}"
                                  [checked]="capability.accessFlag === 1 ? true : false"
                                  (change)="setChildFlag(i, j, k, 1)"  value="1" mdbInput>
                                <label class="form-check-label" for="readonly1{{i}}{{j}}{{k}}">accès en lecture</label>
                              </div>
                              <div *ngIf="capability.accessType == 0 || capability.accessType == 2" class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="edit1{{i}}{{j}}{{k}}" name="radio1{{i}}{{j}}{{k}}"
                                  [checked]="capability.accessFlag === 2 ? true : false"
                                  (change)="setChildFlag(i, j, k, 2)"  value="2" mdbInput>
                                <label class="form-check-label" for="edit1{{i}}{{j}}{{k}}">accès total</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="item.value.capabilities.length > 1">
              <div class="row" *ngFor="let capability of item.value.capabilities; let j = index">
                <div class="col-md-2">
                  <div class="text-15 textDarkBlue"><b>{{item.value.name}}</b> ({{capability.name}})</div>
                </div>
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-12 mb-1">
                      <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="none2{{i}}{{j}}" name="radio2{{i}}{{j}}"
                          [checked]="capability.accessFlag === 0 ? true : false"
                          (change)="setMenuItemFlag(i, j, 0)" value="0" mdbInput>
                        <label class="form-check-label" for="none2{{i}}{{j}}">pas d'accès</label>
                      </div>
                      <div *ngIf="capability.accessType == 0 || capability.accessType == 1" class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="readonly2{{i}}{{j}}" name="radio2{{i}}{{j}}"
                          [checked]="capability.accessFlag === 1 ? true : false"
                          (change)="setMenuItemFlag(i, j, 1)" value="1" mdbInput>
                        <label class="form-check-label" for="readonly2{{i}}{{j}}">accès en lecture</label>
                      </div>
                      <div *ngIf="capability.accessType == 0 || capability.accessType == 2" class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="edit2{{i}}{{j}}" name="radio2{{i}}{{j}}"
                          [checked]="capability.accessFlag === 2 ? true : false"
                          (change)="setMenuItemFlag(i, j, 2)" value="2" mdbInput>
                        <label class="form-check-label" for="edit2{{i}}{{j}}">accès total</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="item.value.childItems">
                <div *ngFor="let child of item.value.childItems; let j = index">
                  <div *ngIf="!child.capabilities">
                    <div class="row">
                      <div class="col-md-2">
                        <div class="text-15 ml-2">{{child.menuItemName}}</div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="child.capabilities">
                    <div *ngIf="child.capabilities.length === 1">
                      <div class="row">
                        <div class="col-md-2">
                          <div class="text-15">{{child.menuItemName}}</div>
                        </div>
                        <div class="col-md-10">
                          <div class="row">
                            <div class="col-md-12 mb-1">
                              <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="none2{{i}}{{j}}" name="radio2{{i}}{{j}}"
                                  [checked]="child.capabilities[0].accessFlag === 0 ? true : false"
                                  (change)="setChildFlag(i, j, 0, 0)" value="0" mdbInput>
                                <label class="form-check-label" for="none2{{i}}{{j}}">pas d'accès</label>
                              </div>
                              <div *ngIf="child.capabilities[0].accessType == 0 || child.capabilities[0].accessType == 1" class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="readonly2{{i}}{{j}}" name="radio2{{i}}{{j}}"
                                  [checked]="child.capabilities[0].accessFlag === 1 ? true : false"
                                  (change)="setChildFlag(i, j, 0, 1)" value="1" mdbInput>
                                <label class="form-check-label" for="readonly2{{i}}{{j}}">accès en lecture</label>
                              </div>
                              <div *ngIf="child.capabilities[0].accessType == 0 || child.capabilities[0].accessType == 2" class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="edit2{{i}}{{j}}" name="radio2{{i}}{{j}}"
                                  [checked]="child.capabilities[0].accessFlag === 2 ? true : false"
                                  (change)="setChildFlag(i, j, 0, 2)" value="2" mdbInput>
                                <label class="form-check-label" for="edit2{{i}}{{j}}">accès total</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="child.capabilities.length > 1">
                      <div class="row" *ngFor="let capability of child.capabilities; let k = index">
                        <div class="col-md-2">
                          <div class="text-15">{{child.menuItemName}} ({{capability.name}})</div>
                        </div>
                        <div class="col-md-10">
                          <div class="row">
                            <div class="col-md-12 mb-1">
                              <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="none2{{i}}{{j}}{{k}}" name="radio2{{i}}{{j}}{{k}}"
                                  [checked]="capability.accessFlag === 0 ? true : false"
                                  (change)="setChildFlag(i, j, k, 0)" value="0" mdbInput>
                                <label class="form-check-label" for="none2{{i}}{{j}}{{k}}">pas d'accès</label>
                              </div>
                              <div *ngIf="capability.accessType == 0 || capability.accessType == 1" class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="readonly2{{i}}{{j}}{{k}}" name="radio2{{i}}{{j}}{{k}}"
                                  [checked]="capability.accessFlag === 1 ? true : false"
                                  (change)="setChildFlag(i, j, k, 0)" value="1" mdbInput>
                                <label class="form-check-label" for="readonly2{{i}}{{j}}{{k}}">accès en lecture</label>
                              </div>
                              <div *ngIf="capability.accessType == 0 || capability.accessType == 2" class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="edit2{{i}}{{j}}{{k}}" name="radio2{{i}}{{j}}{{k}}"
                                  [checked]="capability.accessFlag === 2 ? true : false"
                                  (change)="setChildFlag(i, j, k, 0)" value="2" mdbInput>
                                <label class="form-check-label" for="edit2{{i}}{{j}}{{k}}">accès total</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="text-17 textDarkBlue"><b>utilisateurs du rôle</b></div>
      <hr class="my-1">
      <div class="row">
        <div class="col-md-5">
          <div class="card h-100" style="border: 1px solid #192C47;">
            <div class="card-header text-15 textDarkBlue"><b>employés</b></div>
            <div class="card-body p-2">
              <div *ngFor="let emp of empsNotInRole | paginate: { id:'notInRole', itemsPerPage: notInRolePageSize, 
                currentPage: notInRolePage }; let i = index" class="border rounded-lg p-1">
                <a (click)="moveToRole(emp.id)">
                  <div class="d-flex">
                    <div class="zoom">
                      <img class="rounded-circle" width="30" src="{{emp.photoUrl || '../../../../assets/user.png'}}" alt>
                    </div>
                    <div class="text-15 ml-2 my-auto flex-grow-1 text-capitalize">{{emp.lastName}} {{emp.firstName}}</div>
                    <i class="fad fa-arrow-alt-right fa-2x d-none d-md-block my-auto" style="--fa-secondary-opacity: 1;
                      --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
                    <i class="fad fa-arrow-alt-down fa-2x d-md-none my-auto" style="--fa-secondary-opacity: 1;
                      --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
                  </div>
                </a>
              </div>
              <div class="mt-2">
                <pagination-controls (pageChange)="notInRolePage = $event" id="notInRole" responsive="true"
                  directionLinks="true" autoHide="true" previousLabel="" nextLabel=""></pagination-controls>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 my-auto text-center">
          <div class="text-13 textDarkRed">clicker sur l'utilisateur pour le déplacer</div>
          <i class="fad fa-exchange-alt fa-4x d-none d-md-block" style="--fa-secondary-opacity: 1;
            --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
          <i class="fad fa-sort-alt fa-4x d-md-none" style="--fa-secondary-opacity: 1;
            --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
        </div>
        <div class="col-md-5">
          <div class="card h-100" style="border: 1px solid #192C47;">
            <div class="card-header text-15 textDarkBlue"><b>employés dans le rôle</b></div>
            <div class="card-body p-2">
              <hr class="my-2">
              <div *ngFor="let emp of empsInRole | paginate: { id: 'inRole', itemsPerPage: inRolePageSize,
                currentPage: inRolePage }; let i = index" class="border rounded-lg p-1">
                <a (click)="removeFromRole(emp.id)">
                  <div class="d-flex">
                    <i class="fad fa-arrow-alt-left fa-2x d-none d-md-block my-auto mr-3" style="--fa-secondary-opacity: 1;
                      --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
                    <div class="zoom">
                      <img class="rounded-circle" width="30" src="{{emp.photoUrl || '../../../../assets/user.png'}}" alt>
                    </div>
                    <div class="text-15 ml-2 my-auto flex-grow-1 text-capitalize">{{emp.lastName}} {{emp.firstName}}</div>
                    <i class="fad fa-arrow-alt-up fa-2x d-md-none my-auto" style="--fa-secondary-opacity: 1;
                      --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
                  </div>
                </a>
              </div>
              <div class="mt-2">
                <pagination-controls (pageChange)="inRolePage = $event" id="inRole" responsive="true"
                  directionLinks="true" autoHide="true" previousLabel="" nextLabel=""></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-md-8"></div>
    <div class="col-md-2 mb-1">
      <button type="button" (click)="goToRoles()" [disabled]="wait" mdbBtn block="true" size="sm" class="btnOrange" mdbWavesEffect>
        <span *ngIf="wait" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        annuler
      </button>
    </div>
    <div class="col-md-2 mb-1">
      <button type="submit" mdbBtn [disabled]="!roleForm.valid || wait" size="sm" block="true" class="btnBlue" mdbWavesEffect>
        <span *ngIf="wait" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        saisir le rôle
      </button>
    </div>
  </div>
</form>