<div class="d-flex">
  <div class="" routerLinkActive="active">
    <a class="text-15 text-muted mr-3" [routerLink]="['/home']">accueil</a>
  </div>
  <div class="" routerLinkActive="active">
    <a class="text-15 text-muted mr-3" [routerLink]="['/agenda']">cahier de textes</a>
  </div>
  <div class="" routerLinkActive="active">
    <a class="text-15 text-muted mr-3" [routerLink]="['/classes']">classes</a>
  </div>
  <div class="" routerLinkActive="active">
    <a class="text-15 text-muted mr-3" [routerLink]="['/notes']">notes</a>
  </div>
  <!-- <div class="" routerLinkActive="active">
    <a class="text-15 text-muted" [routerLink]="['/classLife']">vie de classe</a>
  </div> -->
  <div *appHasRole="['Admin', 'Moderator']" class="" routerLinkActive="active">
    <a class="text-15 text-muted" [routerLink]="['/admin']">Admin</a>
  </div>
</div>
