<!-- <div class="d-flex">
  <div class="" routerLinkActive="active">
    <a class="text-15 text-muted mr-3" [routerLink]="['/home']">accueil</a>
  </div>
  <div class="" routerLinkActive="active">
    <a class="text-15 text-muted mr-3" [routerLink]="['/agenda']">cahier de textes</a>
  </div>
  <div class="" routerLinkActive="active">
    <a class="text-15 text-muted mr-3" [routerLink]="['/classes']">classes</a>
  </div>
  <div class="" routerLinkActive="active">
    <a class="text-15 text-muted mr-3" [routerLink]="['/grades']">notes</a>
  </div>
  <div *appHasRole="['Admin', 'Moderator']" class="" routerLinkActive="active">
    <a class="text-15 text-muted" [routerLink]="['/admin']">Admin</a>
  </div>
</div> -->

<ul class="navbar-nav mr-auto">
  <li class="nav-item waves-light" mdbWavesEffect>
    <a class="nav-link text-muted" (click)="closeNavOnClick()" [routerLink]="['/home']">accueil</a>
  </li>
  <li class="nav-item waves-light" mdbWavesEffect>
    <a class="nav-link text-muted" (click)="closeNavOnClick()" [routerLink]="['/agenda']">cahier de textes</a>
  </li>
  <li class="nav-item waves-light" mdbWavesEffect>
    <a class="nav-link text-muted" (click)="closeNavOnClick()" [routerLink]="['/classes']">classes</a>
  </li>
  <li class="nav-item waves-light" mdbWavesEffect>
    <a class="nav-link text-muted" (click)="closeNavOnClick()" [routerLink]="['/grades']">notes</a>
  </li>
  <li class="nav-item waves-light" mdbWavesEffect>
    <a class="nav-link text-muted" (click)="closeNavOnClick()" [routerLink]="['/teacherProgram']">programme</a>
  </li>
</ul>
