<form  [formGroup]="lvlProdForm" (ngSubmit)="save()">
    <div  class="row">
        <mdb-select [options]="levels" formControlName="classLevelIds" [multiple]="true" [highlightFirst]="true" placeholder="Choisir les niveaux"></mdb-select>
    </div>
    <div  class="row mt-3">
        <mdb-select [options]="services"  formControlName="productId" placeholder="Choisir le serice"></mdb-select>
    </div>
    <div class="md-form mt-3">
        <input mdbInput type="number" id="name" class="form-control" formControlName="amount">
    </div>
    
    <button type="submit" mdbBtn color="primary" size="sm" [disabled]="!lvlProdForm.valid" mdbWavesEffect>enregistrer</button>
    <button type="button" mdbBtn color="light" size="sm" mdbWavesEffect [routerLink]="['/lvlprods']" >annuler</button>
</form>