<div class="row justify-content-center align-items-center" [@animate]="{value:'*',params:{delay: 100+'ms', y:'50px'}}">

  <div class="col-md-10">
    <div>
      <div class="card mb-4">
        <div class="card-body">
          <div class="d-flex">
            <div class="card-title flex-grow-1">liste des enseignants</div>
            <div>
              <button mdbBtn color="info" size="sm" mdbWavesEffect [routerLink]="['/addTeacher']"
                routerLinkActive="router-link-active">ajouter un enseignant</button>
            </div>
          </div>
          <div class="mb-4" style="border-top: 1px solid #cccccc"></div>

          <div class="d-flex border-bottom-dotted-dim pb-3 mb-3" *ngFor="let teacher of teachersCourses">
            <img class="avatar-md rounded mr-3" src="{{teacher.photoUrl || '../../assets/user.png'}}" alt="">
            <div class="flex-grow-1">
              <h6 class="m-0">{{teacher.lastName}} {{teacher.firstName}} </h6>
              <span> {{teacher.email}}.&nbsp; &nbsp; Contact: {{teacher.phoneNumber}} {{teacher.secondPhoneNumber}}
              </span>
              <p class="m-0 text text-muted"><b>Cours : </b> <span *ngIf="teacher.courseClasses.length===0">Aucun</span>
                <span *ngIf="teacher.courseClasses.length>0">
                  <span *ngFor="let course of teacher.courseClasses">
                    {{course.course.name}} <span *ngIf="course.classes.length>0">:<span
                        *ngFor="let class of course.classes"><a href="">{{class.name}}, </a></span></span>
                  </span>
                </span>

              </p>
            </div>
            <div>
              <button mdbBtn color="info" size="sm" mdbWavesEffect [routerLink]="['/editTeacher',teacher.id]"
                routerLinkActive="router-link-active">Editer</button>
              <button mdbBtn color="light" size="sm" mdbWavesEffect class="ml-2"
                [routerLink]="['/teacherAssignment',teacher.id]" [disabled]="teacher.courseClasses.length===0"
                (click)="assignment(teacher)">Affecter</button>
            </div>
          </div>
          <div *ngIf="teachersCourses.length===0">
              <h3>Aucun enseignant enregistré pour l'instant...</h3>
          </div>

        </div>

      </div>
    </div>
    <div *ngIf="show === 'export'" class="row justify-content-center align-items-center mt-3">
      <div class="col-md-8">
        <p class="lead">{{exportedTeachers.length | json}} lignes trouvée(s)</p>
        <div class="col-md-12 mt-1">
          <button class="btn btn-outline-primary btn-sm" (click)="saveImport()">Enregistrer</button>
          <button class="btn btn-outline-primary btn-sm">annuler</button>
        </div>

        <div class="d-flex align-items-center border-bottom-dotted-dim mb-1" *ngFor="let teacher of exportedTeachers">
          <img class="avatar-md rounded mr-3" src="{{'../../assets/user.png'}}" alt="">
          <div class="flex-grow-1">
            <h6 class="m-0">{{teacher.lastName}} {{teacher.firstName}} </h6>
            <span> {{teacher.email}}.&nbsp; &nbsp; Contact: {{teacher.phoneNumber}} {{teacher.secondPhoneNumber}}
            </span>
            <p class="m-0 text text-muted"><b>Cours ({{teacher.courses.length}}) : </b> <span
                *ngIf="!teacher.courses">Aucun</span>
              <span *ngIf="teacher.courses"> <span *ngFor="let course of teacher.courses"> {{course}} - </span>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>