
<div  *ngIf="show==='all' && !teachersCourses">

</div>   
<div class="row justify-content-center align-items-center mt-3"  *ngIf="show==='all'">
  <div  class="col-md-8">
      <div class="col-md-12">
          <button class="btn btn-outline-primary btn-sm" (click)="add()">ajouter</button>
          <input type="file"  accept=" application/docx" title="importer" (change)="onFileChange($event)" />
      </div>

      <div class="card mb-4">
        <div class="card-body">
          <div class="card-title">Profésseurs et enseignants</div>
    
          <div class="d-flex align-items-center border-bottom-dotted-dim pb-3 mb-3" *ngFor="let teacher of teachersCourses">
                <img class="avatar-md rounded mr-3"  src="{{teacher.photoUrl || '../../assets/user.png'}}" alt="">
                <div class="flex-grow-1">
                  <h6 class="m-0">{{teacher.lastName}} {{teacher.firstName}} </h6> 
                  <span> {{teacher.email}}.&nbsp; &nbsp; Contact: {{teacher.phoneNumber}} {{teacher.secondPhoneNumber}}  </span>
                  <p class="m-0 text text-muted"><b>Cours : </b> <span *ngIf="teacher.courseClasses.length===0">Aucun</span>
                    <span *ngIf="teacher.courseClasses.length>0">
                        <span *ngFor="let course of teacher.courseClasses" >
                            {{course.course.name}} <span *ngIf="course.classes.length>0">:<span *ngFor="let class of course.classes"><a href="">{{class.name}}, </a></span></span>
                          </span>
                    </span>
                      
                  </p>
                </div>
                <div>
                  <button class="btn btn-outline-primary btn-sm" (click)="edit(teacher)">Editer</button>
                  <button class="btn btn-outline-primary btn-sm ml-2" [disabled]="teacher.courseClasses.length===0" (click)="assignment(teacher)">Affecter</button>
                </div>
          </div>
          
        </div>
      </div>
  </div>  
</div>
    

<div *ngIf="show==='add'">
    <app-new-teacher (addUserResult)="resultMode($event)"></app-new-teacher>
</div>
<div *ngIf="show==='edit'">
  <app-new-teacher (addUserResult)="resultMode($event)" [teacherDetail]="teacher"></app-new-teacher>
</div>
 <div *ngIf="show==='affect'">
   <app-teacher-assignment [teacher]="teacher"  (addUserResult)="resultMode($event)"></app-teacher-assignment>
</div>
<div *ngIf="show==='export'" class="row justify-content-center align-items-center mt-3">
        <div  class="col-md-8">
            <p class="lead">{{exportedTeachers.length | json}} lignes trouvée(s)</p> 
            <div class="col-md-12 mt-1">
                <button class="btn btn-outline-primary btn-sm" (click)="saveImport()">Enregistrer</button>
                <button class="btn btn-outline-primary btn-sm" (click)="cancel()">annuler</button>
            </div>
            
            <div class="d-flex align-items-center border-bottom-dotted-dim mb-1" *ngFor="let teacher of exportedTeachers">
                  <img class="avatar-md rounded mr-3"  src="{{'../../assets/user.png'}}" alt="">
                  <div class="flex-grow-1">
                      <h6 class="m-0">{{teacher.lastName}} {{teacher.firstName}} </h6> 
                      <span> {{teacher.email}}.&nbsp; &nbsp; Contact: {{teacher.phoneNumber}} {{teacher.secondPhoneNumber}}  </span>
                      <p class="m-0 text text-muted"><b>Cours ({{teacher.courses.length}}) : </b> <span *ngIf="!teacher.courses">Aucun</span>
                        <span *ngIf="teacher.courses"> <span *ngFor="let course of teacher.courses" >    {{course}} -  </span>
                        </span>
                      </p>
                  </div>

                  <div>
                    <!-- <button class="btn btn-outline-primary btn-sm" (click)="edit(teacher)">Editer</button> -->
                  </div>
            </div>
        </div>
</div>


