<div class="row">
  <div class="col-md-12 d-none d-md-block">
    <div class="d-flex">
      <i class="fad fa-chalkboard-teacher fa-2x mr-2" style="--fa-secondary-opacity: 1;--fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
      <p class="text-17 flex-grow-1">liste des enseignants</p>
      <div>
        <button mdbBtn class="btnBlue" size="sm" mdbWavesEffect [routerLink]="['/addTeacher']" routerLinkActive="router-link-active">
          <i class="fad fa-user-plus fa-1x mr-1" style="--fa-secondary-opacity: 1;--fa-primary-color:#f89f20;--fa-secondary-color:#f89f20;"></i>
          ajouter un enseignant
        </button>
      </div>
    </div>
  </div>
  <div class="d-md-none">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex">
          <i class="fad fa-chalkboard-teacher fa-2x mr-2" style="--fa-secondary-opacity: 1;--fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
          <p class="text-17 flex-grow-1">liste des enseignants</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="">
          <button mdbBtn class="btnBlue" size="sm" mdbWavesEffect [routerLink]="['/addTeacher']" routerLinkActive="router-link-active">
            <i class="fad fa-user-plus fa-1x mr-1" style="--fa-secondary-opacity: 1;--fa-primary-color:#f89f20;--fa-secondary-color:#f89f20;"></i>
            ajouter un enseignant
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="md-form form-sm my-1">
          <input mdbInput type="text" id="search" [formControl]="searchControl" class="form-control">
          <label for="search">rechercher des enseignants</label>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card mb-2" *ngFor="let teacher of filteredTeachers">
      <div class="card-body p-2 d-none d-md-block">
        <div class="row">
          <div class="col-md-1 mb-1">
            <img class="avatar-lg rounded-lg mr-3" src="{{teacher.photoUrl || '../../assets/user.png'}}" alt="">
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-12">
                <div class="d-flex align-content-center">
                  <div *ngIf="teacher.gender === 1">
                    <i class="fad fa-male fa-2x mr-2" style="--fa-primary-opacity: 1;
                      --fa-secondary-opacity: 1; --fa-primary-color: #f89f20; --fa-secondary-color:#192C47;"></i>
                  </div>
                  <div *ngIf="teacher.gender === 0">
                    <i class="fad fa-female fa-2x mr-2" style="--fa-primary-opacity: 1;
                      --fa-secondary-opacity: 1;--fa-primary-color: #f89f20; --fa-secondary-color:#192C47;"></i>
                  </div>
                  <div class="text-20">
                    <span class="text-capitalize">{{teacher.lastName}} {{teacher.firstName}}</span>
                    <span *ngIf="teacher.educLevelId == educLevelPrimary" class="ml-1" style="color: #2962ff;">- classe primaire {{teacher.className}}</span>
                    <span *ngIf="teacher.educLevelId != educLevelPrimary" class="ml-1" style="color: #2962ff;">- niveau secondaire</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex">
              <div class="text-15 text-muted">
                <i class="fad fa-mobile-alt mr-2" style="--fa-primary-opacity: 1;--fa-secondary-opacity: 1;
                  --fa-primary-color: #192C47; --fa-secondary-color:#f89f20;"></i>{{teacher.phoneNumber}}
              </div>
              <div *ngIf="teacher.secondPhoneNumber" class="text-15 text-muted mx-3">-</div>
              <div *ngIf="teacher.secondPhoneNumber" class="text-15 text-muted">
                <i class="fad fa-phone-alt mr-2" style="--fa-primary-opacity: 1;--fa-secondary-opacity: 1;
                  --fa-primary-color: #192C47; --fa-secondary-color:#f89f20;"></i>{{teacher.secondPhoneNumber}}
              </div>
              <div class="text-15 text-muted mx-3">-</div>
              <div class="text-15 text-muted">
                <i class="fad fa-at mr-2" style="--fa-primary-opacity: 1;--fa-secondary-opacity: 1;
                  --fa-primary-color: #192C47; --fa-secondary-color:#f89f20;"></i>{{teacher.email}}
              </div>    
            </div>
          </div>
          <div *ngIf="!teacher.validated" class="col-md-2 text-center">
            <i class="fad fa-user-lock fa-2x mr-2" style="--fa-primary-opacity: 1;
              --fa-secondary-opacity: 1; --fa-primary-color: #f89f20; --fa-secondary-color:#192C47;"></i>
            <div class="text-15 text-danger"><b>non validé</b></div>
          </div>
        </div>
        <hr class="mt-2 mb-1">
        <div class="">
          <div class="d-flex align-items-end">
            <div class="flex-grow-1">
              <div class="text-15 mb-2"><b>cours de l'enseignant</b></div>
              <div class="text-17 text-danger" *ngIf="teacher.courseClasses.length == 0">aucun cours pour {{teacher.lastName}} {{teacher.firstName}}</div>
              <div *ngIf="teacher.courseClasses.length > 0">
                <div *ngIf="teacher.educLevelId == educLevelPrimary">
                  <div class="row">
                    <div class="col-md-2" *ngFor="let course of teacher.courseClasses">
                      <div class="d-flex">
                        <i class="fad fa-circle mr-2 my-auto" style="--fa-primary-opacity: 1;
                          --fa-secondary-opacity: 1; --fa-primary-color: #192C47; --fa-secondary-color:#f89f20;"></i>
                        <div class="text-15 my-auto">{{course.course.name}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="teacher.educLevelId != educLevelPrimary">
                  <div *ngFor="let course of teacher.courseClasses">
                    <div class="d-flex">
                      <div class="text-16 mr-1">{{course.course.name}} :</div>
                      <div *ngFor="let class of course.classes; let i = index">
                        <div class="text-16 text-muted mr-1" *ngIf="i < course.classes.length - 1">{{class.name}},</div>
                        <div class="text-16 text-muted mr-1" *ngIf="i == course.classes.length - 1">{{class.name}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <button mdbBtn class="btnBlue" [disabled]="!teacher.validated" size="sm" mdbWavesEffect [routerLink]="['/editTeacher',teacher.id]">
                <i class="fad fa-user-edit fa-1x mr-1" style="--fa-secondary-opacity: 1;
                  --fa-primary-color:#192C47;--fa-secondary-color:#192C47;"></i>
                editer
              </button>
              <button mdbBtn class="btnBlue ml-2" size="sm" mdbWavesEffect [routerLink]="['/teacherAssignment',teacher.id]"
              *ngIf="teacher.educLevelId != educLevelPrimary" [disabled]="teacher.courseClasses.length === 0 || !teacher.validated" >
                <i class="fad fa-users-class fa-1x mr-1" style="--fa-secondary-opacity: 1;
                  --fa-primary-color:#192C47;--fa-secondary-color:#192C47;"></i>
                affecter
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-md-none">
  <div class="" *ngFor="let teacher of filteredTeachers">
    <mdb-card class="testimonial-card my-5 p-3">
      <div class="avatar mx-auto">
        <img src="{{teacher.photoUrl || '../../assets/user.png'}}" class="rounded-circle">
      </div>
      <mdb-card-body class="p-2">
        <mdb-card-title>
          <div class="d-flex justify-content-center">
            <div *ngIf="teacher.gender === 1">
              <i class="fad fa-male fa-2x mr-2" style="--fa-primary-opacity: 1;
                --fa-secondary-opacity: 1; --fa-primary-color: #f89f20; --fa-secondary-color:#192C47;"></i>
            </div>
            <div *ngIf="teacher.gender === 0">
              <i class="fad fa-female fa-2x mr-2" style="--fa-primary-opacity: 1;
                --fa-secondary-opacity: 1;--fa-primary-color: #f89f20; --fa-secondary-color:#192C47;"></i>
            </div>
            <div class="text-20 text-capitalize">
              {{teacher.lastName}} {{teacher.firstName}}
            </div>
          </div>
          <div class="text-20">
            <span *ngIf="teacher.educLevelId == educLevelPrimary" class="ml-1" style="color: #2962ff;">classe primaire {{teacher.className}}</span>
          </div>
          <div *ngIf="!teacher.validated" class="d-flex justify-content-center text-center">
            <i class="fad fa-user-lock fa-1x mr-1" style="--fa-primary-opacity: 1;
              --fa-secondary-opacity: 1; --fa-primary-color: #f89f20; --fa-secondary-color:#192C47;"></i>
            <div class="text-15 text-danger"><b>non validé</b></div>
          </div>
        </mdb-card-title>
        <hr class="my-1">
        <div class="text-left">
          <i class="fad fa-mobile-alt mr-1" style="--fa-primary-opacity: 1;
            --fa-secondary-opacity: 1; --fa-primary-color: #192C47; --fa-secondary-color:#f89f20;"></i>{{teacher.phoneNumber}}
        </div>
        <div class="text-left" *ngIf="teacher.secondPhoneNumber">
          <i class="fad fa-phone-alt mr-1" style="--fa-primary-opacity: 1;--fa-secondary-opacity: 1;
            --fa-primary-color: #192C47; --fa-secondary-color:#f89f20;"></i>{{teacher.secondPhoneNumber}}
        </div>
        <div class="text-left">
          <div class="o-hidden">
            <i class="fad fa-at mr-1" style="--fa-primary-opacity: 1;--fa-secondary-opacity: 1;
              --fa-primary-color: #192C47; --fa-secondary-color:#f89f20;"></i>
            {{teacher.email}}
          </div>
        </div>  
        <div class="text-left">
          <div class="text-15"><b>cours de l'enseignant</b></div>
          <div class="text-17 text-danger" *ngIf="teacher.courseClasses.length == 0">aucun cours pour {{teacher.lastName}} {{teacher.firstName}}</div>
          <div *ngIf="teacher.courseClasses.length > 0">
            <div class="text-16 mr-1" *ngFor="let course of teacher.courseClasses">{{course.course.name}}</div>
          </div>
        </div>
        <div class=""><hr class="my-1"></div>
        <div class="">
          <div class="d-flex justify-content-center">
            <button mdbBtn class="btnBlue" [disabled]="!teacher.validated" size="sm" mdbWavesEffect
              [routerLink]="['/editTeacher',teacher.id]">
              <i class="fad fa-user-edit fa-1x mr-1" style="--fa-secondary-opacity: 1;
                --fa-primary-color:#f89f20;--fa-secondary-color:#f89f20;"></i>
              editer
            </button>
            <button mdbBtn class="btnBlue ml-1" size="sm" mdbWavesEffect [routerLink]="['/teacherAssignment',teacher.id]"
              *ngIf="teacher.educLevelId != educLevelPrimary" [disabled]="teacher.courseClasses.length === 0 || !teacher.validated" >
              <i class="fad fa-users-class fa-1x mr-1" style="--fa-secondary-opacity: 1;
                --fa-primary-color:#f89f20;--fa-secondary-color:#f89f20;"></i>
              affecter
            </button>
          </div>
        </div>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>
