<div class="row">

  <div class="col-md-12">
    <div class="lead text-15 m-0 pb-2">{{selectedEval.name}}({{selectedEval.evalType.name}}) - saisie des notes</div>
    <!-- <p class="text-13 text-muted">notes des élèves par classe, par type et par période</p> -->
  </div>

  <div class="col-md-12">
    <form #evalForm="ngForm" (ngSubmit)="saveNotes()">

      <div class="row">

        <div class="col-md-4 mb-2">
          <input id="search" placeholder="recherche élève" [formControl]="searchControl" class="form-control " type="search">
        </div>

      </div>
      
      <!-- DATA LIST -->
      <div class="row" [ngClass]="{'list-horizontal': viewMode === 'list', 'list-grid': viewMode === 'grid'}">
        <!-- SINGLE LIST ITEM -->
        <div *ngFor="let student of filteredUserGrades | paginate: { itemsPerPage: pageSize, currentPage: page }; let i = index" 
          class="list-item"
          [ngClass]="{'col-md-12': viewMode === 'list', 'col-md-3': viewMode === 'grid'}"
          [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}"
        >
          <div class="card o-hidden mb-3 d-flex" [ngClass]="{'flex-row': viewMode === 'list', 'flex-column': viewMode === 'grid'}">
            <div class="div-thumb d-flex">
              <!-- TUMBNAIL -->
              <img src="{{student.photoUrl || '../../assets/user.png'}}" alt="">
            </div>
            <div class="flex-grow-1" [ngClass]="{'pl-2 d-flex': viewMode === 'list', 'd-bock': viewMode === 'grid'}">
              <div class="card-body p-1 align-self-center d-flex flex-column justify-content-start align-items-lg-center"
                [ngClass]="{'flex-lg-row': viewMode === 'list'}">
                <!-- OTHER DATA -->
                <div class="w-20 w-sm-100">
                  <div class="lead">{{student.studentName}}</div>
                </div>                        
                <div class="w-10 w-sm-100">
                  <div class="item-title"><input nz-input [(ngModel)]="student.grades[gradeIndex]" name="note + {{i}}"
                    style="width: 60px" nzSize="default"> / {{selectedEval.maxGrade}}
                  </div>
                </div>                        
                <div class="w-70 w-sm-100">
                  <div class="item-title">
                    <input nz-input [(ngModel)]="student.comments[gradeIndex]" name="comment + {{i}}"
                      style="width: 400px" nzSize="default">
                  </div>
                </div>                        
              </div>
            </div>
          </div>
        </div>
        <!-- PAGINATION CONTROL -->
        <div class="col-md-12 mt-3" *ngIf="userGrades?.length">
          <pagination-controls (pageChange)="page = $event" previousLabel="" nextLabel=""></pagination-controls>
        </div>
      </div>

      <div class="mb-3">
        <label class="switch switch-success mr-3">
          <span>clôturer les notes</span>
          <input type="checkbox" [(ngModel)]="closed" name="evalClosed">
          <span class="slider"></span>
        </label>
      </div>

      <div class="form-group">
        <button class="mr-2" nz-button nzType="primary" type="submit">valider</button>
        <button nz-button nzType="default" type="button" (click)="cancelForm()">annuler</button>
      </div>
      
    </form>
  </div>

</div>