<div class="p-1">
<div class="row">
  <div class="col-md-12">
      <div class="card o-hidden">
        <ngx-datatable
        style="height: calc(100vh - 200px); box-shadow: none"
        class="material fullscreen"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="60"
        [scrollbarV]="true"
        [limit]="10"
        [rows]="levels">
         
          <ngx-datatable-column name="name">
            <ng-template ngx-datatable-header-template>
              Niveau
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="totalEnrolled">
            <ng-template ngx-datatable-header-template>
              total Inscrit
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="totalValdated">
            <ng-template ngx-datatable-header-template>
              total validé
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="availableClasses">
            <ng-template ngx-datatable-header-template>
              classes disponibles
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="availablePlaces">
            <ng-template ngx-datatable-header-template>
              Places disponibles
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="id" [width]="50">
            <ng-template ngx-datatable-header-template>
              Option
            </ng-template>
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <a [routerLink]="['/levelClasses', value]" routerLinkActive="router-link-active"  class="btn btn-outline-primary btn-sm">details</a>
          </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
  </div>
</div>
</div>