<div class="row animated zoomInDown">

  <div class="col-md-12 d-none d-md-block">
    <div class="d-flex">
      <i class="fad fa-books fa-2x mr-2" style="--fa-secondary-opacity: 1;--fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
      <p class="text-17 flex-grow-1">liste des cours</p>
      <div>
        <button mdbBtn class="btnBlue" size="sm" mdbWavesEffect [routerLink]="['/addCourse']" routerLinkActive="router-link-active">
          <i class="fal fa-books fa-1x mr-1" style="--fa-secondary-opacity: 1;--fa-primary-color:#f89f20;--fa-secondary-color:#f89f20;"></i>
          ajouter un cours
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-12 d-md-none">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex">
          <i class="fad fa-books fa-2x mr-2" style="--fa-secondary-opacity: 1;--fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
          <p class="text-17 flex-grow-1">liste des cours</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="">
          <button mdbBtn class="btnBlue" size="sm" mdbWavesEffect [routerLink]="['/addCourse']" routerLinkActive="router-link-active">
            <i class="fal fa-books fa-1x mr-1" style="--fa-secondary-opacity: 1;--fa-primary-color:#f89f20;--fa-secondary-color:#f89f20;"></i>
            ajouter un cours
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 mt-2">
    <div class="row">
      <div *ngFor="let course of courses" class="col-md-3 mb-2">
        <app-course-card [course]="course" (saveCourse)="saveCourse($event)"></app-course-card>
      </div>
    </div>
  </div>

</div>
