<!-- <div class="row">

    <div class="col-md-12">
      <p class="lead ">admin - liste des cours</p>
    </div>
      
    <div *ngIf="show === 'all'" [@animate]="{value:'*',params:{delay: 300+'ms', y:'80px'}}" class="col-lg-12 col-md-12">
      
        <div class="card mb-4">
              <div class="card-body p-0">
  
                <div class="card-title border-bottom d-flex align-items-center m-0 p-3">
                  <button class="btn btn-outline-primary btn-sm" (click)='newCourse()'>ajouter un cours</button>
                  <span class="flex-grow-1"></span>
                </div>
  
                <div *ngFor="let course of courses" class="d-flex border-bottom justify-content-between p-3">
                  <div class="flex-grow-1">
                    <span class="text-small text-muted">couleur</span>
                    <h5 class="m-0">
                      <div [ngStyle]="{'background-color': course.color}" class="m-0 mr-5"><span>&nbsp;</span></div>
                    </h5>
                  </div>
                  <div class="flex-grow-1">
                    <span class="text-small text-muted">nom</span>
                    <h6 class="m-0">{{course.name}}</h6>
                  </div>
                  <div class="flex-grow-1">
                    <span class="text-small text-muted">abbrév.</span>
                    <h6 class="m-0">{{course.abbreviation}}</h6>
                  </div>
                  <div class="flex-grow-1">
                    <span class="text-small text-muted">nb enseignants</span>
                    <h6 class="m-0">{{course.teachersNumber}}</h6>
                  </div>
                  <div class="flex-grow-1">
                    <span class="text-small text-muted">nb classes</span>
                    <h6 class="m-0">{{course.classesNumber}}</h6>
                  </div>
                  <div class="flex-grow-1">
                    <span class="text-small text-muted">nb élèves</span>
                    <h6 class="m-0">{{course.studentsNumber}}</h6>
                  </div>
                  <div class="flex-grow-1">
                    <h6 class="m-0 mt-1">
                      <button (click)="edit(course)" class="btn btn-outline-primary btn-sm">modifier</button>
                    </h6>
                  </div>
                </div>
    
              </div>
        </div>
      
    </div>
  
</div> -->
  

      
<div *ngIf="show==='all' && !this.courses">
 <p class="card-title">patienter s'il vous plait....</p>
</div>

<div *ngIf="show==='all'" [@animate]="{value:'*',params:{delay: 100+'ms', y:'50px'}}">
    <button class="btn btn-outline-primary btn-sm" (click)="newCourse()">Ajouter</button>
    <div class="col-md-12">
        <div class="card">
          <ngx-datatable
            style="height: 500px; box-shadow: none"
            class="material fullscreen"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="60"
            [scrollbarV]="true"

            [rows]="courses">
            <ngx-datatable-column name="color" [width]="1">
              <ng-template ngx-datatable-header-template></ng-template>
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <div [ngStyle]="{'background-color': value}" class="m-0"><span>&nbsp;</span></div>            
            </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="name" [width]="80">
              <ng-template ngx-datatable-header-template>
                Nom
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="abbreviation" [width]="10">
              <ng-template ngx-datatable-header-template></ng-template>
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
               <span *ngIf="value"> ({{value}})</span>                
            </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="teachersNumber" [width]="10">
              <ng-template ngx-datatable-header-template>
                Nombre de Prof
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="classesNumber" [width]="10">
              <ng-template ngx-datatable-header-template>
                Nombre de classes
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="studentsNumber" [width]="10">
              <ng-template ngx-datatable-header-template>
                Effectif Eleve
              </ng-template>
            </ngx-datatable-column>
            

            <ngx-datatable-column name="id" [width]="50">
              <ng-template ngx-datatable-header-template>
                Option
              </ng-template>
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                <button (click)="edit(row)" class="btn btn-outline-primary btn-sm">modifier</button>
            </ng-template>
            </ngx-datatable-column>
            
          </ngx-datatable>
        </div>
      </div>
</div>

 <!-- appel du childfrom pour nouvel ajout -->
<div [@animate]="{value:'*',params:{delay: 100+'ms', y:'50px'}}" *ngIf="show === 'add'">
  <app-new-course (addCourseResult)="resultMode($event)"></app-new-course>
</div>

 <!-- appel du childfrom pour une modification -->
 <div [@animate]="{value:'*',params:{delay: 100+'ms', y:'50px'}}" *ngIf="show === 'edit'">
  <app-new-course (addCourseResult)="resultMode($event)" [courseModel]="course"></app-new-course>
</div>

