<div class="container mt-2">
  <div class="mt-2">
    <div class="btn-group mb-2">
      <button type="button" class="btn btn-secondary">vue liste</button>
      <button type="button" class="btn btn-secondary">vue emploi du temp s</button>
    </div>
  </div>

  <div>
    <div class="d-flex" style="border: grey 1px solid">
      <div class="p-2 flex-fill">
        <strong>lundi</strong>
        <div>manger tout</div>
      </div>
      <div class="p-2 flex-fill"><strong>mardi</strong></div>
      <div class="p-2 flex-fill"><strong>mercredi</strong></div>
      <div class="p-2 flex-fill"><strong>jeudi</strong></div>
      <div class="p-2 flex-fill"><strong>vendredi</strong></div>
      <div class="p-2 flex-fill"><strong>samedi</strong></div>
    </div>
  </div>
</div>
