<div class="d-none d-md-block border rounded-lg p-2">
  <div class="row">
    <div class="col-md-1">
      <img src="{{userFile.photoUrl || '../../assets/user.png'}}" alt="" class="rounded-circle img-responsive">
    </div>
    <div class="col-md-11">
      <div class="text-20 font-weight-500" style="color: #192C47;">
        <span class="text-capitalize">{{userFile.lastName}} {{userFile.firstName}}</span> ({{userFile.age}} ans) - classe de {{userFile.className || userFile.classLevelName}}.
      </div>
      <div class="text-15 text-muted">
        père:<span class="text-capitalize pl-1" style="color: #192C47;">{{userFile.fatherLastName}} {{userFile.fatherFirstName}}.</span>
        <span class="pl-2">mobile: <span style="color: #192C47;">{{userFile.fatherPhoneNumber}}</span></span>
        <span class="pl-2">email: <span style="color: #192C47;">{{userFile.fatherEmail}}</span></span>
      </div>
      <div class="text-15 text-muted">
        mère:<span class="text-capitalize pl-1" style="color: #192C47;">{{userFile.motherLastName}} {{userFile.motherFirstName}}.</span>
        <span class="pl-2">mobile: <span style="color: #192C47;">{{userFile.motherPhoneNumber}}</span></span>
        <span class="pl-2">email: <span style="color: #192C47;">{{userFile.motherEmail}}</span></span>
      </div>
    </div>
    <div class="col-md-12"><hr class="my-1"></div>
    <div class="col-md-12 text-15 mb-1"><b>frères et soeurs</b></div>
    <div class="col-md-4 mb-1" *ngFor="let child of userFile.siblings">
      <div class="border rounded-lg p-1">
        <div class="row">
          <div class="col-md-2 d-none d-md-block">
            <img src="{{child.photoUrl || '../../../../../assets/user.png'}}" alt="" class="rounded-circle img-responsive">
          </div>
          <div class="col-md-10 my-auto pl-1 d-none d-md-block">
            <span class="text-16 font-weight-500 text-capitalize" style="color: #192C47;">
              {{child.lastName}} {{child.firstName}}</span> ({{child.age}} ans) - classe de {{child.className || child.classLevelName}}.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-md-none border rounded-lg p-2" style="border: 1px solid blue;">
  <div class="row">
    <div class="col-md-1 text-center">
      <img src="{{userFile.photoUrl || '../../assets/user.png'}}" alt="" width="80" class="rounded-circle img-responsive">
    </div>
    <div class="col-md-11">
      <div class="row">
        <div class="col-md-12 text-20 text-center font-weight-500 text-capitalize" style="color: #192C47;">{{userFile.lastName}} {{userFile.firstName}}</div>
        <div class="col-md-12 text-20 text-center">{{userFile.age}} ans - classe de {{userFile.className || userFile.classLevelName}}</div>
        <div class="col-md-12 text-16">
          <div><b>père:</b></div>
          <div class="text-capitalize">{{userFile.fatherLastName}} {{userFile.fatherFirstName}}.</div>
          <div class="">mobile: <span style="color: #192C47;">{{userFile.fatherPhoneNumber}}</span></div>
          <div class="overflow-auto">email: <span style="color: #192C47;">{{userFile.fatherEmail}}</span></div>
        </div>
        <div class="col-md-12 text-16 mb-1">
          <div><b>mère:</b></div>
          <div class="text-capitalize">{{userFile.motherLastName}} {{userFile.motherFirstName}}.</div>
          <div class="">mobile: <span style="color: #192C47;">{{userFile.motherPhoneNumber}}</span></div>
          <div class="overflow-auto">email: <span style="color: #192C47;">{{userFile.motherEmail}}</span></div>
        </div>
        <div class="col-md-12 text-16 mb-1"><b>frères et soeurs</b></div>
        <div class="col-md-4 mb-1" *ngFor="let child of userFile.siblings">
          <div class="border rounded-lg p-1">
            <div class="row d-md-none">
              <div class="col-md-2 text-center">
                <img src="{{child.photoUrl || '../../../../../assets/user.png'}}" width="80"
                  alt="" class="rounded-circle img-responsive">
              </div>
              <div class="col-md-10 text-center">
                <div class="text-17 text-capitalize" style="color: #192C47;">{{child.lastName}} {{child.firstName}} ({{child.age}} ans)</div>
                <div class="text-17">classe de {{child.className || child.classLevelName}}.</div>
              </div>
            </div>
          </div>
        </div>    
      </div>
    </div>
  </div>
</div>
<app-user-file-tuition [id]="userFile.id"></app-user-file-tuition>
