<div class="row m-2">
  <div class="col-md-12 lead mb-2">programme - programme des classes</div>

  <div class="col-md-3">
    <mdb-select [options]="courseOptions" [formControl]="course" (ngModelChange)="getCourseProgram()" placeholder="choisir le cours"></mdb-select>
  </div>
  
  <div *ngIf="showProgram" class="col-md-12">
    <mdb-tabset #staticTabs [buttonClass]="'nav md-pills pills-primary mb-2'" [justified]="true" [contentClass]="'card'">
      <mdb-tab *ngFor="let aclass of courseProgram" heading="classe {{aclass.className}}">
        <app-class-program-data [aclass]="aclass"></app-class-program-data>
      </mdb-tab>
    </mdb-tabset>
  </div>
</div>