<div class="row m-2">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-1">
        <img src="{{parent.photoUrl || '../../assets/user.png'}}" alt="" class="rounded-circle img-responsive">
      </div>
      <div class="col-md-10">
        <p class="text-20 text-muted font-weight-500 text-capitalize p-0 m-0">{{parent.lastName}} {{parent.firstName}}</p>
        <p class="text-15 text-primary p-0 mx-1 my-0">{{parent.email}}</p>
        <div class="p-0 m-0">
          <label class="text-15 text-primary p-0 mx-1">{{parent.phoneNumber}}</label>
          <label *ngIf="parent.secondPhoneNumber.length > 0" class="text-15 text-primary p-0 mx-1">/ {{parent.secondPhoneNumber}}</label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row m-2">
  <div class="col-md-12 m-1" style="border-top: #cccccc 1px solid;"></div>
  <div class="col-md-12 text-20 font-weight-300 mt-0 mb-3">mes enfants</div>
  <div class="col-md-2 my-5" *ngFor="let child of parent.children">
    <mdb-card class="testimonial-card">
      <!--Avatar-->
      <div class="avatar mx-auto">
        <img src="{{child.child.photoUrl || '../../assets/user.png'}}" class="rounded-circle">
      </div>
    
      <mdb-card-body class="p-2">
        <!--Name-->
        <mdb-card-title>
          <p class="text-15 m-0">{{child.child.lastName}} {{child.firstName}}</p>
          <p class="text-15 m-0">classe {{child.child.className}}</p>
        </mdb-card-title>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>

<div class="row m-2">
  <div class="col-md-12 m-1" style="border-top: #cccccc 1px solid;"></div>
  <div class="col-md-12">
    <div class="col-md-12"><p class=" text-20 font-weight-300 mt-0 mb-3">mes sms à recevoir</p></div>
  </div>
  <div class="col-md-12">
    <app-child-sms-card [children]="parent.children" (setSmsChoice)="setSmsChoice($event)"
    (saveUserSMS)="saveUserSMS()"></app-child-sms-card>
  </div>
</div>