
<nz-tabset [nzTabPosition]="'left'" *ngIf="showDetails==false">
  <nz-tab nzTitle="Parents">
      <button nz-button nzType="primary" (click)="next()" 
      style="margin: 5px 0;" [disabled]="!fatherForm.valid && !motherForm.valid" >terminer</button>
      <div class="card">
        <div class="row car">
          <div class="col-sm-6 car-1" >
              <b><i class="fa fa-male fa-2x"><span></span> Information sur le père</i> </b> <hr size="5">
              <form nz-form [formGroup]="fatherForm">
                
               
                  <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lastName" nzRequired>
                      <span>
                        Nom
                       </span>
                    </nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                      <input nz-input id="molastName" formControlName="lastName">
                      <nz-form-explain *ngIf="fatherForm.get('lastName').touched && fatherForm.get('lastName').errors">Entrer le nom de la mère s'il vous pait!</nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="firstName">
                        <span>
                          Prénom(s)
                        </span>
                      </nz-form-label>
                      <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input nz-input id="mofirstName" formControlName="firstName">
                      </nz-form-control>
                    </nz-form-item>
                  <nz-form-item>
                      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">
                        <span>E-mail</span>
                      </nz-form-label>
                      <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input nz-input formControlName="email" id="moemail">
                       </nz-form-control>
                    </nz-form-item>
                  <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>
                      <span>Contact principal</span> 
                     </nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="fatherForm.controls['phoneNumber']">
                      <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                        <ng-template #addOnBeforeTemplate>
                          <nz-select formControlName="phoneNumberPrefix" style="width: 80px;" pattern="[0-9]+" minlength="8">
                            <nz-option nzLabel="+225" nzValue="+225"></nz-option>
                          </nz-select>
                        </ng-template>
                        <input formControlName="phoneNumber" id="'mophoneNumber'" nz-input pattern="[0-9]+" minlength="8">
                      </nz-input-group>
                      <nz-form-explain *ngIf="fatherForm.get('phoneNumber').touched && fatherForm.get('phoneNumber').errors">Entrer un numéor de téléphone valide s'il vous plait!</nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="secondPhoneNumber" >
                        <span>Autre contact</span>
                      </nz-form-label>
                      <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="motherForm.controls['secondPhoneNumber']">
                        <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                          <ng-template #addOnBeforeTemplate>
                            <nz-select formControlName="phoneNumberPrefix" style="width: 80px;">
                              <nz-option nzLabel="+225" nzValue="+225"></nz-option>
                            </nz-select>
                          </ng-template>
                          <input formControlName="secondPhoneNumber" id="'mosecondPhoneNumber'" nz-input pattern="[0-9]+" minlength="8">
                        </nz-input-group>
                        <nz-form-explain *ngIf="fatherForm.get('secondPhoneNumber').touched && fatherForm.get('secondPhoneNumber').errors">Entrer un numéor de téléphone valide s'il vous plait!</nz-form-explain>
                      </nz-form-control>
                    </nz-form-item>
               
              </form>
          </div>  <div class="col-sm-6 car-1">
          <b><i class="fa fa-female fa-2x"><span></span> Information sur la mère</i> </b> <hr size="5">
              
                  <hr size="5">
                  <form nz-form [formGroup]="motherForm">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lastName" nzRequired>
                          <span>
                            Nom
                           </span>
                        </nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24">
                          <input nz-input id="molastName" formControlName="lastName">
                          <nz-form-explain *ngIf="motherForm.get('lastName').touched && motherForm.get('lastName').errors">Entrer le nom de la mère s'il vous pait!</nz-form-explain>
                        </nz-form-control>
                      </nz-form-item>
                      <nz-form-item>
                          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="firstName" >
                            <span>
                              Prénom(s)
                            </span>
                          </nz-form-label>
                          <nz-form-control [nzSm]="14" [nzXs]="24">
                            <input nz-input id="mofirstName" formControlName="firstName">
                          </nz-form-control>
                        </nz-form-item>
                      <nz-form-item>
                          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">
                            <span>E-mail</span>
                          </nz-form-label>
                          <nz-form-control [nzSm]="14" [nzXs]="24">
                            <input nz-input formControlName="email" id="moemail">
                           </nz-form-control>
                        </nz-form-item>
                      <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>Contact principal</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="fatherForm.controls['phoneNumber']">
                          <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                            <ng-template #addOnBeforeTemplate>
                              <nz-select formControlName="phoneNumberPrefix" style="width: 80px;" pattern="[0-9]+" minlength="8">
                                <nz-option nzLabel="+225" nzValue="+225"></nz-option>
                              </nz-select>
                            </ng-template>
                            <input formControlName="phoneNumber" id="'mophoneNumber'" nz-input pattern="[0-9]+" minlength="8">
                          </nz-input-group>
                          <nz-form-explain *ngIf="motherForm.get('phoneNumber').touched && motherForm.get('phoneNumber').errors">Entrer un numéor de téléphone valide s'il vous plait!</nz-form-explain>
                        </nz-form-control>
                      </nz-form-item>
                      <nz-form-item>
                          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="secondPhoneNumber" nzRequired><span>Autre contact</span></nz-form-label>
                          <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="motherForm.controls['secondPhoneNumber']">
                            <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                              <ng-template #addOnBeforeTemplate>
                                <nz-select formControlName="phoneNumberPrefix" style="width: 80px;">
                                  <nz-option nzLabel="+225" nzValue="+225"></nz-option>
                                </nz-select>
                              </ng-template>
                              <input formControlName="secondPhoneNumber" id="'mosecondPhoneNumber'" nz-input pattern="[0-9]+" minlength="8">
                            </nz-input-group>
                            <nz-form-explain *ngIf="motherForm.get('secondPhoneNumber').touched && motherForm.get('secondPhoneNumber').errors">Entrer un numéor de téléphone valide s'il vous plait!</nz-form-explain>
                          </nz-form-control>
                        </nz-form-item>
                   
                  </form>
              
          </div>
      
     
      
      </div>
      </div>
  </nz-tab>
  <nz-tab nzTitle="Enfants ({{children.length}})">
        <div class="row">
 
          <div class="col-sm-12" >
              <button nz-button nzType="default" (click)="add()">ajouter</button> 
              <button nz-button nzType="primary" (click)="next()" class="ml-2"  [disabled]="!fatherForm.valid && !motherForm.valid && children.length==0">terminer</button>
             
              <nz-table #basicTable [nzData]="children" *ngIf="children.length>0" [nzShowPagination]="false">

                  <thead>
                      <tr>
                          <th style="width:10%" scope="col">#</th>
                          <th style="width:10%" scope="col">Nom</th>
                          <th style="width:15%">Prenom(s)</th>
                          <th style="width:10%">Classe</th>
                          <th style="width:15%">Date de Naissance</th>
                          <th style="width:20%">Contact(s)</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of basicTable.data,index as i">
                        <td><span>{{i+1}}-</span> <span *ngIf="data.gender==1"> <i class="fa fa-male"></i> </span> <span *ngIf="data.gender==0"> <i class="fa fa-female"></i> </span></td>
                        <td> 
                          {{data.lastName}}
                        </td>
                        <td>{{data.firstName}}</td>
                        <td>{{data.className}}</td>
                        <td>{{data.dateOfBirth|date:'dd-MM-yyyy'}}</td>
                        <td>{{data.phoneNumber}} <span></span>{{data.secondPhoneNumber}} </td>
                        <td><button nz-button [nzSize]="'large'" nzType="default" (click)="edit(data)"><i class="fa fa-edit"></i></button> <span></span> <button  nz-button [nzSize]="size" nzType="default" 
                          nz-popconfirm nzTitle="Etes vous sûre de vouloir supprimer cet élement ?" (nzOnConfirm)="confirm(data)" (nzOnCancel)="cancel()"><i class="fa fa-trash-o"></i></button>
                        </td>
                     
                    </tr>
                  </tbody>
                </nz-table>
          </div>
        </div>
     
        
       
  </nz-tab>

</nz-tabset>
<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"[nzMaskClosable]="false" [nzWidth]="720" [nzVisible]="visible" nzTitle="Ajouter un enfant" (nzOnClose)="close()">
    <form nz-form [formGroup]="childForm" (ngSubmit)="submitChild()">
      <div nz-row nzGutter="8">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label>Nom </nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="entrer le nom de l'enfant" formControlName="lastName" id="clastName" >
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>Prénom(s)</nz-form-label>
              <nz-form-control>
                <input nz-input placeholder="entrer le prénom(s) de l'enfant" formControlName="firstName" id="cfirstName">
              </nz-form-control>
            </nz-form-item>
          </div>
  
     
      </div>
      <div nz-row nzGutter="8">
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label  nzRequired nzFor="dateOfBirth">Date de naissance</nz-form-label>
                <nz-form-control [nzValidateStatus]="childForm.controls['dateOfBirth']">
                    <nz-date-picker formControlName="dateOfBirth" id="datenaiss" [nzFormat]="'dd-MMMM-yyyy'"></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label  nzRequired nzFor="gender">Sexe</nz-form-label>
            <nz-form-control [nzValidateStatus]="childForm.controls['gender']">
                <nz-select  nzAllowClear nzShowSearch nzPlaceHolder="Choisir le sexe" formControlName="gender" id="gender">
                    <nz-option nzValue="1" nzLabel="Homme"></nz-option>
                    <nz-option nzValue="0" nzLabel="Femme"></nz-option>
                  </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row nzGutter="8">
          <div nz-col nzSpan="12">
              <nz-form-item>
                  <nz-form-label nzRequired nzFor="classId">Classe</nz-form-label>
                  <nz-form-control  [nzValidateStatus]="childForm.controls['classId']">
                      <nz-select  nzAllowClear nzShowSearch nzPlaceHolder="Choisir la classe" formControlName="classId" id="classId">
                          <nz-option *ngFor="let option of classes" [nzValue]="option.id" [nzLabel]="option.name"></nz-option>
                          </nz-select>
                  </nz-form-control>
                </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
              <nz-form-item>
                  <nz-form-label >Email</nz-form-label>
                  <nz-form-control  [nzValidateStatus]="childForm.controls['email']">
                    <nz-input-group nzAddOnBefore="@">
                      <input type="text" nz-input placeholder="email" formControlName="email" id="cemail">
                  <nz-form-explain *ngIf="childForm.get('email').touched && childForm.get('email').errors">Entrer un email valide!</nz-form-explain>
                    </nz-input-group>
                  </nz-form-control>
              </nz-form-item>
          </div>
        </div>
      <div nz-row nzGutter="8">
        
         
        <div nz-col nzSpan="12">
          <nz-form-item>
              <nz-form-label nzRequired nzFor="phoneNumber">Contact Principal</nz-form-label>
              <nz-form-control [nzValidateStatus]="childForm.controls['phoneNumber']">
                  <input nz-input placeholder="numero principal" formControlName="phoneNumber" id="cphoneNumber" pattern="[0-9]+" minlength="8">
                  <nz-form-explain *ngIf="childForm.get('phoneNumber').touched && childForm.get('phoneNumber').errors">Entrer un numéro de téléphone valide s'il vous plait!</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label>Deuxieme Contact</nz-form-label>
                <nz-form-control  [nzValidateStatus]="childForm.controls['secondPhoneNumber']">
                    <input nz-input placeholder="autre numero" formControlName="secondPhoneNumber" id="sphoneNumber" pattern="[0-9]+" minlength="8">
                    <nz-form-explain *ngIf="childForm.get('secondPhoneNumber').touched && childForm.get('secondPhoneNumber').errors">numero nom valide!</nz-form-explain>
                  </nz-form-control>
          </nz-form-item>
          </div>
        <div nz-col nzSpan="12">
         
        </div>
      </div>
     
      
    </form>
    <div class="footer">
      <button type="button" (click)="close()" class="ant-btn" style="margin-right: 8px;"><span>annuler</span></button>
      <button type="button" [disabled]="!childForm.valid" (click)="submitChild()" class="ant-btn ant-btn-primary ml-1"><span>enregistrer</span></button>
    </div>
  </nz-drawer>

  <div *ngIf="showDetails==true" >
    <div *ngIf="errorMessage">
        <div *ngFor="let msg of errorMessage" >
            <nz-alert nzType="error" nzMessage="{{msg}}" nzShowIcon></nz-alert>
        </div>
    </div>
      <!-- <button nz-button nzType="default" (click)="back()" class="mr-2">retour</button>  -->
      <!-- <button nz-button nzType="primary" (click)="save()" [disabled]="!father.lastName &&  mother.lastName && children.length===0">enregistrer</button>  -->
      <button nz-button nzType="primary" (click)="save()" [disabled]="errorMessage.length!=0 || submitText != 'enregistrer'">{{submitText}}</button> 

      <div>
        
      <div class="row" style="background: #ECECEC;padding:30px;">
        <div class="col-sm-6" >
            <nz-card style="width:400px;" [nzBordered]="false" nzTitle="Père {{father.lastName}}  {{father.firstName}}" *ngIf="father.lastName">
               <p>Contact(s): <span *ngIf="father.phoneNumber || father.secondPhoneNumber"> {{father.phoneNumber}} {{father.secondPhoneNumber}} </span>  <span *ngIf="!father.phoneNumber && !father.secondPhoneNumber">N/A</span> </p>
               <p>Email: <span *ngIf="father.email">{{father.email}}</span><span *ngIf="!father.email">N/A</span> </p>
          </nz-card>
          <div class="row" *ngIf="!father.lastName">
            <nz-alert nzType="info" nzMessage="Aucune information sur le père" nzShowIcon></nz-alert>
          </div>
        </div>   <div class="col-sm-6">
              <nz-card style="width:400px;" [nzBordered]="false" nzTitle="Mère {{mother.lastName}}  {{mother.firstName}}"  *ngIf="mother.lastName">
                  <p>Contact(s): <span *ngIf="mother.phoneNumber || mother.secondPhoneNumber"> {{mother.phoneNumber}} {{mother.secondPhoneNumber}}</span> <span *ngIf="!mother.phoneNumber && !mother.secondPhoneNumber">N/A</span> </p>
                   <p>Email: <span *ngIf="mother.email">{{mother.email}}</span><span *ngIf="!mother.email">N/A</span> </p>
                </nz-card>
                <div class="row" *ngIf="!mother.lastName">
                  <nz-alert nzType="info" nzMessage="Aucune information sur la mère" nzShowIcon></nz-alert>
                </div>
        </div>
    </div>
    <div>
        <nz-alert *ngIf="children.length===0" nzType="info" nzMessage="Aucun enfant enregistré" nzShowIcon></nz-alert>
    </div>
    <div class="row car" *ngIf="children">
     
      <div class="col-sm-3" *ngFor="let child of children" style="margin-top: 5px;">
          <nz-card nzTitle="{{child.lastName}} {{child.firstName}}">
              <p>Classe : {{child.className}} </p>
              <p>Contact(s): <span *ngIf="child.phoneNumber || child.secondPhoneNumber"> {{child.phoneNumber}} {{child.secondPhoneNumber}}</span> <span *ngIf="!child.phoneNumber && !child.secondPhoneNumber">N/A</span> </p>
              <p>Date de Naissance : {{child.className}} </p>
              <p>Email : {{child.className}} </p>

            </nz-card>
      </div>
      
    </div>
      </div>

    </div>






