<div class="row  mt-1 justify-content-center align-items-center animated zoomInUp">

  <div class="col-md-6">
    <form [formGroup]="courseForm" style="color: #757575;" (ngSubmit)="save()">

      <mdb-card>
        <mdb-card-body class="px-lg-5 pt-0">
          <div class="md-form">
            <input mdbInput type="text" id="name" class="form-control" formControlName="name">
            <label for="name" class="">Nom</label>
          </div>

          <div class="md-form">
            <input mdbInput type="text" id="abbreviation" class="form-control" formControlName="abbreviation">
            <label for="name" class="">Abreviation</label>
          </div>

          <div class="md-form">
            <input mdbInput type="text" id="color" class="form-control" formControlName="color" [(colorPicker)]="color" [style.background]="color"
            (colorPickerChange)="setColor()">
            <label for="color" class="">Choisir la couleur</label>
          </div>

          <div class="md-form">
            <button type="submit" [disabled]="!courseForm.valid || submitText!='enregistrer'" mdbBtn
            color="info" size="sm" mdbWavesEffect><span>{{submitText}}</span></button>
        <button type="button" mdbBtn color="light" size="sm" mdbWavesEffect
            [routerLink]="['/courses']" routerLinkActive="router-link-active">annuler</button>
          </div>

        </mdb-card-body>
      </mdb-card>
    </form>
  </div>
</div>