<div class="d-flex">
  <div class="" routerLinkActive="active">
    <a class="text-15 text-muted mr-3" [routerLink]="['/home']">accueil</a>
  </div>
  <div class="" ngbDropdown role="group" aria-label="Select all" placement="bottom-left">
    <a class="dropdown-toggle text-15 text-muted mr-3 dd" ngbDropdownToggle>inscriptions</a>
    <div class="dropdown-menu" ngbDropdownMenu>
      <button [routerLink]="['/inscriptions']"  class="dropdown-item">pré-inscriptions (admin)</button>
      <button [routerLink]="['/preregister']" class="dropdown-item">pré-inscription (email)</button>
      <button [routerLink]="['/inscriptionsList']" class="dropdown-item">effectation des classes</button>
    </div>
  </div>
  <div class="" routerLinkActive="active">
    <a class="text-15 text-muted mr-3" [routerLink]="['/teachers']">enseignants</a>
  </div>
  <div class="" ngbDropdown role="group" aria-label="Select all" placement="bottom-left">
    <a class="dropdown-toggle text-15 text-muted mr-3 dd" ngbDropdownToggle>classes</a>
    <div class="dropdown-menu" ngbDropdownMenu>
      <button [routerLink]="['/classesPanel']" class="dropdown-item">classes</button>
      <button [routerLink]="['/classScheduleEdit']" class="dropdown-item">emploi du temps</button>
    </div>
  </div>
  <div class="" routerLinkActive="active">
    <a class="text-15 text-muted mr-3" [routerLink]="['/courses']">matières</a>
  </div>
  <div class="" routerLinkActive="active">
    <a class="text-15 text-muted mr-3" [routerLink]="['/school']">info école</a>
  </div>
  <div class="" ngbDropdown role="group" aria-label="Select all" placement="bottom-left">
    <a class="dropdown-toggle text-15 text-muted mr-3 dd" ngbDropdownToggle>communication</a>
    <div class="dropdown-menu" ngbDropdownMenu>
      <button [routerLink]="['/broadcast']"  class="dropdown-item">emails de diffusion</button>
      <button [routerLink]="['/sendEmail']" class="dropdown-item">envoyer un email</button>
      <!-- <button [routerLink]="['/templates']" class="dropdown-item">modèles de emails</button> -->
    </div>
  </div>
</div>