<ul class="navbar-nav">
  <li class="nav-item waves-light" mdbWavesEffect>
    <a class="nav-link text-16" (click)="closeNavOnClick()" [routerLink]="['/home']">accueil</a>
  </li>
  <li class="nav-item dropdown btn-group" dropdown>
    <a dropdownToggle type="button" class="nav-link text-16 dropdown-toggle waves-light" mdbWavesEffect>
      inscriptions
    </a>
    <div class="dropdown-menu dropdown-primary dropdown-menu-left" role="menu">
      <!-- <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/inscriptions']">pré-inscriptions (admin)</a>
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/preregister']">pré-inscription (email)</a> -->
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/newTuition']">nouvelle inscription</a>
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/usersValidation']">valider utilisateurs</a>
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/tuitions']">situation inscriptions</a>
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/inscriptionsList']">affectation des classes</a>
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/classAssignment']">enregistrer liste de classe</a>
    </div>
  </li>
  <li class="nav-item dropdown btn-group" dropdown>
    <a dropdownToggle type="button" class="nav-link text-16 dropdown-toggle waves-light" mdbWavesEffect>
      scolarité
    </a>
    <div class="dropdown-menu dropdown-primary dropdown-menu-left" role="menu">
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/teachers']">enseignants</a>
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/classesPanel']">classes</a>
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/classScheduleEdit']">emploi du temps</a>
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/courses']">liste des cours</a>
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/themesList']">prog. scolaire</a>
    </div>
  </li>
  <li class="nav-item dropdown btn-group" dropdown>
    <a dropdownToggle type="button" class="nav-link text-16 dropdown-toggle waves-light" mdbWavesEffect>
      trésorerie
    </a>
    <div class="dropdown-menu dropdown-primary dropdown-menu-left" role="menu">
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/treasury']">situation tréso.</a>
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/validatePayments']">valider paiements</a>
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/tuitionFees']">frais de scolarité</a>
    </div>
  </li>
  <li class="nav-item dropdown btn-group" dropdown>
    <a dropdownToggle type="button" class="nav-link text-16 dropdown-toggle waves-light" mdbWavesEffect>
      services
    </a>
    <div class="dropdown-menu dropdown-primary dropdown-menu-left" role="menu">
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/productsList']">services</a>
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/lvlprods']">services par niveau</a>
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/deadLines']">échéances</a>
    </div>
  </li>
  <li class="nav-item dropdown btn-group" dropdown>
    <a dropdownToggle type="button" class="nav-link text-16 dropdown-toggle waves-light" mdbWavesEffect>
      communication<span class="caret-down"></span>
    </a>
    <div *dropdownMenu class="dropdown-menu dropdown-primary dropdown-menu-left" role="menu">
      <a class="dropdown-item waves-light" (click)="closeNavOnClick()" [routerLink]="['/broadcast']">emails de diffusion</a>
      <a class="dropdown-item waves-light" (click)="closeNavOnClick()" [routerLink]="['/sendEmail']">envoyer un email</a>
      <a class="dropdown-item waves-light" (click)="closeNavOnClick()" [routerLink]="['/createPDF']">créer PDF</a>
      <a class="dropdown-item waves-light" (click)="closeNavOnClick()" [routerLink]="['/sendSms']">envoyer des SMS</a>
      <a class="dropdown-item waves-light" (click)="closeNavOnClick()" [routerLink]="['/SmsTemplates']">modèles de Sms</a>
      <a class="dropdown-item waves-light" (click)="closeNavOnClick()" [routerLink]="['/EmailTemplates']">modèles de emails</a>
    </div>
  </li>
  <li class="nav-item dropdown btn-group" dropdown>
    <a dropdownToggle type="button" class="nav-link text-16 dropdown-toggle waves-light" mdbWavesEffect>
      vie scolaire
    </a>
    <div class="dropdown-menu dropdown-primary dropdown-menu-left" role="menu">
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/absences']">absences</a>
    </div>
  </li>
  <li class="nav-item dropdown btn-group" dropdown>
    <a dropdownToggle type="button" class="nav-link text-16 dropdown-toggle waves-light" mdbWavesEffect>
      paramètres
    </a>
    <div class="dropdown-menu dropdown-primary dropdown-menu-left" role="menu">
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/settings']">données initiales</a>
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/loginInfos']">infos générales</a>
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/periodicities']">périodes</a>
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/payableAts']">périodes d'alerte</a>
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/coefficients']">coeff. des cours</a>
    </div>
  </li>
</ul>
