<div class="row animated zoomInDown">

  <div class="col-md-12 d-none d-md-block">
    <div class="d-flex">
      <i class="fad fa-users-class fa-2x mr-2" style="--fa-secondary-opacity: 1;--fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
      <p class="text-17 flex-grow-1">liste des classes</p>
      <div>
        <button mdbBtn class="btnBlue" size="sm" mdbWavesEffect [routerLink]="['/addClass']" routerLinkActive="router-link-active">
          <i class="fal fa-users-class fa-1x mr-1" style="--fa-secondary-opacity: 1;--fa-primary-color:#f89f20;--fa-secondary-color:#f89f20;"></i>
          ajouter une classe
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-12 d-md-none">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex">
          <i class="fad fa-users-class fa-2x mr-2" style="--fa-secondary-opacity: 1;--fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
          <p class="text-17 flex-grow-1">liste des classes</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="">
          <button mdbBtn class="btnBlue" size="sm" mdbWavesEffect [routerLink]="['/addClass']" routerLinkActive="router-link-active">
            <i class="fal fa-users-class fa-1x mr-1" style="--fa-secondary-opacity: 1;--fa-primary-color:#f89f20;--fa-secondary-color:#f89f20;"></i>
            ajouter une classe
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 mt-2">
    <div class="row">
      <div class="col-md-3 mb-2" *ngFor="let level of filledLevels">
        <app-class-card [level]="level"></app-class-card>
      </div>
    </div>
  </div>
    
</div>
