<div *ngIf="!dataAvailable">
  <div class="text-20 mt-2">RE-INITIALISATION DE MOT DE PASSE</div>
  <div class="text-center p-4">
    <i class="fad fa-exclamation-triangle fa-6x" style="--fa-secondary-opacity: 1;
      --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
  </div>
  <div class="text-20">
    <div>Bonjour,</div>
    <div>Le lien de validation est incorrect ou a expiré. Pour re-initialiser votre mot de passe vous devez clicker sur le lien reçu dans le email que nous vous avons envoyé. merci</div>
    <div class="my-3">Pour des informations complémentaires vous pouvez nous contacter au :</div>
    <div class="mb-3 pl-3"> téléphone :<b>12.34.56.78</b></div>
    <div class="mb-3 pl-3"> email :<a [routerLink]="['/contactus']"><b>sav@educnotes.com</b></a></div>
  </div>
</div>

<div *ngIf="dataAvailable" class="row mt-3 row justify-content-center align-items-center animated zoomInUp">
  <div class="col-md-6">
    <div class="card">
      <div class="card body p-4">
        <div class="text-center">
          <i class="fad fa-user-unlock fa-4x mx-auto" style="--fa-secondary-opacity: 1;
            --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
          <div class="d-none d-md-block my-2 text-20">reinitialiser votre mot de passe</div>
          <div class="d-md-none my-2 text-15">reinitialiser votre mot de passe</div>
        </div>
        <form [formGroup]="resetPwdForm" (ngSubmit)="resetPassword()">
          <div class="md-form mt-0">
            <input type="password" id="password" class="form-control" formControlName="password" mdbInput>
            <label for="password">entrer votre login</label>
            <div *ngIf="resetPwdForm.get('password').errors && resetPwdForm.get('password').touched" class="text-small text-danger">
              le mot de passe est obligatoire
            </div>
          </div>
          <div class="md-form">
            <input type="password" id="confirm" class="form-control" formControlName="confirm" mdbInput>
            <label for="confirm">entrer votre email</label>
            <div *ngIf="resetPwdForm.get('confirm').errors && resetPwdForm.get('confirm').touched" class="text-small text-danger">
              l'email est obligatoire
            </div>
          </div>
          <button type="submit" class="btnBlue" block="true" [disabled]="wait || !resetPwdForm.valid"
            mdbBtn size="sm" mdbWavesEffect>reinitialiser votre mot de passe</button>
        </form>
        <div class="mt-3 text-center">
          <a href="" class="text-muted text-17" routerLink="/sessions/signin"><u>se connecter</u></a>
        </div>
      </div>
    </div>
  </div>
</div>