<div *ngIf="!pwdConfirmed">
  <div *ngIf="!dataAvailable">
    <div class="text-20 mt-2">RE-INITIALISATION DE MOT DE PASSE</div>
    <div class="text-center p-4">
      <i class="fad fa-exclamation-triangle fa-6x" style="--fa-secondary-opacity: 1;
        --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
    </div>
    <div class="text-20">
      <div>Bonjour,</div>
      <div>Le lien de validation est incorrect ou a expiré. Pour re-initialiser votre mot de passe vous devez clicker sur le lien reçu dans le email que nous vous avons envoyé. merci</div>
      <div class="my-3">Pour des informations complémentaires vous pouvez nous contacter au :</div>
      <div class="mb-3 pl-3"> téléphone :<b>12.34.56.78</b></div>
      <div class="mb-3 pl-3"> email :<a [routerLink]="['/contactus']"><b>sav@educnotes.com</b></a></div>
    </div>
  </div>
  <div *ngIf="dataAvailable" class="row mt-3 row justify-content-center align-items-center animated zoomInUp">
    <div class="col-md-6">
      <div class="card">
        <div class="card body p-4">
          <div class="text-center">
            <i class="fad fa-user-unlock fa-4x mx-auto" style="--fa-secondary-opacity: 1;
              --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
            <div class="text-20 my-2">nouveau mot de passe</div>
          </div>
          <form [formGroup]="resetPwdForm" (ngSubmit)="resetPassword()">
            <div class="md-form mt-0">
              <input type="text" id="userName" class="form-control" formControlName="userName" (keyup)="userNameVerification()" mdbInput>
              <label for="userName">nom utilisateur</label>
              <div *ngIf="resetPwdForm.get('userName').errors && resetPwdForm.get('userName').touched" class="text-small text-danger">
                le nom utilisateur est obligatoire
              </div>
              <div *ngIf="userNameExist" class="text-small text-danger">cet utilisateur existe déjà. choisir un autre svp</div>
            </div>
            <div class="md-form mt-0">
              <input type="password" id="password" class="form-control" formControlName="password" mdbInput>
              <label for="password">mot de passe</label>
              <div *ngIf="resetPwdForm.get('password').errors && resetPwdForm.get('password').touched" class="text-small text-danger">
                le mot de passe est obligatoire
              </div>
            </div>
            <div class="md-form">
              <input type="password" id="confirmPwd" class="form-control" formControlName="confirmPwd" mdbInput>
              <label for="confirmPwd">confirmer votre mot de passe</label>
              <div class="text-danger" *ngIf="resetPwdForm.get('confirmPwd').dirty && resetPwdForm.get('confirmPwd').errors">
                <span *ngIf="resetPwdForm.get('confirmPwd').hasError('required') && resetPwdForm.get('confirmPwd').touched">
                    confirmer le mot de passe!</span>
                <span *ngIf="resetPwdForm.get('confirmPwd').hasError('confirmNOK')">
                  les deux mots de passe que vous entrez sont differents!
                </span>
              </div>
            </div>
            <button type="submit" class="btnBlue" block="true" [disabled]="wait || !resetPwdForm.valid"
              mdbBtn size="sm" mdbWavesEffect>reinitialiser votre mot de passe</button>
          </form>
          <div class="mt-3 text-center">
            <a href="" class="text-muted text-17" routerLink="/sessions/signin"><u>se connecter</u></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="pwdConfirmed">
  <div class="d-md-flex justify-content-center align-items-center my-2">
    <i class="fad fa-user-unlock text-30 mr-2" style="--fa-secondary-opacity: 1;
    --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
    <div class="text-30">reinitialisation de mot de passe</div>
  </div>
  <div class="text-25 text-center">
    <span  *ngIf="userGender == 0">Mme</span>
    <span  *ngIf="userGender == 1">M.</span>
    {{userName | titlecase}},
  </div>
  <div class="d-md-flex justify-content-center align-items-center">
    <i class="fad fa-check-circle text-25 my-auto mr-2" style="--fa-secondary-opacity: 1;
      --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
    <div class="text-25 my-auto">votre nouveau mot de passe est validé!</div>
  </div>
  <div class="row justify-content-center align-items-center my-3">
    <div class="col-md-6">
      <button type="button" mdbBtn block="true" class="btnBlue" [routerLink]="['/signin']" 
        size="sm" mdbWavesEffect>connectez vous</button>
    </div>
  </div>
</div>
