<div class="row justify-content-center align-items-center mt-3"  [@animate]="{value:'*',params:{delay: 500+'ms', y:'50px'}}">
  <div  class="col-md-6">
          <ngb-alert class="alert-card alert-title" >
          <h5> <p>Bonjour <b>{{user.firstName}}.</b></p></h5>
          <p>Veuillez saisir votre nouveau mot de mpasse</p>
          </ngb-alert>
     
     
      <div class="card">
          <app-member-password-setting [user]="user"  (passwordSetingResult)="resultMode($event)"></app-member-password-setting>
      </div>       
  </div>  
</div>  