<div class="row">
  <div class="col-md-12 d-flex mb-2">
    <a appBtnBack>
      <i class="fad fa-undo-alt fa-2x mr-2" style="--fa-secondary-opacity: 1;--fa-primary-color:#f89f20;--fa-secondary-color:#192C47;"></i>
    </a>
    <i class="fad fa-user-chart fa-2x mr-2" style="--fa-primary-opacity: 1;--fa-secondary-opacity: 1;
      --fa-primary-color: #192C47; --fa-secondary-color: #f89f20"></i>
    <div class="text-19">tableau des notes</div>
  </div>
  <div class="col-md-12 d-md-none mb-2">
    <button mdbBtn type="button" [routerLink]="['/addEval']" class="btnBlue"
    block="true" size="sm" mdbWavesEffect>nouvelle evaluation</button>
  </div>
  <div class="col-md-12 mb-1">
    <form [formGroup]="notesForm" (ngSubmit)="showNotes()">
      <div class="card mb-1">
        <div class="card-body p-2">
          <div class="row">
          <div class="col-md-2">
            <mdb-select [options]="optionsClass" formControlName="aclass" name="aclass" placeholder="classe"></mdb-select>
          </div>
          <div class="col-md-2">
            <mdb-select [options]="optionsCourse" formControlName="course" name="course" placeholder="cours"></mdb-select>
          </div>
          <div class="col-md-2">
            <mdb-select [options]="optionsPeriod" formControlName="period" name="period" placeholder="période"></mdb-select>
          </div>
          <div class="col-md-3">
            <button type="submit" [disabled]="!notesForm.valid" mdbBtn class="btnWhiteB" size="sm" mdbWavesEffect>valider</button>
            <button type="button" (click)="cancelNotesFrom()" mdbBtn class="btnWhiteB" size="sm" mdbWavesEffect>annuler</button>
          </div>
          <div class="col-md-3">
            <div class="text-right d-none d-md-block">
              <button mdbBtn type="button" [routerLink]="['/addEval']" class="btnBlue"
                size="sm" mdbWavesEffect>nouvelle evaluation</button>
            </div>      
          </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div *ngIf="!showTable">
  <div class="card">
    <div class="card-body p-2">
      <div class="row">
        <div class="col-md-6 mb-2">
          <div class="p-2 border rounded">
            <div>
              <div class="card-title m-0">évaluations à noter</div>
              <!-- <div class="text-small text-muted">notes à renseigner pour ces évaluations</div> -->
            </div>
            <hr class="my-1">
            <div *ngFor="let class of evalsToBeGraded">
              <div class="text-15 text-muted">classe {{class.className}}</div>
              <div *ngIf="class.evals.length > 0">
                <div *ngFor="let eval of class.evals">
                  <div class="border rounded-lg mb-2">
                    <div class="rounded-top" [ngStyle]="{'background-color': eval.courseColor}" style="height: 10px;"></div>
                    <div class="d-none d-md-block p-2">
                      <div class="d-flex">
                        <div class="flex-grow-1">
                          <div class="text-15"><b>{{eval.courseName}}</b> - {{eval.name}} ({{eval.evalTypeName}}) effectué le {{eval.evalDate}}</div>
                        </div>
                        <a class="text-15 text-primary" [routerLink]="['/AddUserGrades', eval.id]">saisir les notes</a>
                      </div>
                    </div>
                    <div class="d-md-none text-15 p-2">
                      <div><b>{{eval.courseName}}</b></div>
                      <div>{{eval.name}} ({{eval.evalTypeName}})</div>
                      <div>effectué le {{eval.evalDate}}</div>
                      <hr class="my-1">
                      <div class="text-center">
                        <a class="text-15 text-primary" [routerLink]="['/AddUserGrades', eval.id]">saisir les notes</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="class.evals.length == 0">
                <div class="border rounded-lg p-2">
                  <div class="text-15">pas d'évaluation à venir</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <div class="p-2 border rounded">
            <div>
              <div class="card-title m-0">évaluations à venir</div>
            </div>
            <hr class="my-1">
            <div *ngFor="let class of evalsToCome">
              <div class="text-15 text-muted">classe {{class.className}}</div>
              <div *ngIf="class.evals.length > 0">
                <div *ngFor="let eval of class.evals">
                  <div class="border rounded-lg mb-2">
                    <div class="rounded-top" [ngStyle]="{'background-color': eval.courseColor}" style="height: 10px;"></div>
                    <div class="d-none d-md-block p-2">
                      <div class="text-15"><b>{{eval.courseName}}</b> - {{eval.name}} ({{eval.evalTypeName}}) prévue le {{eval.evalDate}}</div>
                    </div>
                    <div class="d-md-none text-15 p-2">
                      <div><b>{{eval.courseName}}</b></div>
                      <div>{{eval.name}} ({{eval.evalTypeName}})</div>
                      <div>prévu le {{eval.evalDate}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="class.evals.length == 0">
                <div class="border rounded-lg p-2">
                  <div class="text-15">pas d'évaluation à venir</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="toggleListAdd">
  <div *ngIf="showTable">
    <div *ngIf="evals.length > 0">
      <div class="row my-2">
        <div class="col-md-4">
          <div class="md-form m-0">
            <input mdbInput type="text" id="search" class="form-control" [formControl]="searchControl" mdbValidate>
            <label for="search" class="">recherche élève</label>
          </div>
        </div>
      </div>
      <!--HEADER LG-->
      <div class="row d-none d-md-block mb-2">
        <div class="col-md-12">
          <div class="border rounded-lg p-1">
            <div class="row">
              <div class="col-3 text-17 my-auto">nom & prénoms</div>
              <div class="col-1" *ngFor="let eval of evals, index as i">
                <div>
                  <p class="text-muted text-13 m-0">{{eval.evalDate | date: 'dd/MM/yy'}}</p>
                  <p class="text-muted text-13 m-0">{{eval.name}}</p>
                  <p class="text-muted text-13 m-0" *ngIf="eval.graded">note/{{eval.maxGrade}}. coeff:{{eval.coeff}}</p>
                  <p class="text-muted text-13 m-0">{{eval.evalTypeAbbrev}}</p>
                  <div *ngIf="eval.evalDateExpired">
                    <div *ngIf="!eval.closed">
                      <a [routerLink]="['/AddUserGrades', eval.id]">
                        <label class="font-weight-450 m-0 primary-lighter-hover">editer</label>
                      </a>
                    </div>
                    <div *ngIf="eval.closed" class="text-14 text-danger">cloturée</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- DATA LIST LG -->
      <div class="row d-none d-md-block animated zoomIn">
        <div class="col-md-12">
          <div *ngFor="let student of filteredUserGrades; let i = index">
            <div class="border rounded-lg p-1 mb-1">
              <div class="row">
                <div class="col-3 my-auto">
                  <div class="div-thumb">
                    <img src="{{student.photoUrl || '../../assets/user.png'}}" alt="" class="rounded-circle">
                    <label class="text-17 text-capitalize ml-2">{{student.studentName}}</label>
                  </div>
                </div>
                <div class="col-1 my-auto" *ngFor="let grade of student.grades, index as j">
                  <div *ngIf="grade > -1000">
                    <div *ngIf="grade >= evals[j].maxGrade/2" class="text-15 font-weight-450">{{grade}}</div>
                    <div *ngIf="grade < evals[j].maxGrade/2" class="text-15 text-danger font-weight-450">{{grade}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--HEADER SM-->
      <div class="row d-md-none">
        <div class="col-md-12 mb-4">
          <div class="card">
            <div class="card-body p-2">
              <div class="text-15">évaluations</div>
              <hr class="my-1" style="background-color: #f89f20;">
              <div *ngFor="let eval of evals, index as i">
                <div>
                  <p class="text-muted text-15 m-0">{{eval.evalDate | date: 'dd/MM/yy'}}</p>
                  <p class="text-muted text-15 m-0">{{eval.name}}</p>
                  <p class="text-muted text-15 m-0" *ngIf="eval.graded">note/{{eval.maxGrade}}. coeff:{{eval.coeff}}</p>
                  <p class="text-muted text-15 m-0">{{eval.evalTypeAbbrev}}</p>
                  <div class="">
                    <a *ngIf="eval.evalDateExpired" [routerLink]="['/AddUserGrades', eval.id]">
                      <label class="font-weight-450 m-0 primary-lighter-hover">editer</label>
                    </a>
                  </div>
                  <hr class="my-1">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- DATA LIST SM -->
      <div class="row d-md-none">
        <div class="col-md-12 my-5" *ngFor="let student of filteredUserGrades">
          <mdb-card class="testimonial-card">
            <div class="avatar mx-auto">
              <img src="{{student.photoUrl || '../../assets/user.png'}}" class="rounded-circle">
            </div>
            <mdb-card-body class="p-2">
              <mdb-card-title>
                <p class="text-15 text-uppercase m-0">{{student.studentName}}</p>
                <hr class="my-1" style="background-color: #f89f20;">
              </mdb-card-title>
              <div class="" *ngFor="let grade of student.grades, index as i">
                <div class="d-flex">
                  <div class="w-60 text-left">
                    <div class="text-14">{{evals[i].evalDate | date: 'dd/MM/yy'}}</div>
                    <div class="text-14">{{evals[i].name}}</div>
                    <div class="text-14">{{evals[i].evalTypeAbbrev}}</div>
                  </div>
                  <div class="px-2 d-flex flex-wrap align-content-center">:</div>
                  <div class="flex-grow-1 d-flex flex-wrap align-content-center justify-content-center">
                    <div *ngIf="grade > -1000">
                      <div *ngIf="grade >= evals[i].maxGrade/2"
                        class="text-15 font-weight-450">{{grade}}/{{evals[i].maxGrade}}</div>
                      <div *ngIf="grade < evals[i].maxGrade/2"
                        class="text-15 text-danger font-weight-450">{{grade}}/{{evals[i].maxGrade}}</div>
                    </div>
                    <div *ngIf="grade === -1000 || grade === ''">N/D</div>
                  </div>
                </div>
                <hr class="my-1">
              </div>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </div>
    <div *ngIf="evals.length === 0">
      <div class="alert alert-warning text-17 mt-2" role="alert">
        aucune évaluation disponible pour cette sélection. recommencez svp
      </div>
    </div>
  </div>
</div>

<div *ngIf="!toggleListAdd">
  <app-grade-addForm (toggleView)="toggleView($event)" (cancelNotesFrom)="cancelNotesFrom()"></app-grade-addForm>
</div>  
