<mdb-navbar #navbarid SideClass="navbar navbar-expand-md navbar-light white ie-nav fixed-top scrolling-navbar" [containerInside]="false">
  <mdb-navbar-brand>
      <div class="logo">
          <img src="../../../assets/images/logo_sm.png" alt="">
      </div>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item waves-light pl-3 text-25">Educ'Notes</li>
    </ul>        
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">
          <i class="fad fa-expand-alt" appFullScreen style="font-size:20px;--fa-primary-color: #f89f20; --fa-secondary-color: #192C47; --fa-secondary-opacity: 1"></i>
        </a>
      </li>
      <!-- <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" (click)="logout()">
          <i class="fad fa-sign-out-alt" style="font-size:25px;--fa-primary-color: #f89f20; --fa-secondary-color: #192C47; --fa-secondary-opacity: 1"></i>
        </a>
      </li> -->
    </ul>
</links>
</mdb-navbar>
