<div class="row">

  <div class="col-md-12" *ngIf="showChildrenList">

    <p class="text-15 text-muted m-1">sélectionner un enfant pour voir ses évènements</p>

    <div class="row">

      <div class="col-md-9 col-sm-12">
        <app-children-list [url]="url" [children]="children"></app-children-list>
      </div>

      <div class="col-md-3 col-sm-12">
        <div class="row">

          <div class="col-md-12 col-sm-12">
            <div class="card mb-4 p-2">
              <div class="card-body">
                <div class="card-title m-0">mon agenda</div>
                <p class="text-small text-muted">programme de la semaine.</p>
                <nz-timeline>
                  <nz-timeline-item nzColor="green">
                    <div>
                      <strong class="mr-1"><a href="#">8:30 - évènement à venir</a></strong>
                      <p class="text-muted">desc de l'info à venir</p>
                    </div>
                  </nz-timeline-item>
                  <nz-timeline-item nzColor="green">
                    <div>
                      <strong class="mr-1"><a href="#">10:30 - info suivante</a></strong>
                      <p class="text-muted">desc infos en temps réel ici</p>
                    </div>
                  </nz-timeline-item>
                  <nz-timeline-item [nzDot]="dotTemplate" nzColor="red">
                    <p>un évènement parent, élève ici</p>
                  </nz-timeline-item>
                  <nz-timeline-item>
                    <p>réunion profs / parents</p>
                    <p>détails de l'évènement</p>
                  </nz-timeline-item>
                  <nz-timeline-item nzColor="gray">
                    <p>infos supplémentaires</p>
                  </nz-timeline-item>
                  <nz-timeline-item nzColor="gray">
                    <p>infos 4</p>
                    <p>détails de l'information</p>
                  </nz-timeline-item>
                </nz-timeline>
                <ng-template #dotTemplate>
                  <i nz-icon nzType="clock-circle-o" style="font-size: 16px;"></i>
                </ng-template>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>


  <div class="col-md-12" *ngIf="showChildrenList">

    <p class="text-15 text-muted m-1">sélectionner un enfant pour voir ses évènements</p>

    <div class="row">

      <div class="col-md-9 col-sm-12">
        <app-children-list [url]="url" [children]="children"></app-children-list>
      </div>

      <div class="col-md-3 col-sm-12">
        <div class="row">

          <div class="col-md-12 col-sm-12">
            <div class="card mb-4 p-2">
              <div class="card-body">
                <div class="card-title m-0">mon agenda</div>
                <p class="text-small text-muted">programme de la semaine.</p>
                <nz-timeline>
                  <nz-timeline-item nzColor="green">
                    <div>
                      <strong class="mr-1"><a href="#">8:30 - évènement à venir</a></strong>
                      <p class="text-muted">desc de l'info à venir</p>
                    </div>
                  </nz-timeline-item>
                  <nz-timeline-item nzColor="green">
                    <div>
                      <strong class="mr-1"><a href="#">10:30 - info suivante</a></strong>
                      <p class="text-muted">desc infos en temps réel ici</p>
                    </div>
                  </nz-timeline-item>
                  <nz-timeline-item [nzDot]="dotTemplate" nzColor="red">
                    <p>un évènement parent, élève ici</p>
                  </nz-timeline-item>
                  <nz-timeline-item>
                    <p>réunion profs / parents</p>
                    <p>détails de l'évènement</p>
                  </nz-timeline-item>
                  <nz-timeline-item nzColor="gray">
                    <p>infos supplémentaires</p>
                  </nz-timeline-item>
                  <nz-timeline-item nzColor="gray">
                    <p>infos 4</p>
                    <p>détails de l'information</p>
                  </nz-timeline-item>
                </nz-timeline>
                <ng-template #dotTemplate>
                  <i nz-icon nzType="clock-circle-o" style="font-size: 16px;"></i>
                </ng-template>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

</div>

<div *ngIf="!showChildrenList" class="row mb-2">

  <div class="col-md-12 mb-2">
    <p class="lead m-0">vie de la classe - emploi du temps</p>
  </div>

  <div *ngIf="isParentConnected" class="col-md-12 mb-2">
    <app-users-header [student]="student" (getUser)="getUser($event)"></app-users-header>
  </div>
    
  <div *ngFor="let i of weekdays" class="card p-0 col-md-2">
    <div class="card-body p-0 m-0 dayCol">
      <div class="text-16 text-center">{{weekDays[i]}}</div>
    </div>
    <div class="d-flex">
      <div style="width: 25px">
        <div style="border-top: 1px solid #cccccc"></div>
        <div class="hour-div" *ngFor="let i of hourCols; let i = index">{{i + 7}}h</div>
      </div>
      <div class="card-body p-0 m-0 dayCol" style="height: 360px; border-top: 1px solid #cccccc">
        <app-classday-schedule [items]="dayItems[i]"></app-classday-schedule>
      </div>
    </div>
  </div>
  
</div>
