<form *ngIf="showTuitionForm" [formGroup]="tuitionForm" (ngSubmit)="saveTuition()">
  <div class="row">
    <div class="col-md-12 d-flex">
      <i class="fad fa-user-plus fa-2x mr-2" style="--fa-secondary-opacity: 1;--fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
      <div class="text-19">nouvelle inscription</div>
    </div>
    <div class="col-md-12">
      <div class="alert alert-warning text-18" role="alert">la date limite des inscriptions est le {{regDeadline}}.</div>
    </div>
    <div class="col-md-12 mb-2">
      <div class="card">
        <div class="card-body p-2">
          <div class="row">
            <div class="col-md-2"><div class="text-18 text-muted">infos parents</div></div>
          </div>
          <div mdbCollapse [isCollapsed]="false" #parents="bs-collapse">
            <div class="row">
              <div class="col-md-6">
                <div class="border rounded-lg p-2">
                  <div class="text-16 mb-2"><b>le père</b></div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="md-form mt-1 mb-0">
                        <input mdbInput type="text" id="fLastName" class="form-control" formControlName="fLastName" mdbValidate>
                        <label for="fLastName" class="">nom</label>
                        <div *ngIf="tuitionForm.get('fLastName').errors && tuitionForm.get('fLastName').touched"
                          class="text-small text-danger">saisir le nom svp</div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="md-form mt-1 mb-0">
                        <input mdbInput type="text" id="fFirstName" class="form-control" formControlName="fFirstName" mdbValidate>
                        <label for="fFirstName" class="">prénom</label>
                        <div *ngIf="tuitionForm.get('fFirstName').errors && tuitionForm.get('fFirstName').touched"
                          class="text-small text-danger">saisir le prénom svp</div>
                      </div>          
                    </div>
                    <div class="col-md-4">
                      <div class="md-form my-0">
                        <mdb-date-picker name="fDateOfBirth" [placeholder]="'date de naissance'" [options]="myDatePickerOptions" formControlName="fDateOfBirth"></mdb-date-picker>
                        <div *ngIf="tuitionForm.get('fDateOfBirth').errors && tuitionForm.get('fDateOfBirth').touched"
                          class="text-small text-danger">la date de naissance est obligatoire</div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="md-form my-0">
                        <mdb-select [options]="nationalityOptions" formControlName="fNationalityId" placeholder="nationalité"></mdb-select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="md-form my-0">
                        <mdb-select [options]="cityOptions" formControlName="fBirthCityId" placeholder="ville de naissance"></mdb-select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="md-form my-0">
                        <mdb-select [options]="jobOptions" formControlName="fJobId" placeholder="profession"></mdb-select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="md-form my-0">
                        <input mdbInput type="text" id="fCell" [textMask]="{mask: phoneMask}"
                          class="form-control" formControlName="fCell" mdbValidate>
                        <label for="fCell" class="">mobile</label>
                        <div *ngIf="tuitionForm.get('fCell').errors && tuitionForm.get('fCell').touched"
                          class="text-small text-danger">saisir le mobile svp</div>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="md-form my-0">
                        <input mdbInput type="email" id="fEmail" class="form-control" formControlName="fEmail" mdbValidate>
                          <label for="fEmail" class="">email</label>
                          <div *ngIf="tuitionForm.get('fEmail').errors && tuitionForm.get('fEmail').touched"
                            class="text-small text-danger">saisir l'email svp</div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="md-form my-0">
                        <input mdbInput type="text" id="fPostalBox" class="form-control" formControlName="fPostalBox" mdbValidate>
                          <label for="fPostalBox" class="">boite postal</label>
                          <div *ngIf="tuitionForm.get('fPostalBox').errors && tuitionForm.get('fPostalBox').touched"
                            class="text-small text-danger">saisir la boite postal</div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="md-form my-0">
                        <mdb-select [options]="districtOptions" formControlName="fDistrictId" placeholder="quartier"></mdb-select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="md-form my-0">
                        <mdb-select [options]="districtOptions" formControlName="fCityId" placeholder="ville de résidence"></mdb-select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="border rounded-lg p-2">
                  <div class="text-16 mb-2"><b>la mère</b></div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="md-form mt-1 mb-0">
                        <input mdbInput type="text" id="mLastName" class="form-control" formControlName="mLastName" mdbValidate>
                        <label for="mLastName" class="">nom</label>
                        <div *ngIf="tuitionForm.get('mLastName').errors && tuitionForm.get('mLastName').touched"
                          class="text-small text-danger">saisir le nom svp</div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="md-form mt-1 mb-0">
                        <input mdbInput type="text" id="mFirstName" class="form-control" formControlName="mFirstName" mdbValidate>
                        <label for="mFirstName" class="">prénom</label>
                        <div *ngIf="tuitionForm.get('mFirstName').errors && tuitionForm.get('mFirstName').touched"
                          class="text-small text-danger">saisir le prénom svp</div>
                      </div>          
                    </div>
                    <div class="col-md-4">
                      <div class="md-form my-0">
                        <mdb-date-picker name="mDateOfBirth" [placeholder]="'date de naissance'" [options]="myDatePickerOptions" formControlName="mDateOfBirth"></mdb-date-picker>
                        <div *ngIf="tuitionForm.get('mDateOfBirth').errors && tuitionForm.get('mDateOfBirth').touched"
                          class="text-small text-danger">la date de naissance est obligatoire</div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="md-form my-0">
                        <mdb-select [options]="nationalityOptions" formControlName="mNationalityId" placeholder="nationalité"></mdb-select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="md-form my-0">
                        <mdb-select [options]="cityOptions" formControlName="mBirthCityId" placeholder="ville de naissance"></mdb-select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="md-form my-0">
                        <mdb-select [options]="jobOptions" formControlName="mJobId" placeholder="profession"></mdb-select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="md-form my-0">
                        <input mdbInput type="text" id="mCell" [textMask]="{mask: phoneMask}"
                          class="form-control" formControlName="mCell" mdbValidate>
                        <label for="mCell" class="">mobile</label>
                        <div *ngIf="tuitionForm.get('mCell').errors && tuitionForm.get('mCell').touched"
                          class="text-small text-danger">saisir le mobile svp</div>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="md-form my-0">
                        <input mdbInput type="text" id="mEmail" class="form-control" formControlName="mEmail" mdbValidate>
                        <label for="mEmail" class="">email</label>
                        <div *ngIf="tuitionForm.get('mEmail').errors && tuitionForm.get('mEmail').touched"
                          class="text-small text-danger">saisir l'email svp</div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="md-form my-0">
                        <input mdbInput type="text" id="mPostalBox" class="form-control" formControlName="mPostalBox" mdbValidate>
                          <label for="mPostalBox" class="">boite postal</label>
                          <div *ngIf="tuitionForm.get('mPostalBox').errors && tuitionForm.get('mPostalBox').touched"
                            class="text-small text-danger">saisir la boite postal</div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="md-form my-0">
                        <mdb-select [options]="districtOptions" formControlName="mDistrictId" placeholder="quartier"></mdb-select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="md-form my-0">
                        <mdb-select [options]="districtOptions" formControlName="mCityId" placeholder="ville de résidence"></mdb-select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="float-right">
              <button type="button" mdbPageScroll href="#child" mdbBtn 
                [disabled]="tuitionForm.hasError('motherNOK') || tuitionForm.hasError('fatherNOK') ||
                tuitionForm.hasError('parentNOK')" class="btnBlue" size="sm" mdbWavesEffect (click)="openDiv(1)">suivant</button>
            </div>
          </div>
          <div mdbCollapse #sumparents="bs-collapse">
            <div class="row">
              <div class="col-md-10">
                <div class="row">
                  <div class="col-md-12" *ngIf="tuitionForm.value.fEmail !== ''">
                    <b class="text-15">père</b>. <span class="text-typed-cptlize mr-2">{{tuitionForm.value.fLastName}}</span>
                    <span class="text-typed-cptlize">{{tuitionForm.value.fFirstName}}</span>.
                    <span class="text-typed">{{tuitionForm.value.fCell}}</span> / <span class="text-typed">{{tuitionForm.value.fEmail}}</span>
                  </div>
                  <div class="col-md-12" *ngIf="tuitionForm.value.mEmail !== ''">
                    <b class="text-15">mère</b>. <span class="text-typed-cptlize mr-2">{{tuitionForm.value.mLastName}}</span>
                    <span class="text-typed-cptlize">{{tuitionForm.value.mFirstName}}</span>.
                    <span class="text-typed">{{tuitionForm.value.mCell}}</span> / <span class="text-typed">{{tuitionForm.value.mEmail}}</span>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="float-right">
                  <button type="button" mdbBtn class="btnBlue"  size="sm" mdbWavesEffect (click)="openDiv(0)">modifier</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="child"></div>
    <div *ngIf="childDivOn" class="col-md-12 mb-2">
      <div class="card">
        <div class="card-body p-2">
          <div class="row">
            <div class="col-md-2"><div class="text-18 text-muted">infos enfants</div></div>
            <div class="col-md-10" *ngIf="tuitionForm.hasError('childNOK') && tuitionForm.get('children').touched">
              <div class="text-15 text-right text-danger">saisir les infos de tous les enfants avant de continuer</div>
            </div>
          </div>
          <div mdbCollapse [isCollapsed]="false" #children="bs-collapse">
            <div class="row">
              <div class="col-md-12 mb-2">
                <button type="button" mdbBtn class="btnOrange mb-2" (click)="addChild()" size="sm" mdbWavesEffect>ajouter un enfant</button>
                <div class="mb-2" formArrayName="children" *ngFor="let child of tuitionForm.get('children')['controls']; let i = index;">
                  <div class="border rounded-lg p-2" [formGroupName]="i">
                    <div class="row">
                      <div class="col-md-12 text-right pr-1 d-md-none">
                        <a *ngIf="nbChildren > 1" (click)="removeChildItem(i)">
                          <i class="fad fa-trash-alt fa-2x mr-2" style="--fa-secondary-opacity: 1;
                            --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
                        </a>
                      </div>
                      <div class="col-md-2">
                        <div class="md-form mt-1 mb-0">
                          <input mdbInput type="text" id="lname" class="form-control" formControlName="lname">
                          <label for="lname" class="">nom</label>
                          <div *ngIf="child.value.lname === '' && child.get('lname').touched"
                            class="text-small text-danger">saisir le nom svp</div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="md-form mt-1 mb-0">
                          <input mdbInput type="text" id="fname" class="form-control" formControlName="fname" mdbValidate>
                          <label for="fname" class="">prénom</label>
                          <div *ngIf="child.value.fname === '' && child.get('fname').touched"
                            class="text-small text-danger">saisir le prénom svp</div>
                        </div>          
                      </div>
                      <div class="col-md-2">
                        <div class="md-form my-0">
                          <div class=""><mdb-date-picker name="dob" [placeholder]="'date de naissance'" [options]="myDatePickerOptions" formControlName="dob"></mdb-date-picker></div>
                          <div *ngIf="child.get('dob').errors && child.get('dob').touched"
                            class="text-small text-danger">saisir la date de nais. svp</div>
                        </div>          
                      </div>
                      <div class="col-md-2">
                        <div class="md-form my-0">
                          <mdb-select [options]="levelOptions" (ngModelChange)="setClassLevel($event, i)"
                            formControlName="classlevelId" placeholder="classe"></mdb-select>
                            <div *ngIf="child.value.dob === '' && child.get('dob').touched"
                              class="text-small text-danger">saisir la classe svp</div>
                        </div>
                      </div>
                      <div class="col-md-1 text-center d-none d-md-block my-auto">
                        <a *ngIf="nbChildren > 1" (click)="removeChildItem(i)">
                          <i class="fad fa-trash-alt fa-2x mr-2" style="--fa-secondary-opacity: 1;
                            --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
                        </a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2">
                        <div class="md-form my-0">
                          <mdb-select [options]="sexOptions" formControlName="sex" placeholder="sexe"></mdb-select>
                          <div *ngIf="child.value.sex === '' && child.get('sex').touched"
                            class="text-small text-danger">saisir le sexe svp</div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="md-form my-0">
                          <mdb-select [options]="nationalityOptions" formControlName="nationalityId" placeholder="nationalité"></mdb-select>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="md-form my-0">
                          <mdb-select [options]="cityOptions" formControlName="birthCityId" placeholder="ville de naissance"></mdb-select>
                        </div>
                      </div>
                      <div class="col-12"><hr class="my-1"></div>
                      <div class="col-md-12">
                        <mdb-checkbox formControlName="scholarship">enfant boursier</mdb-checkbox>
                      </div>
                      <div class="col-12"><hr class="my-1"></div>
                      <div class="col-md-12 textDarkBlue text-15 my-1"><b>services associés</b></div>
                      <div class="col-12">
                        <div class="row">
                          <div class="col-md-12 my-1" formArrayName="services" *ngFor="let service of child.get('services')['controls']; let j = index;">
                            <div [formGroupName]="j">
                              <mdb-checkbox formControlName="selected" class="text-15">{{service.value.name}}</mdb-checkbox>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="float-right">
              <button mdbPageScroll href="#co" type="button" mdbBtn [disabled]="tuitionForm.hasError('childNOK')" class="btnBlue"
                size="sm" mdbWavesEffect (click)="openDiv(2)">suivant</button>
            </div>
          </div>
          <div mdbCollapse #sumchildren="bs-collapse">
            <div class="row">
              <div class="col-md-10">
                <div formArrayName="children" *ngFor="let child of tuitionForm.get('children')['controls']; let i = index;">
                  <div class="" [formGroupName]="i">
                    <b class="text-15">{{i+1}}</b>. <span class="text-17 mr-2">{{child.value.lname}}</span>
                    <span class="text-typed-cptlize">{{child.value.fname}}</span>.
                    <span class="text-typed"> classe {{classnames[i]}}</span>
                  </div>
                </div>
              </div>
              <div class="col-md-2 float-right">
                <div class="float-right">
                  <button type="button" mdbBtn class="btnBlue" size="sm" mdbWavesEffect (click)="openDiv(1)">modifier</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="co"></div>
    <div *ngIf="checkoutDivOn" class="col-md-12 mb-2">
      <div class="card">
        <div class="card-body p-2">
          <div class="text-18 text-muted">frais inscription</div>
          <div mdbCollapse [isCollapsed]="false" #checkout="bs-collapse">
            <div class="row">
              <div class="col-md-6">
                <div formArrayName="children" *ngFor="let child of tuitionForm.get('children')['controls']; let i = index;">
                  <div class="row mb-2">
                    <div class="col-md-12">
                      <div class="border rounded-lg p-2">
                        <div class="row">
                          <div class="col-md-6 mb-1">
                            <span class="mr-2 text-16 font-weight-bold text-capitalize">
                              {{i+1}}. {{child.value.lname}} {{child.value.fname}}. classe {{classnames[i]}}.
                            </span> 
                          </div>
                          <div class="col-md-6">
                            <div class="text-16 text-right">frais de scolarité : {{tuitionFee[i] | number: '1.0-0': 'fr-FR'}} F</div>
                          </div>
                        </div>
                        <hr class="my-1">
                        <div class="row">
                          <div class="col-md-8 text-16 text-right pr-0">frais d'inscription</div>
                          <div class="col-md-1 text-16 text-right">:</div>
                          <div class="col-md-3 text-16 text-right">{{regFee | number: '1.0-0': 'fr-FR'}} F</div>
                        </div>
                        <div class="row">
                          <div class="col-md-8 text-16 text-right pr-0">acompte scolarité (50%)</div>
                          <div class="col-md-1 text-16 text-right">:</div>
                          <div class="col-md-3 text-16 text-right">{{downPayment[i] | number: '1.0-0': 'fr-FR'}} F</div>
                        </div>
                        <hr class="my-1">
                        <div class="row">
                          <div class="col-md-12 text-16 text-right">
                            montant total dû pour {{child.value.fname}} : <b>{{downPayment[i] + regFee | number: '1.0-0': 'fr-FR'}} F</b>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="border rounded-lg p-2">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="text-20 text-center font-weight-bold">montant des inscriptions (frais compris) : {{orderAmount | number: '1.0-0': 'fr-FR'}} F</div>
                      <div class="text-15 text-center font-weight-bold">frais inscriptions : {{totalRegFee | number: '1.0-0': 'fr-FR'}} F</div>
                      <hr class="my-1">
                      <div class="text-25 text-primary text-center font-weight-bold">montant total à payer : {{amountDue | number: '1.0-0': 'fr-FR'}} F</div>
                      <hr class="my-1">
                      <div class="text-20 d-flex">
                        <div class="my-auto">
                          <i class="fad fa-exclamation-triangle fa-2x mr-2" style="--fa-secondary-opacity: 1;
                            --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
                        </div>
                        <div class="text-danger my-auto">l'inscription est valide jusqu'au {{tuitionValidity}} ({{daysToValidateReg}} jours)</div>
                      </div>
                      <hr class="my-1">
                      <div class="alert alert-warning text-19" role="alert">
                        <div class="text-15">informer le parent qu'il recevra un email qui récapitule l'inscription 
                          avec toutes les infos notamment celles pour le paiement et pour l'ouverture de son compte 
                          sur la plateforme Educ'Notes.</div>
                        </div>                
                        <hr class="my-2">
                      </div>
                    <div class="col-md-6 mb-2">
                      <button mdbBtn type="submit" [disabled]="tuitionForm.hasError('formNOK') || !tuitionForm.valid || wait"
                        class="btnBlue p-4" size="sm" block="true" mdbWavesEffect>
                        <span *ngIf="wait" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        enregistrer l'inscription
                      </button>
                    </div>
                    <div class="col-md-6">
                      <button mdbBtn type="button" [disabled]="tuitionForm.hasError('formNOK') || !tuitionForm.valid || wait"
                        class="btnBlue p-4" (click)="saveTuitionAndPayment()" size="sm" block="true" mdbWavesEffect>
                        <span *ngIf="wait" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        proceder au paiement
                      </button>
                    </div>
                  </div>
                </div>
                <div class="text-right">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div *ngIf="showPaymentForm">
  <form [formGroup]="paymentForm" (ngSubmit)="savePayment()">
    <div class="row mb-2">
      <div class="col-md-12 d-flex">
        <i class="fad fa-sack-dollar fa-2x mr-2" style="--fa-secondary-opacity: 1;--fa-primary-color:#f89f20;--fa-secondary-color:#192C47;"></i>
        <div class="text-19">paiements</div>
      </div>
      <div class="col-md-12"><hr class="my-2"></div>
      <div class="col-md-6">
        <div class="border rounded-lg p-2">
          <div class="text-16"><b>paiement de l'inscription n°</b></div>
          <div *ngFor="let child of tuitionData.children; let i = index">
            <div class="text-15"><b>{{i+1}}. {{child.lastName}} {{child.firstName}}</b>. classe de {{classnames[i]}}. montant dû : {{child.downPayment + child.regFee | number: '1.0-0': 'fr-FR'}} F CFA</div>
            </div>
          <hr class="my-1">
          <div class="text-17 text-primary text-center">montant à payer: <span>{{tuitionData.dueAmount | number: '1.0-0': 'fr-FR'}} F</span></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mb-1">
        <div class="border rounded-lg p-2">
          <div class="row">
            <div class="col-md-2 text-15 d-flex align-items-end pb-1">date de paiement</div>
              <div class="col-md-2">
                <div class="md-form mt-0 mb-0">
                  <mdb-date-picker name="opDate" [options]="myDatePickerOptions" formControlName="opDate"></mdb-date-picker>
                  <div *ngIf="paymentForm.get('opDate').errors && paymentForm.get('opDate').touched"
                    class="text-small text-danger">saisir la date svp</div>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-2 text-15 d-flex align-items-end pb-1">montant du paiement</div>
            <div class="col-md-2">
              <div class="md-form mt-2 mb-0">
                <input mdbInput type="text" id="amnt" (blur)="setChildPayments()" class="form-control" formControlName="amount" mdbValidate>
                <label for="amnt" class=""></label>
                <div *ngIf="paymentForm.get('amount').hasError('required') && paymentForm.get('amount').touched"
                  class="text-small text-danger">saisir le montant du paiement</div>
              </div>
            </div>
          </div>
          <div *ngIf="showChildPayments" class="row">
            <div class="col-md-7">
              <div class=" border rounded-lg p-2">
                <div class="row">
                  <div class="col-md-12 text-15">montant payé par enfant</div>
                  <div class="col-md-12"><hr class="my-1"></div>
                  <div *ngIf="paymentForm.hasError('childpay')" class="col-md-12 text-13 text-danger">
                    renseigner un montant pour chaque enfant svp
                  </div>
                  <div *ngIf="paymentForm.hasError('dueamntNOK')" class="col-md-12 text-13 text-danger">
                    les montants attribués sont incohérents p/r au montant total payé!
                  </div>
                  <div class="col-md-12" formArrayName="payments" *ngFor="let payment of paymentForm.get('payments')['controls']; let i = index;">
                    <div [formGroupName]="i">
                      <div class="row">
                        <div class="col-md-4 my-1">{{payment.value.child}}</div>
                        <div class="col-md-3 my-1">
                          <div class="md-form my-0">
                            <input mdbInput type="text" mdbInput id="lineamnt"  class="form-control" formControlName="amount" mdbValidate>
                            <label for="lineamnt">montant</label>
                            <div *ngIf="paymentForm.get('payments').hasError('required') && paymentForm.get('payments').get('amount').touched"
                            class="text-small text-danger">saisir le montant dédié à l'enfant</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="md-form">
                <textarea type="text" id="note" formControlName="note" class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
                <label for="content">note</label>  
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-2 text-15 d-flex align-items-end pb-1">moyen de paiement</div>
            <div class="col-md-2" *ngFor="let paytype of paytypes">
              <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" (change)="selectPayType()" id="{{paytype.id}}"
                  value="{{paytype.id}}" formControlName="typeid" name="typeid" mdbInput>
                <label class="form-check-label" for="{{paytype.id}}">{{paytype.name | lowercase}}</label>
              </div>
            </div>
            <div *ngIf="paymentForm.get('typeid').hasError('required') && paymentForm.get('typeid').touched"
              class="text-small text-danger">choisir le type de paiement</div>
          </div>
          <div *ngIf="showPayDataBox">
            <hr class="my-1">
            <div *ngIf="showChequeData || showWireData" class="row mt-1">
              <div class="col-md-3">
                <mdb-select [options]="bankOptions" formControlName="bankid" placeholder="choisir la banque"></mdb-select>
              </div>
            </div>
            <div *ngIf="showChequeData" class="row mt-2">
              <div class="col-md-3">
                <div class="md-form mt-2 mb-0">
                  <input mdbInput type="text" id="numCheque" class="form-control" formControlName="numCheque" mdbValidate>
                  <label for="numCheque" class="">numéro du chèque</label>
                  <div *ngIf="paymentForm.hasError('chequeNOK')" class="text-small text-danger">saisir le numéro de chèque</div>
                </div>
              </div>
            </div>
            <div *ngIf="showCashData || showWireData" class="row mt-2">
              <div class="col-md-3">
                <div class="md-form mt-2 mb-0">
                  <input mdbInput type="text" id="refDoc" class="form-control" formControlName="refDoc" mdbValidate>
                  <label for="refDoc" class="">réf: bordereau</label>
                </div>
              </div>
            </div>
          </div>
          <hr class="my-1">
          <div class="row">
            <div class="col-md-12">
              <button type="submit" mdbBtn [disabled]="!paymentForm.valid || paymentForm.hasError('formNOK') || wait"
                class="btnBlue" block="true" size="sm" mdbWavesEffect>
                <span *ngIf="wait" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                saisir le paiement
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>