<div class="row">
  <div class="col-md-12">
    <div class="d-flex">
      <i class="fad fa-cogs fa-2x mr-2" style="--fa-secondary-opacity: 1;
        --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
      <div class="text-17">configuration de l'école</div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="text-15 mt-1">sélectionner la section que vous souhaitez configurer/modifier en clickant sur le bouton correpondant</div>
  </div>
</div>
<hr class="my-1">
<div class="row">
  <!-- <div class="col-md-2 mb-1">
    <button type='button' mdbBtn (click)="showTab(0)" [ngClass]="activeTabs[0] ? 'btnBlueW' : 'btnWhiteB'"
      size="sm" block="true">cours par niveau</button>
  </div>
  <div class="col-md-2 mb-1">
    <button type='button' mdbBtn (click)="showTab(1)" [ngClass]="activeTabs[1] ? 'btnBlueW' : 'btnWhiteB'"
      size="sm" block="true">menu</button>
  </div> -->
  <div class="col-md-2 mb-1">
    <button type='button' mdbBtn (click)="showTab(2)" [ngClass]="activeTabs[2] ? 'btnBlueW' : 'btnWhiteB'"
      size="sm" block="true">produits</button>
  </div>
  <div class="col-md-2 mb-1">
    <button type='button' mdbBtn (click)="showTab(3)" [ngClass]="activeTabs[3] ? 'btnBlueW' : 'btnWhiteB'"
      size="sm" block="true">type de cours</button>
  </div>
  <div class="col-md-2 mb-1">
    <button type='button' mdbBtn (click)="showTab(4)" [ngClass]="activeTabs[4] ? 'btnBlueW' : 'btnWhiteB'"
      size="sm" block="true">frais de scolarité</button>
  </div>
  <div class="col-md-2 mb-1">
    <button type='button' mdbBtn (click)="showTab(5)" [ngClass]="activeTabs[5] ? 'btnBlueW' : 'btnWhiteB'"
      size="sm" block="true">zones</button>
  </div>
  <div class="col-md-12 mt-3">
    <div *ngIf="activeTabs[0]">
      <app-classlevel-courses></app-classlevel-courses>
    </div>
    <div *ngIf="activeTabs[1]">
      <app-config-menu></app-config-menu>
    </div>
    <div *ngIf="activeTabs[2]">
      <app-config-products></app-config-products>
    </div>
    <div *ngIf="activeTabs[3]">
      <app-config-course-type></app-config-course-type>
    </div>
    <div *ngIf="activeTabs[4]">
      <app-config-product-fees></app-config-product-fees>
    </div>
    <div *ngIf="activeTabs[5]">
      <app-config-zones></app-config-zones>
    </div>
  </div>
</div>
