<div class="row">
  <div class="col-md-12">
    <div class="d-flex">
      <i class="fad fa-cogs fa-2x mr-2" style="--fa-secondary-opacity: 1;
        --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
      <div class="text-17">configuration de l'école</div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="text-15 mt-1">sélectionner la section que vous souhaitez configurer/modifier en clickant sur le bouton correpondant</div>
  </div>
</div>
<hr class="my-1">
<div class="row">
  <div class="col-md-2">
    <button type='button' mdbBtn size="sm" class="btnBlue" block="true">classes par niveau</button>
  </div>
</div>