<div class="row">
  <div *ngFor="let class of teacherClasses; let i = index" class="col-lg-12 col-md-12 col-sm-12">
    <div class="border rounded-lg p-2 mb-2">
      <div class="row">
        <div class="col-md-12 text-15"><b>classe {{class.className}} - {{class.nbStudents}} élèves</b></div>
        <div class="col-md-12"><hr class="my-1"></div>
        <div class="col-md-6 mt-1">
          <div class="row">
            <div class="col-md-4 mb-1">
              <a [routerLink]="['/studentsClass', class.classId]">
                <div class="card card-icon m-0 icon-btn">
                  <div class="card-body pt-1 pr-0 pb-0 pl-0 text-center">
                    <i class="fad fa-users fa-2x" style="--fa-secondary-opacity: 1; --fa-primary-color:#f89f20;--fa-secondary-color:#192C47;"></i>
                    <p class="text-15 text-muted my-1">{{class.nbStudents}} élèves</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4 mb-1">
              <a [routerLink]="['/agenda']">
                <div class="card card-icon m-0 icon-btn">
                  <div class="card-body pt-1 pr-0 pb-0 pl-0 text-center">
                    <i class="fad fa-book-open fa-2x" style="--fa-secondary-opacity: 0.7; --fa-primary-color: #192C47; --fa-secondary-color: #f89f20"></i>
                    <p class="text-15 text-muted my-1">cahier de textes</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4 mb-1">
              <a [routerLink]="['/grades']">
                <div class="card card-icon mb-0 icon-btn">
                  <div class="card-body pt-1 pr-0 pb-0 pl-0 text-center">
                    <i class="fad fa-user-chart fa-2x" style="--fa-primary-opacity: 1;--fa-secondary-opacity: 1; --fa-primary-color: #192C47; --fa-secondary-color: #f89f20"></i>
                    <p class="text-15 text-muted my-1">notes</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4 mb-1">
              <a [routerLink]="['/classLife', class.classId]">
                <div class="card card-icon mb-0 icon-btn">
                  <div class="card-body pt-1 pr-0 pb-0 pl-0 text-center">
                    <i class="fad fa-users-class fa-2x" style="--fa-primary-opacity: 1; --fa-secondary-opacity: 1; --fa-primary-color: #f89f20; --fa-secondary-color:#192C47;"></i>
                    <p class="text-15 text-muted my-1">vie scolaire</p>
                </div>
              </div>
              </a>
            </div>
            <div class="col-md-4 mb-1">
              <a [routerLink]="['/classSchedule', class.classId]">
                <div class="card card-icon mb-0 icon-btn">
                  <div class="card-body pt-1 pr-0 pb-0 pl-0 text-center">
                    <i class="fad fa-calendar-alt fa-2x" style="--fa-secondary-opacity: 1; --fa-primary-color: #192C47; --fa-secondary-color: #f89f20"></i>
                  <p class="text-15 text-muted my-1">emploi du tps</p>
                </div>
              </div>
              </a>
            </div>
            <div class="col-md-4 mb-1">
              <a (click)="frame.show()">
              <div class="card card-icon mb-0 icon-btn">
                <div class="card-body pt-1 pr-0 pb-0 pl-0 text-center">
                  <i class="fad fa-chalkboard-teacher fa-2x" style="--fa-secondary-opacity: 1; --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
                  <div class="text-15 text-muted my-1">session de cours</div>
                </div>
              </div>
              </a>
              <div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop+{{i}}" tabindex="-1" role="dialog"
                aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header text-center">
                      <h4 class="modal-title w-100 font-weight-bold">classe de {{class.className}} - session de cours</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body mx-3">
                      <form [formGroup]="sessionForm" (ngSubmit)="goToClass()">
                        <div class="border rounded-lg p-2">
                          <div *ngIf="courseOptions[i]?.length > 0">
                            <div class="row">
                              <div class="col-lg-9">
                                <mdb-select [options]="courseOptions[i]" formControlName="course" name="course"
                                  placeholder="choisir le cours"></mdb-select>
                              </div>
                              <div class="col-lg-3 my-auto">
                                <button type="submit" mdbBtn [disabled]="!sessionForm.valid" size="sm"
                                  class="btnBlue" block="true" mdbWavesEffect>ok</button>
                              </div>
                            </div>
                          </div>
                          <div *ngIf="courseOptions[i]?.length == 0">
                            <div class="text-15 text-muted">pas de cours aujourd'hui</div>
                          </div>                      
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>              
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12 text-15">informations</div>
            <div class="col-md-12"><hr class="my-1"></div>
            <div class="col-md-12">informations sur la vie de la classe, les tâches du professeur en cours, et autres données pertinentes pour le professeur</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


