<div *ngIf="!user">
  <div class="text-25 text-center mt-2 text-muted">CONFIRMATION DE EMAIL</div>
  <div class="text-center p-4">
    <i class="fad fa-exclamation-triangle fa-6x" style="--fa-secondary-opacity: 1;
      --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
  </div>
  <div class="text-20">
    <div>Bonjour,</div>
    <div>Pour valider votre email et votre compte vous devez clicker sur le lien reçu dans le email que nous vous avons envoyé. merci</div>
    <div class="my-3">Pour des informations complémentaires vous pouvez nous contacter au :</div>
    <div class="mb-3 pl-3"> téléphone :<b>12.34.56.78</b></div>
    <div class="mb-3 pl-3"> email :<a [routerLink]="['/contactus']"><b>sav@educnotes.com</b></a></div>
  </div>
</div>

<div *ngIf="user && !emailOK">
  <p *ngIf="user" class="text-17">Bonjour
     <span  *ngIf="user.gender == 0">Mme</span>
     <span  *ngIf="user.gender == 1">Mr</span>
     {{user.lastName | titlecase}},
  </p>
  <div class="text-15">Nous n'avons pas pu valider votre email. recommencez svp.</div>
  <div class="text-15">Si le problème persiste veuillez nous contacter au :</div>
  <div class="text-17"> téléphone :<b>12.34.56.78</b></div>
  <div class="text-17"> email :<a [routerLink]="['/contactus']"><b>sav@educnotes.com</b></a></div>
</div>

<div *ngIf="emailOK" class="row">

</div>
