<div *ngIf="!user">
  <div class="text-25 text-center mt-2 text-muted">CONFIRMATION DE EMAIL</div>
  <div class="text-center p-4">
    <i class="fad fa-exclamation-triangle fa-6x" style="--fa-secondary-opacity: 1;
      --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
  </div>
  <div class="text-20">
    <div>Bonjour,</div>
    <div>Le lien de validation est incorrect. Pour valider votre email et votre compte vous devez clicker sur le lien reçu dans le email que nous vous avons envoyé. merci</div>
    <div class="my-3">Pour des informations complémentaires vous pouvez nous contacter au :</div>
    <div class="mb-3 pl-3"> téléphone :<b>12.34.56.78</b></div>
    <div class="mb-3 pl-3"> email :<a [routerLink]="['/contactus']"><b>sav@educnotes.com</b></a></div>
  </div>
</div>

<div class="text-20" *ngIf="user && !emailOK">
  <div class="text-25 text-center mt-2 text-muted">CONFIRMATION DE EMAIL</div>
  <div class="text-center p-4">
    <i class="fad fa-exclamation-triangle fa-4x" style="--fa-secondary-opacity: 1;
      --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
  </div>
  <div *ngIf="user">Bonjour
    <span  *ngIf="user.gender == 0">Mme</span>
    <span  *ngIf="user.gender == 1">Mr</span>
    {{user.lastName | titlecase}},
  </div>
  <div>Nous n'avons pas pu valider votre email. recommencez svp.</div>
  <div>Si le problème persiste veuillez nous contacter au :</div>
  <div class="my-3 pl-3"> téléphone :<b>12.34.56.78</b></div>
  <div class="mb-3 pl-3"> email :<a [routerLink]="['/contactus']"><b>sav@educnotes.com</b></a></div>
</div>

<div class="row" *ngIf="emailOK">
  <div class="col-md-12 text-16">Bonjour
    <span  *ngIf="user.gender == 0">Mme</span>
    <span  *ngIf="user.gender == 1">Mr</span>
    {{user.lastName | titlecase}},
  </div>
  <div class="col-md-12 text-16">l'email fourni lors de l'inscription de vos enfants est confirmé.</div>
  <div class="col-md-12 text-16 my-2">finaliser svp la création de votre compte sur la plateforme Educ'Notes. 
    Vous pourrez alors effectuer des paiements et accéder à votre inscription.</div>
  <div class="col-md-10">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="userForm" (ngSubmit)="updateUser()">
          <div class="row">
            <div class="col-md-6">
              <div class="md-form mt-1">
                <input mdbInput type="text" id="lastName" class="form-control" formControlName="lastName" mdbValidate>
                <label for="lastName" class="">nom</label>
                <div *ngIf="userForm.get('lastName').errors && userForm.get('lastName').touched"
                  class="text-small text-danger">saisir le nom svp</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="md-form mt-1">
                <input mdbInput type="text" id="firstName" class="form-control" formControlName="firstName" mdbValidate>
                <label for="firstName" class="">prénom</label>
                <div *ngIf="userForm.get('firstName').errors && userForm.get('firstName').touched"
                  class="text-small text-danger">saisir le prénom svp</div>
              </div>          
            </div>
            <div class="col-md-4">
              <div class="md-form my-0">
                <input mdbInput type="text" id="cell" [textMask]="{mask: phoneMask}"
                  class="form-control" formControlName="cell" mdbValidate>
                <label for="cell" class="">mobile</label>
                <div *ngIf="userForm.get('cell').errors && userForm.get('cell').touched"
                  class="text-small text-danger">saisir le mobile svp</div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="md-form my-0">
                <input mdbInput type="text" id="email" disabled class="form-control" formControlName="email" mdbValidate>
                <label for="email" class="">email</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="md-form my-0">
                <input mdbInput type="text" id="userName" class="form-control" formControlName="userName"
                  (blur)="userNameVerification()" mdbValidate>
                <label for="userName" class="">identifiant</label>
                <div *ngIf="userForm.get('userName').errors && userForm.get('userName').touched"
                  class="text-small text-danger">saisir un identifiant svp</div>
                <div *ngIf="userNameExist" class="text-small text-danger">cet identifiant existe déjà. choisir un autre svp</div>
              </div>          
            </div>
            <div class="col-md-4">
              <div class="md-form my-0">
                <input mdbInput type="text" id="pwd" class="form-control" formControlName="pwd" mdbValidate>
                <label for="pwd" class="">mot de passe</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="md-form my-0">
                <input mdbInput type="text" id="checkpwd" class="form-control" formControlName="checkpwd" mdbValidate>
                <label for="checkpwd" class="">confirmer mot de passe</label>
              </div>
            </div>
            <div class="col-md-12">
              <hr class="mt-2 mb-1">
              <div class="float-right">
                <button type="button" (click)="initialValues()" mdbBtn class="btnBlue" size="sm" mdbWavesEffect>données initiales</button>
                <button type="button" mdbBtn [disabled]="!userForm.valid || userNameExist" class="btnBlue"
                  size="sm" mdbWavesEffect>saisir mes données</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
