<div class="container mt-5">
  <h2>Admin Panel</h2>
  <div class="tab-panel" >
      <nz-tabset>
          <nz-tab nzTitle="Pré-inscription" >
          <app-pre-inscription></app-pre-inscription>
          </nz-tab>
          <nz-tab nzTitle="Espace professeur" >
           <app-teacher-management></app-teacher-management>
          </nz-tab>
          <!-- <nz-tab nzTitle="cours & classes">
           <app-cours-classes-management></app-cours-classes-management>
          </nz-tab> -->
          <nz-tab nzTitle="profils">
            <app-user-types></app-user-types>
           </nz-tab>
           <nz-tab nzTitle="personnel">
              <app-administration-users></app-administration-users>
           </nz-tab>
           <nz-tab nzTitle="Ressource">
             <app-user-list></app-user-list>  
           </nz-tab>
           <nz-tab nzTitle="photos">
             <app-photo-management></app-photo-management>
           </nz-tab>
        </nz-tabset>

   
  </div>
</div>