<div class="row">
  <!-- ICON BG -->
  <div class="col-lg-3 col-md-6 col-sm-6 mb-1">
    <div class="card">
      <div class="card-body p-2">
        <div class="d-flex ml-4">
          <i class="fad fa-user-check fa-3x mr-3" style="--fa-secondary-opacity: 1;--fa-primary-color:#f89f20;--fa-secondary-color:#192C47;"></i>
          <div>
            <p class="text-17 text-muted line-height-1 mb-1">élèves inscrits</p>
            <p class="text-24 text-primary line-height-1 mt-0 mb-0">{{students?.totalActive}}/{{students?.totalAccount}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 mb-1">
    <div class="card">
      <div class="card-body p-2">
        <div class="d-flex ml-4">
          <i class="fad fa-user-friends fa-3x mr-3" style="--fa-secondary-opacity: 1;--fa-primary-color:#f89f20;--fa-secondary-color:#192C47;"></i>
          <div>
            <p class="text-17 text-muted line-height-1 mb-1">parents inscrits</p>
            <p class="text-24 text-primary line-height-1 mt-0 mb-0">{{parents?.totalActive}}/{{parents?.totalAccount}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 mb-1">
    <div class="card">
      <div class="card-body p-2">
        <div class="d-flex ml-4">
          <i class="fad fa-chalkboard-teacher fa-3x mr-3" style="--fa-secondary-opacity: 1;--fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
          <div>
            <p class="text-17 text-muted line-height-1 mb-1">enseignants inscrits</p>
            <p class="text-24 text-primary line-height-1 mt-0 mb-0">{{teachers?.totalActive}}/{{teachers?.totalAccount}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 mb-1">
    <div class="card">
      <div class="card-body p-2">
        <div class="d-flex ml-4">
          <i class="fad fa-users-cog fa-3x mr-3" style="--fa-secondary-opacity: 1;--fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
          <div>
            <p class="text-17 text-muted line-height-1 mb-1">employés</p>
            <p class="text-24 text-primary line-height-1 mt-0 mb-0">{{admins?.totalActive}}/{{admins?.totalAccount}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 mt-3">
  <p class="mr-1 card-title">récapitulatif des inscriptions</p>
    <app-inscription-panel></app-inscription-panel>
  </div>
  <div class="col-md-12">
    <app-account-history></app-account-history>
  </div>
  

</div>