<div class="row">
  <div class="col-md-12 d-none d-md-block">
    <div class="d-flex">
      <i class="fad fa-user-edit fa-2x mr-2" style="--fa-secondary-opacity: 1;
        --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
      <p class="text-18 flex-grow-1">mise a jour des enfants</p>
    </div>
  </div>
  <div class="col-md-12 d-md-none">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex">
          <i class="fad fa-books fa-2x mr-2" style="--fa-secondary-opacity: 1;
            --fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
          <p class="text-17 flex-grow-1">mise à jour des enfants</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 text-15 text-muted">finalisez l'inscription de vos enfants en complétant le formulaire ci-dessous</div>

  <div class="col-md-12 mb-2">
    <form [formGroup]="childrenForm" (ngSubmit)="updateChildren()">
      <div class="card">
        <div class="card-body p-2">
          <div class="row">
            <div class="col-md-12 mb-2">
              <div class="mb-2" formArrayName="children" *ngFor="let child of childrenForm.get('children')['controls']; let i = index;">
                <div class="border rounded-lg p-2" [formGroupName]="i">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="text-18">
                        <input type="hidden" id="childid" formControlName="childid" />
                        <b>{{i+1}}. {{children[i].lastName | titlecase}} {{children[i].firstName | titlecase}}.</b> classe de {{children[i].classLevelName}}
                      </div>
                    </div>
                    <div class="col-md-12"><hr class="my-1"></div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <div class="file-path-wrapper d-flex justify-content-center m-0 p-1">
                        <img [src]="photoUrl[i] || '../../assets/user.png'" class="avatar-xl rounded-lg" alt="">
                      </div>
                      <div class="d-flex justify-content-center m-0">
                        <div class="file-field md-form m-0">
                          <div mdbBtn class="btnWhiteO px-2 waves-light" size="sm" mdbWavesEffect>
                            <span *ngIf="!photoUrl[i]">ajouter la photo</span>
                            <span *ngIf="photoUrl[i]">editer la photo</span>
                            <input type="file" accept='image/*' mdbFileSelect (change)="imgResult($event, i)">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="md-form mt-2 mb-0">
                            <input mdbInput type="text" id="'lname'+{{i}}" class="form-control" formControlName="lname">
                            <label for="'lname'+{{i}}" class="">nom</label>
                            <div *ngIf="child.get('lname').errors && child.get('lname').touched"
                              class="text-small text-danger">saisir le nom svp</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="md-form mt-2 mb-0">
                            <input mdbInput type="text" id="'fname'+{{i}}" class="form-control" formControlName="fname" mdbValidate>
                            <label for="'fname'+{{i}}" class="">prénom</label>
                            <div *ngIf="child.get('fname').errors && child.get('fname').touched"
                              class="text-small text-danger">saisir le prénom svp</div>
                          </div>          
                        </div>
                        <div class="col-md-4">
                          <div class="md-form mt-1 my-0">
                            <mdb-select [options]="sexOptions" formControlName="sex" placeholder="sexe"></mdb-select>
                            <div *ngIf="child.get('sex').errors && child.get('sex').touched"
                              class="text-small text-danger">saisir le sexe svp</div>
                          </div>
                        </div>
                        <!-- <div class="col-md-2 text-15 d-flex align-items-end pb-1">date de naiss.</div> -->
                        <div class="col-md-4">
                          <div class="md-form mt-0 mb-0">
                            <mdb-date-picker id="'dob'+{{i}}" name="opDate" [options]="myDatePickerOptions"
                              [placeholder]="'date de naiss.'" formControlName="dob"></mdb-date-picker>
                            <div *ngIf="child.get('dob').errors && child.get('dob').touched"
                              class="text-small text-danger">saisir la date de naiss. svp</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="md-form mt-2 mb-0">
                            <input mdbInput type="text" id="'email'+{{i}}" class="form-control" formControlName="email" mdbValidate>
                            <label for="'email'+{{i}}" class="">email</label>
                            <!-- <div *ngIf="child.get('email').errors && child.get('email').touched"
                              class="text-small text-danger">saisir l'email svp</div> -->
                          </div>          
                        </div>
                        <div class="col-md-4">
                          <div class="md-form mt-2 mb-0">
                            <input mdbInput type="text" id="'cell'+{{i}}" class="form-control" [textMask]="{mask: phoneMask}"
                              formControlName="cell" mdbValidate>
                            <label for="'cell'+{{i}}" class="">portable</label>
                            <!-- <div *ngIf="child.get('cell').errors && child.get('cell').touched"
                              class="text-small text-danger">saisir le portable svp</div> -->
                          </div>          
                        </div>
                        <div class="col-md-4">
                          <div class="md-form mt-2 mb-0">
                            <input mdbInput type="text" id="'username'+{{i}}" class="form-control"
                             (blur)="userNameVerification(i)" formControlName="username" mdbValidate>
                            <label for="'username'+{{i}}" class="">identifiant</label>
                            <div *ngIf="child.get('username').errors && child.get('username').touched"
                              class="text-small text-danger">saisir le mot de passe svp</div>
                            <div *ngIf="userNameExist" class="text-small text-danger">cet identifiant existe déjà. choisir un autre svp</div>                          </div>          
                        </div>
                        <div class="col-md-4">
                          <div class="md-form mt-2 mb-0">
                            <input mdbInput type="password" id="'pwd'+{{i}}" class="form-control" formControlName="pwd" mdbValidate>
                            <label for="'pwd'+{{i}}" class="">password</label>
                            <div *ngIf="child.get('pwd').errors && child.get('pwd').touched"
                              class="text-small text-danger">saisir le mot de passe svp</div>
                          </div>          
                        </div>
                        <div class="col-md-4">
                          <div class="md-form mt-2 mb-0">
                            <input mdbInput type="password" id="'checkpwd'+{{i}}" class="form-control"
                              (keyup)="pwdValidator(i)" formControlName="checkpwd" mdbValidate>
                            <label for="'checkpwd'+{{i}}" class="">confirmer mot de passe</label>
                            <div class="text-small text-danger" *ngIf="child.get('checkpwd').hasError('required') &&
                              child.get('checkpwd').touched">confirmer le mot de passe svp</div>
                            <div class="text-small text-danger" *ngIf="!confirmedPwd && child.get('checkpwd').touched">
                              les deux mots de passe que vous entrez sont differents!
                            </div>
                          </div>
                        </div>  
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12"><hr class="my-1" style="background-color: #f89f20;"></div>
            <div class="col-md-12">
              <div class="float-right">
                <button type="submit" mdbBtn [disabled]="wait || !childrenForm.valid || userNameExist || !confirmedPwd" class="btnBlue"
                  size="sm" mdbWavesEffect>enregistrer et valider les comptes enfants</button>
              </div>    
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>