<div class="row">
  <div class="col-md-12 d-flex">
    <i class="fad fa-sack-dollar fa-2x mr-2" style="--fa-secondary-opacity: 1;--fa-primary-color:#f89f20;--fa-secondary-color:#192C47;"></i>
    <div class="text-19">trésorerie</div>
  </div>

  <div class="col-md-12 text-17 text-muted mt-2">situation des paiements</div>
  <div class="col-md-12"><hr class="my-1" style="background-color: #f89f20;"></div>

  <div class="col-md-4 my-2">
    <div class="card">
      <div class="card-body p-1 text-center">
        <div class="row">
          <div class="col-md-6 text-15">montant facturé</div>
          <div class="col-md-6 text-17 text-success text-sucess">{{invoiced}} F CFA</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 my-2">
    <div class="card">
      <div class="card-body p-1 text-center">
        <div class="row">
          <div class="col-md-6 text-15">montant encaissé</div>
          <div class="col-md-6 text-17 text-success text-sucess">{{cashed}} F CFA</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 my-2">
    <div class="card">
      <div class="card-body p-1 text-center">
        <div class="row">
          <div class="col-md-6 text-15">solde à recevoir</div>
          <div class="col-md-6 text-17 text-success text-sucess">{{tuitionBalance}} F CFA</div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-2 my-2">
    <div class="card">
      <div class="card-body p-2 text-center">
        <div class="text-15">en cours de validation</div>
        <div class="text-17 text-success text-sucess">{{toBeValidated}} F CFA</div>
      </div>
    </div>
  </div>
  <div class="col-md-2 my-2">
    <div class="card">
      <div class="card-body p-2 text-center">
        <div class="text-15">recouvrement</div>
        <div class="text-17 text-danger">117.345.000 F CFA</div>
      </div>
    </div>
  </div>
  <div class="col-md-2 my-2">
    <div class="card">
      <div class="card-body p-2 text-center">
        <div class="text-15">7 jours</div>
        <div class="text-15">17.345.000 F CFA</div>
      </div>
    </div>
  </div>
  <div class="col-md-2 my-2">
    <div class="card">
      <div class="card-body p-2 text-center">
        <div class="text-15">15 jours</div>
        <div class="text-15">222.345.000 F CFA</div>
      </div>
    </div>
  </div>
  <div class="col-md-2 my-2">
    <div class="card">
      <div class="card-body p-2 text-center">
        <div class="text-15">30 jours</div>
        <div class="text-15">17.345.000 F CFA</div>
      </div>
    </div>
  </div>
  <div class="col-md-2 my-2">
    <div class="card">
      <div class="card-body p-2 text-center">
        <div class="text-15">30+ jours</div>
        <div class="text-15">27.345.000 F CFA</div>
      </div>
    </div>
  </div>

  <div class="col-md-12 text-17 text-muted">échéances</div>
  <div class="col-md-12"><hr class="my-1" style="background-color: #f89f20;"></div>
  <div *ngFor="let item of counter(nbTuitionPays); let i = index" class="col-md-3 my-2">
    <div class="card">
      <div class="card-body p-2">
        <div class="d-flex">
          <div *ngIf="i == 0" class="flex-grow-1 text-15">{{i+1}}er acompte</div>
          <div *ngIf="i > 0" class="flex-grow-1 text-15">{{i+1}}e acompte</div>
          <div><a class="text-small small-link">voir détails</a></div>
        </div>
        <hr class="my-1">
        <div class="text-13 text-muted">emails envoyés</div>
        <div class="text-13 text-muted">factures envoyées</div>
        <div class="text-13 text-muted">solde : 15.345.000 F</div>
      </div>
    </div>
  </div>

</div>