<div class="d-md-flex mb-2">
  <div class="d-flex">
    <a appBtnBack>
      <i class="fad fa-undo-alt fa-2x mr-2" style="--fa-secondary-opacity: 1;
        --fa-primary-color:#f89f20;--fa-secondary-color:#192C47;"></i>
    </a>
    <i class="fad fa-calendar-edit fa-2x mr-2" style="--fa-secondary-opacity: 1;
      --fa-primary-color: #192C47; --fa-secondary-color: #f89f20"></i>
    <div class="text-16"><b>classe {{class?.name}}</b></div>
  </div>
  <div class="text-16 ml-2">modifier l'emploi du temps</div>
</div>

<div>
  <form [formGroup]="scheduleForm" (ngSubmit)="saveScheduleItem()">
    <div class="row">
      <div class="col-md-12 mb-1">
        <div class="card">
          <div class="card-body p-2">
            <div class="row">
              <div class="col-md-12 mb-1">
                <div class="border rounded-lg p-2">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="d-md-flex">
                        <div class="mt-md-3 text-15 mr-md-5"><b>enseignant</b></div>
                        <mdb-select [options]="teacherOptions" formControlName="teacher" name="teacher" [visibleOptions]="7"
                          (selected)="onTeacherChanged($event)" placeholder="choisir l'enseignant"></mdb-select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="teacherSchedule">
              <div *ngIf="!showConflictDiv">
                <div class="row">
                  <div class="col-md-12" *ngIf="courseConflicts.length > 0">
                    <div class="card animated shake alert-div mb-1">
                      <div class="card-body p-2">
                        <div *ngFor="let conflict of courseConflicts">
                          <p class="text-13 m-0 ">{{conflict.data}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="border rounded-lg p-2">
                      <div class="row mb-1">
                        <div class="form-group col-md-12 mb-0">
                          <mdb-select [options]="courseOptions" placeholder="choisir le cours / activité" name="course" formControlName="course"></mdb-select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div formGroupName="item1" class="mb-0">
                            <div class="d-flex">
                              <div class="text-20 mr-2 my-auto">1.</div>
                              <div class="flex-grow-1">
                                <div class="form-row">
                                  <div class="col-md-4">
                                    <mdb-select class="selMarginTop" [options]="daySelect" id="day1" (ngModelChange)="isConflict(1)"
                                      name="day1" [visibleOptions]="7" formControlName="day1" placeholder="jour"></mdb-select>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="md-form form-sm inpMarginTop mb-0">
                                      <input type="text" class="form-control mr-2" mdbInput formControlName="hourStart1" id="hourStart1"
                                        [textMask]="{mask: timeMask}" (keyup)="isConflict(1)">
                                      <label for="hourStart1">heure début</label>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="md-form form-sm inpMarginTop mb-0">
                                      <input type="text" class="form-control mr-2" mdbInput formControlName="hourEnd1"
                                        id="hourEnd1" [textMask]="{mask: timeMask}" (keyup)="isConflict(1)">
                                      <label for="hourEnd1">heure fin</label>
                                    </div>
                                  </div>
                                  <diV class="ml-3 text-danger text-12" *ngIf="scheduleForm.controls['item1'].hasError('line1NOK')">
                                    tous les champs doivent être renseignés.
                                  </diV>
                                  <div class="text-danger text-12" *ngIf="scheduleForm.controls['item1'].hasError('line1DatesNOK')">
                                    les heures de cours sont au format : hh:mm
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="text-15" *ngIf="validateConflict[0]">
                              <mdb-checkbox (change)="isConflict(1)" formControlName="conflictOK1">accepter le conflit</mdb-checkbox>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div formGroupName="item2" class="mb-0">
                            <div class="d-flex">
                              <div class="text-20 mr-2 my-2">2.</div>
                              <div class="flex-grow-1">
                                <div class="form-row">
                                  <div class="col-md-4">
                                    <mdb-select class="selMarginTop" [options]="daySelect" id="day2" name="day2" [visibleOptions]="7"
                                      formControlName="day2" (ngModelChange)="isConflict(2)" placeholder="jour"></mdb-select>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="md-form form-sm inpMarginTop mb-0">
                                      <input type="text" class="form-control mr-2" mdbInput formControlName="hourStart2" id="hourStart2"
                                        [textMask]="{mask: timeMask}" (keyup)="isConflict(2)">
                                      <label for="hourStart2">heure début</label>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="md-form form-sm inpMarginTop mb-0">
                                      <input type="text" class="form-control mr-2" mdbInput formControlName="hourEnd2" id="hourEnd2"
                                        [textMask]="{mask: timeMask}" (keyup)="isConflict(2)">
                                      <label for="hourEnd2">heure fin</label>
                                    </div>
                                  </div>
                                  <diV class="ml-3 text-danger text-12" *ngIf="scheduleForm.controls['item2'].hasError('line2NOK')">
                                    tous les champs doivent être renseignés.
                                  </diV>
                                  <div class="text-danger text-12" *ngIf="scheduleForm.controls['item2'].hasError('line2DatesNOK')">
                                    les heures de cours sont au format : hh:mm
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="text-15" *ngIf="validateConflict[1]">
                              <mdb-checkbox (change)="isConflict(2)" formControlName="conflictOK2">accepter le conflit</mdb-checkbox>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div formGroupName="item3" class="mb-0">
                            <div class="d-flex">
                              <div class="text-20 mr-2 my-auto">3.</div>
                              <div class="flex-grow-1">
                                <div class="form-row">
                                  <div class="col-md-4">
                                    <mdb-select class="selMarginTop" [options]="daySelect" id="day3" name="day3" [visibleOptions]="7"
                                      formControlName="day3" (ngModelChange)="isConflict(3)" placeholder="jour"></mdb-select>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="md-form form-sm inpMarginTop mb-0">
                                      <input type="text" class="form-control mr-2" mdbInput formControlName="hourStart3" id="hourStart3"
                                        [textMask]="{mask: timeMask}" (keyup)="isConflict(3)">
                                      <label for="hourStart3">heure début</label>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="md-form form-sm inpMarginTop mb-0">
                                      <input type="text" class="form-control mr-2" mdbInput formControlName="hourEnd3" id="hourEnd3"
                                        [textMask]="{mask: timeMask}" (keyup)="isConflict(3)">
                                      <label for="hourEnd3">heure fin</label>
                                    </div>
                                  </div>
                                  <diV class="ml-3 text-danger text-12" *ngIf="scheduleForm.controls['item3'].hasError('line3NOK')">
                                    tous les champs doivent être renseignés.
                                  </diV>
                                  <div class="text-danger text-12" *ngIf="scheduleForm.controls['item3'].hasError('line3DatesNOK')">
                                    les heures de cours sont au format : hh:mm
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="text-15" *ngIf="validateConflict[2]">
                              <mdb-checkbox (change)="isConflict(3)" formControlName="conflictOK3">accepter le conflit</mdb-checkbox>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div formGroupName="item4" class="mb-0">
                            <div class="d-flex">
                              <div class="text-20 mr-2 my-auto">4.</div>
                              <div class="flex-grow-1">
                                <div class="form-row">
                                  <div class="col-md-4">
                                    <mdb-select class="selMarginTop" [options]="daySelect" id="day4" name="day4" [visibleOptions]="7"
                                      formControlName="day4" (ngModelChange)="isConflict(4)" placeholder="jour"></mdb-select>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="md-form form-sm inpMarginTop mb-0">
                                      <input type="text" class="form-control mr-2" mdbInput formControlName="hourStart4" id="hourStart4"
                                      [textMask]="{mask: timeMask}" (keyup)="isConflict(4)">
                                      <label for="hourStart4">heure début</label>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="md-form form-sm inpMarginTop mb-0">
                                      <input type="text" class="form-control mr-2" mdbInput formControlName="hourEnd4" id="hourEnd4"
                                        [textMask]="{mask: timeMask}" (keyup)="isConflict(4)">
                                      <label for="hourEnd4">heure fin</label>
                                    </div>
                                  </div>
                                  <diV class="ml-3 text-danger text-12" *ngIf="scheduleForm.controls['item4'].hasError('line4NOK')">
                                    tous les champs doivent être renseignés.
                                  </diV>
                                  <div class="text-danger text-12" *ngIf="scheduleForm.controls['item4'].hasError('line4DatesNOK')">
                                    les heures de cours sont au format : hh:mm
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="text-15" *ngIf="validateConflict[3]">
                              <mdb-checkbox (change)="isConflict(4)" formControlName="conflictOK4">accepter le conflit</mdb-checkbox>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div formGroupName="item5" class="mb-0">
                            <div class="d-flex">
                              <div class="text-20 mr-2 my-auto">5.</div>
                              <div class="flex-grow-1">
                                <div class="form-row">
                                  <div class="col-md-4">
                                    <mdb-select class="selMarginTop" [options]="daySelect" id="day5" name="day5" [visibleOptions]="7"
                                      formControlName="day5" (ngModelChange)="isConflict(5)" placeholder="jour"></mdb-select>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="md-form form-sm inpMarginTop mb-0">
                                      <input type="text" class="form-control mr-2" mdbInput formControlName="hourStart5" id="hourStart5"
                                        [textMask]="{mask: timeMask}" (keyup)="isConflict(5)">
                                      <label for="hourStart5">heure début</label>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="md-form form-sm inpMarginTop mb-0">
                                      <input type="text" class="form-control mr-2" mdbInput formControlName="hourEnd5" id="hourEnd5"
                                        [textMask]="{mask: timeMask}" (keyup)="isConflict(5)">
                                      <label for="hourEnd5">heure fin</label>
                                    </div>
                                  </div>
                                  <diV class="ml-3 text-danger text-12" *ngIf="scheduleForm.controls['item5'].hasError('line5NOK')">
                                    tous les champs doivent être renseignés.
                                  </diV>
                                  <div class="text-danger text-12" *ngIf="scheduleForm.controls['item5'].hasError('line5DatesNOK')">
                                    les heures de cours sont au format : hh:mm
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="text-15" *ngIf="validateConflict[4]">
                              <mdb-checkbox (change)="isConflict(5)" formControlName="conflictOK5">accepter le conflit</mdb-checkbox>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-12 mb-2">
                        <div class="border rounded-lg p-2">
                          <div class="row">
                            <div class="col-md-6 text-16 textBlue my-1">
                              <b>cours donnés par <span class="text-capitalize">{{teacherName}}</span></b>
                            </div>
                            <!-- <div class="col-md-6 text-right">
                              <button type="button" (click)="toggleConflictDiv()" mdbBtn size="sm"
                                class="btnBlue" mdbWavesEffect>ajouter cours avec conflit</button>
                            </div> -->
                          </div>
                          <hr class="my-1">
                          <div class="row">
                            <div class="col-2" *ngFor="let day of teacherSchedule.days">
                              <div class="border rounded-lg p-1 text-center text-12 mb-1 blueWhite">{{day.dayName}}</div>
                              <hr class="my-1">
                              <div *ngFor="let course of day.courses">
                                <div class="border rounded-lg p-1 text-12 text-white mb-1" [ngStyle]="{'background-color': course.courseColor}"
                                  [ngClass]="course.inConflict ? 'inConflict' : ''">
                                  {{course.startH}} à {{course.endH}} {{course.courseAbbrev}} {{course.className}}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="border rounded-lg p-2">
                          <div class="text-16 textBlue"><b>emploi du temps de la classe {{scheduleCourses.className}}</b></div>
                          <hr class="my-1">
                          <div class="row">
                            <div *ngFor="let item of weekDays; let i = index" class="col">
                              <div class="border rounded-lg p-1 text-center text-12 mb-1 blueWhite">{{item}}</div>
                            </div>
                          </div>
                          <div class="row">
                            <div *ngFor="let index of [0, 1, 2, 3, 4]" class="col">
                              <div *ngFor="let item of dayItems[index]">
                                <div *ngIf="item.courses.length == 1">
                                  <div class="border rounded-lg p-1 text-12 text-white mb-1"
                                    [ngStyle]="{'background-color': item.courses[0].courseColor}">
                                    {{item.strStartHourMin}} à {{item.strEndHourMin}}<br>{{item.courses[0].courseAbbrev | uppercase}}
                                  </div>
                                </div>
                                <div *ngIf="item.courses.length > 1" class="text-center">
                                  <div class="border rounded-lg p-1 mb-1">
                                    <div class="d-flex">
                                      <div *ngFor="let course of item.courses" [ngStyle]="{'background-color': course.courseColor}"
                                        class=" rounded-lg w-50 text-12 text-white">
                                        <b>{{course.courseAbbrev | uppercase}}</b>
                                      </div>
                                    </div>
                                    <div class="text-12"><b>{{item.strStartHourMin}} à {{item.strEndHourMin}}</b></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12"><hr class="my-1"></div>
                  <div class="col-md-12 text-center text-md-right">
                    <button type="button" mdbBtn size="sm" [disabled]="wait" class="btnOrange mr-2"
                      (click)="goBackToSchedule()" mdbWavesEffect>Cancel</button>
                    <button type="submit" [disabled]="wait || scheduleForm.hasError('formNOK') || periodConflict"
                      size="sm" mdbBtn class="btnBlue" mdbWavesEffect>
                      <span *ngIf="wait" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      saisir emploi du temps
                    </button>
                  </div>
                </div>
              </div>
              <div *ngIf="showConflictDiv">
                <div class="border rounded-lg p-2">
                  <div class="row">
                    <div class="col-md-6 text-15 my-auto"><b>classe de {{class?.name}} - ajout d'un cours à conflit</b></div>
                    <div class="col-md-6 text-right">
                      <button type="button" (click)="toggleConflictDiv()" mdbBtn size="sm"
                        class="btnBlue" mdbWavesEffect>retour à l'emploi du temps</button>
                    </div>
                  </div>
                  <hr class="my-1">
                  <form [formGroup]="conflictForm" (ngSubmit)="addCourseWithConflict()">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="md-form form-sm my-0">
                          <mdb-select [options]="oldCourseOptions" placeholder="choisir le cours/activité existant"
                            name="oldCourse" (ngModelChange)="setConflictInfo(0, $event)" formControlName="oldCourse"></mdb-select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="md-form form-sm my-0">
                          <mdb-select [options]="courseOptions" placeholder="cours à ajouter créant le conflit" name="conflictCourse"
                            (ngModelChange)="setConflictInfo(1, $event)" formControlName="conflictCourse"></mdb-select>
                        </div>
                      </div>
                      <div *ngIf="showConflictInfo" class="col-md-10">
                        <div class="border rounded-lg p-2">
                          <div class="text-15">information sur le conflit entre les deux cours</div>
                          <hr class="my-1 mb-2">
                          <div class="row mb-2">
                            <div class="col-md-3 text-15 text-right my-auto"><b>période du cours</b></div>
                            <div class="col-md-9">
                              <div *ngIf="!editPeriodDiv">
                                <div class="d-md-flex">
                                  <div class=" text-17 mr-md-3"><b>{{conflictDay}} de {{conflictStartHM}} à {{conflictEndHM}}</b></div>
                                  <mdb-checkbox (change)="editPeriod()">modifier la période</mdb-checkbox>
                                </div>
                                <div *ngIf="periodChanged" class="text-small textDarkRed">
                                  <u><a (click)="resetPeriod()">revenir à la période initiale</a></u>
                                </div>
                              </div>
                              <div *ngIf="editPeriodDiv">
                                <div class="form-row">
                                  <div class="col-md-4">
                                    <div class="md-form my-0">
                                      <input mdbInput type="text" id="startHM" class="form-control"
                                        [textMask]="{mask: timeMask}" formControlName="startHM" mdbValidate>
                                      <label for="startHM" class="">début période</label>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="md-form my-0">
                                      <input mdbInput type="text" id="endHM" class="form-control"
                                        [textMask]="{mask: timeMask}" formControlName="endHM" mdbValidate>
                                      <label for="endHM" class="">fin période</label>
                                    </div>
                                  </div>
                                  <div class="col-md-2">
                                    <button type="button" (click)="setPeriod()" mdbBtn class="btnBlue"
                                      [disabled]="!conflictForm.valid" size="sm" mdbWavesEffect>ok</button>
                                  </div>
                                  <diV class="ml-3 text-danger text-12" *ngIf="conflictForm.hasError('lineNOK')">
                                    tous les champs doivent être renseignés.
                                  </diV>
                                  <div class="text-danger text-12" *ngIf="conflictForm.hasError('datesNOK')">
                                    les heures de cours sont au format : hh:mm
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row mb-2">
                            <div class="col-md-3 text-15 text-right my-auto"><b>cours existant</b></div>
                            <div class="col-md-8">
                              <div class="border rounded-lg p-2" [ngStyle]="{'background-color': oldCourseColor}">
                                <div class="text-15 text-white"><b>{{oldCourseInfo}}</b></div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3 text-15 text-right my-auto"><b>cours à ajouter</b></div>
                            <div class="col-md-8">
                              <div class="border rounded-lg p-2" [ngStyle]="{'background-color': conflictCourseColor}">
                                <div class="text-15 text-white"><b>{{conflictCourseInfo}}</b></div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12 mt-2">
                              <button type="submit" mdbBtn size="sm" block="true" class="btnBlue" mdbWavesEffect>saisir le cours</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
