<!-- <div class="d-flex">
  <div>
    <a class="text-15 text-muted mr-3" [routerLink]="['/home']">accueil</a>
  </div>
  <div>
    <a class="text-15 text-muted mr-3" [routerLink]="['/studentAgenda', currentChild?.id]">cahier de textes</a>
  </div>
  <div>
    <a class="text-15 text-muted mr-3" [routerLink]="['/studentGrades', currentChild?.id]">notes</a>
  </div>
  <div class="" ngbDropdown role="group" aria-label="Select all" placement="bottom-left">
    <a class="dropdown-toggle text-15 text-muted mr-3 dd" ngbDropdownToggle>vie scolaire</a>
    <div class="dropdown-menu" ngbDropdownMenu>
      <button [routerLink]="['/studentSchedule', currentChild?.id]"  class="dropdown-item">emploi du temps</button>
      <button [routerLink]="['/studentLife', currentChild?.id]"  class="dropdown-item">absences/sanctions</button>
      <button [routerLink]="['/classStaff', currentChild?.id]" class="dropdown-item">équipe pédagogique</button>
    </div>
  </div>  
</div> -->

<ul class="navbar-nav mr-auto">
  <li class="nav-item waves-light" mdbWavesEffect>
    <a class="nav-link text-muted" (click)="closeNavOnClick()" [routerLink]="['/home']">accueil</a>
  </li>
  <li class="nav-item waves-light" mdbWavesEffect>
    <a class="nav-link text-muted" (click)="closeNavOnClick()" [routerLink]="['/studentAgenda', currentChild?.id]">cahier de textes</a>
  </li>
  <li class="nav-item waves-light" mdbWavesEffect>
    <a class="nav-link text-muted" (click)="closeNavOnClick()" [routerLink]="['/studentGrades', currentChild?.id]">notes</a>
  </li>
  <li class="nav-item dropdown btn-group" dropdown>
    <a dropdownToggle type="button" class="nav-link text-muted dropdown-toggle waves-light" mdbWavesEffect>
      vie scolaire
    </a>
    <div class="dropdown-menu dropdown-primary dropdown-menu-left" role="menu">
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/studentSchedule', currentChild?.id]">emploi du temps</a>
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/studentLife', currentChild?.id]">absences/sanctions</a>
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/classStaff', currentChild?.id]">équipe pédagogique</a>
    </div>
  </li>
</ul>
