<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" [routerLink]="['/home']">Educ'Notes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']">PARENT-Accueil</a>
        </li>
        <li class="nav-item active" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/members']">Matches</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/lists']">Lists</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/messages']">Messages</a>
          </li>
          <li *appHasRole="['Admin', 'Moderator']" class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/admin']">Admin</a>
          </li>
        </ul>
  
        <div *ngIf="loggedIn()" class="dropdown" dropdown>
            <span class="mr-1">
              <img src="{{photoUrl || '../../assets/user.png'}}" class="rounded-circle" alt="">
            </span>
            <a class="dropdown-toggle " dropdownToggle>
              {{authService.currentUser.lastName | titlecase}} {{authService.currentUser.firstName | titlecase}}
            </a>
          
            <div class="dropdown-menu mt-2" *dropdownMenu>
              <a class="dropdown-item" [routerLink]="['/member/edit']">
                <i class="fa fa-user"></i> Edit Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
            </div>
        </div>
      </div>
</nav> -->


<div class="d-flex">
  <div class="" routerLinkActive="active">
    <a class="text-15 text-muted mr-3" [routerLink]="['/parent']">accueil</a>
  </div>
</div>
