<div class="row">
  <div class="col-md-6 my-5" *ngFor="let child of children; let i = index" [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">
    <mdb-card class="testimonial-card">
      <div class="avatar mx-auto">
        <img src="{{child.photoUrl || '../../../../../../assets/user.png'}}" class="rounded-circle">
      </div>
      <mdb-card-body class="text-left p-2">
          <p class="text-center text-20 font-weight-400 m-0">{{child.lastName}} {{child.firstName}} - {{child.className}}</p>
          <div><hr class="my-1"></div>
          <div class="pl-2">
            <div><a class="text-15 text-muted">moyenne : {{child.avg}}/20</a></div>
            <label class="text-muted text-15 mb-0 mr-1">devoirs maison : </label>
            <span *ngFor="let item of child.agendaItems">
              <ng-template #hoverItems>
                <p *ngFor="let ai of item.agendaItems; let i = index" class="text-13 m-0"><b>{{i+1}}.
                    {{ai.courseName}}</b>. {{ai.taskDesc}}</p>
              </ng-template>
              <a [mdbPopover]="hoverItems" placement="top" triggers="hover"
                class=" text-15 mr-3">{{item.dueDateAbbrev}}</a>
            </span>
            <div class="mb-0">
              <label class=" text-muted text-15 mr-1">absences : </label>
              <a class=" text-15 mr-1" href="">1</a>
              <label class=" text-muted text-15 mr-1">retards : </label>
              <a class=" text-15 mr-1" href="">3</a>
            </div>
          </div>
          <div class="text-center"><a (click)="goToChildPage(child)" class="text-17 text-primary">sélectionner {{child.firstName}}</a></div>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>

