<div class="row" [@animate]="{value:'*',params:{delay: (100)+'ms', y:'50px'}}">

  <div class="col-md-12">
    <div class="card mb-4 p-2">
      <div class="card-body p-2">
        <div class="card-title m-0">mon agenda</div>
        <p class="text-small text-muted">programme de la semaine.</p>
        <ul class="timeline">
          <li class="ml-4">
            <div>
              <div><a class="text-15" href="#">New Web Design</a></div>
              <div class="text-13 font-weight-400">21 March, 2014</div>
            </div>
            <p>Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
          </li>
          <li class="ml-4">
            <div><a href="#" class="text-15">21 000 Job Seekers</a></div>
            <div class="text-13 text-muted font-weight-400">4 March, 2014</div>
            <p>Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpised semper nisi sollicitudin...</p>
          </li>
          <li class="ml-4">
            <div><a href="#" class="text-15">Awesome Employers</a></div>
            <div class="text-13 text-muted font-weight-400">1 April, 2014</div>
            <p>Sed nulla odio, tincidunt vitae nunc vitae, mollis pharetra velit. Sed nec tempor nibh...</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
