<div #classLifeReport class="m-2" *ngIf="!toggleFormAdd">

  <div class="row mb-2">
    <div class="col-md-6 d-flex align-items-center">
      <div class="text-17 font-weight-300">vie scolaire - classe {{selectedClass?.name}}</div>
    </div>
    <div class="col-md-6">
      <button type="button" class="float-right" mdbBtn (click)="toggleForm()" size="sm" color="primary" mdbWavesEffect>
        saisir évènement de la vie de classe
      </button>  
    </div>
  </div>

    <div class="row">

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
          <div class="card-body text-center">
            <i class="i-Turn-Up" style="color: rgb(81, 211, 81)"></i>
            <div class="content">
              <p class="text-muted mt-2 mb-0">tout</p>
              <p class="text-primary text-24 line-height-1 mb-2">{{nbAbsences + nbSanctions + nbRewards}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
          <div class="card-body text-center">
            <i class="i-Tongue" style="color: green"></i>
            <div class="content">
              <p class="text-muted mt-2 mb-0">compliments</p>
              <p class="text-primary text-24 line-height-1 mb-2">{{nbRewards}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
          <div class="card-body text-center">
            <i class="i-Close" style="color: orange"></i>
            <div class="content">
              <p class="text-muted mt-2 mb-0">absences</p>
              <p class="text-primary text-24 line-height-1 mb-2">{{nbAbsences}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
          <div class="card-body text-center">
            <i class="i-Angry" style="color:red"></i>
            <div class="content">
              <p class="text-muted mt-2 mb-0">sanctions</p>
              <p class="text-primary text-24 line-height-1 mb-2">{{nbSanctions}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  
    <nz-table #absenceTable nzSize="small" [nzPageSize]="5" [nzShowSizeChanger]="false" [nzShowPagination]="true"
      [nzFrontPagination]="true" [nzTitle]="title ? 'Absences' : null" nzBordered [nzData]="absencesList">
      <thead>
        <tr>
          <th nzWidth="12%">élève</th>
          <th nzWidth="24%">absence / retard</th>
          <th nzWidth="6%">durée</th>
          <th nzWidth="6%">justifié ?</th>
          <th nzWidth="17%">motif</th>
          <th nzWidth="35%">commentaire</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of absenceTable.data">
            <td>{{ data.userName }}</td>
          <td *ngIf="data.startDate == data.endDate">
            {{ data.startDate }} de {{data.startTime}} à {{data.endTime}}</td>
          <td *ngIf="data.startDate != data.endDate">
            du {{ data.startDate }} {{data.startTime}} à {{data.endDate}} {{data.endTime}}</td>
          <td>{{ data.justified }}</td>
          <td>{{ data.justified }}</td>
          <td>{{ data.reason }}</td>
          <td>{{ data.comment }}</td>
        </tr>
      </tbody>
    </nz-table>

    <nz-table #sanctionTable nzSize="small" [nzPageSize]="5" [nzShowSizeChanger]="false" [nzShowPagination]="true"
      [nzFrontPagination]="true" [nzTitle]="title ? 'Sanctions' : null" nzBordered [nzData]="sanctionsList">
      <thead>
        <tr>
          <th nzWidth="15%">élève</th>
          <th nzWidth="13%">sanction</th>
          <th nzWidth="8%">date</th>
          <th nzWidth="17%">motif</th>
          <th nzWidth="15%">sanctionné par</th>
          <th nzWidth="32%">commentaire</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of sanctionTable.data">
          <td>{{data.userName}}</td>
          <td>{{ data.sanctionName }}</td>
          <td>{{ data.sanctionDate }}</td>
          <td>{{ data.reason }}</td>
          <td>{{ data.sanctionedBy }}</td>
          <td>{{ data.comment }}</td>
        </tr>
      </tbody>
    </nz-table>

  </div>
              
  <div #classLifeForm class="row m-2" *ngIf="toggleFormAdd">
    <div class="col-md-9">
      <div class="lead">Saisie de la vie scolaire</div>
    </div>
    <div class="col-md-3 float-right">
      <button type="button" mdbBtn (click)="toggleForm()" size="sm" color="primary" mdbWavesEffect>
        afficher la vie de la classe
      </button>
    </div>  
    <div class="col-md-12"><hr class="mt-1"></div>
    <div class="col-md-12">
      <!-- Nav Tabs -->
      <mdb-tabset #staticTabs [vertical]="true" [buttonClass]="'md-pills pills-primary text-center transparent'" [contentClass]="'card'">
        <mdb-tab heading="absence">
          <app-class-absence [students]="students" (loadAbsences)="loadAbsences(selectedClass.id)"
            (toggleForm)="toggleForm($event)"></app-class-absence>
        </mdb-tab>
        <mdb-tab heading="sanction">
          <app-class-sanction [students]="students" (loadSanctions)="loadSanctions(selectedClass.id)"
            (toggleForm)="toggleForm($event)" [selectedClass]="selectedClass"></app-class-sanction>
        </mdb-tab>
        <mdb-tab heading="encouragement">
          saisie ici des recompenses, encouragements
        </mdb-tab>
      </mdb-tabset>    
    </div>
  </div>
