<div #classLifeReport class="" *ngIf="!toggleFormAdd">

  <div class="row mb-2">
    <div class="col-md-10 d-flex mb-2">
      <i class="fad fa-users-class fa-2x mr-2" style="--fa-primary-opacity: 1;--fa-secondary-opacity: 1;
        --fa-primary-color: #f89f20; --fa-secondary-color:#192C47;"></i>
      <div class="text-17 font-weight-300">vie scolaire - classe {{selectedClass?.name}}</div>
    </div>
    <div class="col-md-2">
      <button type="button" class="float-right btnBlue" block="true" mdbBtn (click)="goToAddEventPage()" size="sm" mdbWavesEffect>
        nouvel evenement
      </button>  
    </div>
  </div>

  <div class="row mb-1">
    <div class="col-md-12">
      <form [formGroup]="eventForm" (ngSubmit)="loadEvents()">
        <div class="row">
          <div class="col-md-3">
            <div class="md-form form-sm m-0">
              <mdb-select [options]="studentOptions" formControlName="student" placeholder="choisir l'élève"></mdb-select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="md-form form-sm m-0">
              <mdb-select [options]="periodOptions" formControlName="period" placeholder="choisir le trimestre"></mdb-select>
            </div>
          </div>
          <div class="col-md-2 pt-2">
            <div class="md-form form-sm m-0">
              <button type="submit" mdbBtn size="sm" class="btnWhiteO" block="true" mdbWavesEffect>valider</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-12">
      <hr class="m-1">
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body pt-2">
          <p class="text-danger text-15 mt-2 mb-2">cliquer sur un évènement</p>
          <hr class="mt-1 mb-2">
          <div class="card mb-2" *ngFor="let event of eventsWithNb">
              <a (click)="showEventItems(event.id)" style="cursor: pointer;">
                <div class="card-body p-2">
                  <div class="row">
                    <div class="col-md-12 d-flex">
                      <div class="flex-grow-1 text-17">{{event.name}}</div>
                      <div class="text-17">{{event.nbTimes}}</div>
                    </div>
                  </div>
                </div>
              </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="card">
        <div class="card-body pt-2">
          <div class="row">
            <div class="col-md-12">
              <div class="d-flex">
                <div class="text-15 w300px mr-2">élève</div>
                <div class="text-15 w150px mr-2">type</div>
                <div class="text-15 w250px mr-2">date / durée</div>
                <div class="text-15 w-10 mr-2">justifié?</div>
              </div>
              <hr class="mt-2 mb-2">
              <div *ngIf="filteredEvents?.length > 0">
                <div class="card mb-1" *ngFor="let item of filteredEvents | paginate: { itemsPerPage: pageSize, currentPage: page }; let i = index">
                  <div class="card-body p-0">
                    <div class="d-flex">
                      <div class="d-flex div-thumb w50px mr-2">
                        <img class="" src="{{item.photoUrl || '../../../../../assets/user.png'}}" alt="">
                      </div>
                      <div class="flex-grow-1">
                        <div class="d-flex">
                          <div class="text-15 w250px my-auto">{{item.userName}}</div>
                          <div class="text-15 text-lowercase my-auto w150px mr-2">{{item.classEventType}}</div>
                          <div class="text-15 my-auto w250px mr-2">{{item.strStartDate}}</div>
                          <div class="text-15 my-auto w-10 mr-2">{{item.justified}}</div>
                        </div>
                        <div class="d-flex">
                          <div style="white-space: nowrap;" class="text-14 text-muted my-auto mr-2"><u>motif</u> : {{item.reason}}</div>
                          <div class="flex-grow-1" *ngIf="item.comment">
                            <div class="text-14 text-muted"><u>commentaire</u> : {{item.comment}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mt-3" *ngIf="filteredEvents?.length">
                  <pagination-controls (pageChange)="page = $event" previousLabel="" nextLabel=""></pagination-controls>
                </div>        
              </div>
              <div *ngIf="filteredEvents?.length <= 0">
                <p class="lead m-0">pas d'évènement à afficher...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
              
  <div #classLifeForm class="row m-2" *ngIf="toggleFormAdd">
    <div class="col-md-9">
      <div class="lead">classe {{selectedClass.name}} - saisie d'évènements de vie la scolaire</div>
    </div>
    <div class="col-md-3 float-right">
      <button type="button" mdbBtn (click)="toggleForm()" size="sm" color="primary" mdbWavesEffect>
        afficher la vie de la classe
      </button>
    </div>  
    <div class="col-md-12"><hr class="mt-1"></div>
    <div class="col-md-12">
      <!-- Nav Tabs -->
      <mdb-tabset #staticTabs [vertical]="true" [buttonClass]="'md-pills pills-primary text-center transparent'" [contentClass]="'card'">
        <mdb-tab heading="absence">
          <app-class-absence [selectedClass]="selectedClass" [students]="students" (toggleForm)="toggleForm($event)"></app-class-absence>
        </mdb-tab>
        <mdb-tab heading="sanction">
          <app-add-classLife (toggleForm)="toggleForm($event)"></app-add-classLife>
        </mdb-tab>
        <!-- <mdb-tab heading="encouragement">
          saisie ici des recompenses, encouragements
        </mdb-tab> -->
      </mdb-tabset>    
    </div>
  </div>
