<div class="row mt-4">
  <div class="col-lg-6 col-md-12">

    <div class="card mb-4">
        <div class="card-body">
            <div class="card-title">Derniers comptes ajoutés</div>
            <div class="scroll pr-3 m-0">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center mb-3" *ngFor="let user of lastAdded">
                    <img class="avatar-lg mb-3 mb-sm-0 rounded mr-sm-3" src="{{user.photoUrl || '../../assets/user.png'}}" alt="">
                    <div class="flex-grow-1">
                        <h6 class="text-capitalize"><a href="">{{user.lastName}} {{user.firstName}}</a></h6>
                        <p class="m-0 text-small text-muted"> <strong>{{user.phoneNumber}} . {{user.email}}</strong></p>
                        <p class="m-0 text-small text-muted"><strong>compte {{user.userTypeName}}</strong>. Ajouté le {{user.created|date:'dd-MMMM-yyyy'}}</p>
                      </div>
                    <div>
                        <button class="btn btn-outline-primary mt-3 mb-3 m-sm-0 btn-rounded btn-sm">voir les détails</button>
                    </div>
                </div>
            </div>
         
           
        </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
  
    <div class="card mb-4">
        <div class="card-body">
            <div class="card-title">Derniers comptes activés</div>
            <div class="scroll pr-3 m-0">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center mb-3 " *ngFor="let user of lastActivated">
                    <img class="avatar-lg mb-3 mb-sm-0 rounded mr-sm-3" src="{{user.photoUrl || '../../assets/user.png'}}" alt="">
                    <div class="flex-grow-1">
                        <h6 class="text-capitalize"><a href="">{{user.lastName}} {{user.firstName}}</a></h6>
                        <p class="m-0 text-small text-muted"> <strong>{{user.phoneNumber}} . {{user.email}}</strong></p>
                        <p class="m-0 text-small text-muted"><strong>compte {{user.userTypeName}}</strong>. Activé le {{user.validationDate|date:'dd-MMMM-yyyy'}}</p>
                      </div>
                    <div>
                        <button class="btn btn-outline-primary mt-3 mb-3 m-sm-0 btn-rounded btn-sm">voir les détails</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
