<div class="row d-flex align-items-stretch">

  <div class="col-lg-5 col-md-12">
    <div class="row">

    <div class="col-md-12">

      <div class="card">
        <div class="card-body">
          <div class="row">

            <div class="col-md-12 mb-3">
              <form [formGroup]="sessionForm" (ngSubmit)="goToClass()">
                <div class="p-2 border rounded">
                  <div class="content">
                    <p class="lead pt-0 mt-0 mb-1">session de cours</p>
                    <div *ngIf="nextCourses?.length > 0">
                      <div class="row">
                        <div class="col-lg-10">
                          <mdb-select [options]="optionsCourse" formControlName="course" name="course"
                            placeholder="choisir le cours"></mdb-select>
                        </div>
                        <div class="col-lg-1">
                          <button type="submit" mdbBtn [disabled]="!sessionForm.valid" size="sm"
                            class="p-2" color="primary" mdbWavesEffect>ok</button>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="nextCourses?.length == 0">
                      <p class="text-15 text-muted m-0">pas de cours aujourd'hui</p>
                    </div>                      
                  </div>
                </div>
              </form>
            </div>

            <div *ngFor="let class of teacherClasses" class="col-md-12 mb-3">
              <div class="p-2 border rounded">
                <div>
                  <h3 class="lead mb-2">classe {{class.className}}</h3>
                  <div class="row">
                    <div class="col-md-6 mb-2">
                      <a [routerLink]="['/studentsClass', class.classId]">
                        <div class="card m-0 ">
                          <div class="card-body pt-1 pr-0 pb-0 pl-0 text-center">
                            <!-- <i class="i-MaleFemale"></i> -->
                            <i class="fad fa-users fa-2x" style="--fa-primary-opacity: 1; --fa-primary-color:#795548;--fa-secondary-color:#795548;"></i>
                            <p class="text-15 text-muted my-1">{{class.nbStudents}} élèves</p>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col-md-6 mb-2">
                      <a [routerLink]="['/agendas', class.classId]">
                        <div class="card m-0 ">
                          <div class="card-body pt-1 pr-0 pb-0 pl-0 text-center">
                            <!-- <i class="i-Receipt"></i> -->
                            <i class="fad fa-calendar-alt fa-2x" style="--fa-secondary-opacity: 0.7; --fa-primary-color: #000; --fa-secondary-color: #919191"></i>
                            <p class="text-15 text-muted my-1">cahier de textes</p>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col-md-6 mb-2">
                      <a [routerLink]="['/grades']">
                        <div class="card mb-0 ">
                          <div class="card-body pt-1 pr-0 pb-0 pl-0 text-center">
                            <i class="fad fa-pen-alt fa-2x" style="--fa-secondary-opacity: 1; --fa-primary-color: #616161; --fa-secondary-color: #03a9f4"></i>
                            <p class="text-15 text-muted my-1">notes</p>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col-md-6">
                      <a [routerLink]="['/classLife', class.classId]">
                        <div class="card mb-0 ">
                          <div class="card-body pt-1 pr-0 pb-0 pl-0 text-center">
                            <!-- <mdb-icon class="grey-text lighten-1" fas icon="users" size="2x"></mdb-icon> -->
                            <i class="fad fa-users-class fa-2x" style="--fa-primary-opacity: 0.5; --fa-secondary-opacity: 0.7; --fa-primary-color: #795548; --fa-secondary-color:#212121;"></i>
                          <p class="text-15 text-muted my-1">vie scolaire</p>
                        </div>
                      </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
                  
          </div>
        </div>
      </div>

    </div>

    </div>    
  </div>

  <div class="col-lg-4 col-md-12">
  
    <div class="row">

      <div class="col-md-12">
        <div class="card mb-2">
          <div class="card-body">
            <div class="lead mb-1">évaluations</div>
            <div class="row">
              
              <div class="col-md-12 mb-2">
                <button mdbBtn type="button" [routerLink]="['/addEval']" color="light"
                  block="true" mdbWavesEffect>nouvelle evaluation</button>
              </div>

              <div class="col-md-12 mb-2">
                <div class="p-2 border rounded">
                  <div>
                    <h4 class="text-18 mb-1">évaluations à noter</h4>
                    <p class="text-small text-muted">notes à renseigner pour ces évaluations</p>
                  </div>

                  <div *ngFor="let class of evalsToBeGraded">
                    <p class="text-20 font-weight-450 m-0">classe {{class.className}}</p>
                    <div *ngIf="class.evals.length > 0">
                      <div *ngFor="let eval of class.evals">
                        <div class="card mb-2">
                          <div class="card-body p-2">
                            <div class="row">
                              <div class="col-md-12 d-flex">
                                <div class="box-course mr-2" [ngStyle]="{'background-color': eval.courseColor}" style="width: 10px;height: 100%;"></div>
                                <div class="flex-grow-1">
                                  <div class="d-flex">
                                    <div class="flex-grow-1">
                                      <p class="m-0"><b>{{eval.courseName}}</b></p>
                                    </div>
                                    <div class="m-0 text-13 text-muted">fait le {{eval.evalDate}}</div>    
                                  </div>
                                  <div class="m-0 text-14 p-0">{{eval.name}} - {{eval.evalTypeName}}</div>
                                  <div class="float-right">
                                    <a class="text-14 text-primary" [routerLink]="['/AddUserGrades', eval.id]">saisir les notes</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="class.evals.length == 0">
                      <div class="card mb-2">
                        <div class="card-body p-2">
                          <p class="lead m-0">pas d'évaluation à venir</p>
                        </div>
                      </div>  
                    </div>
                  </div>
      
                </div>
              </div>

              <div class="col-md-12 mb-2">
                <div class="p-2 border rounded">
                  <div>
                    <h4 class="text-18 mb-1">évaluations à venir</h4>
                    <p class="text-small text-muted">évaluations programmées par le professeur</p>
                  </div>

                  <div *ngFor="let class of evalsToCome">
                    <p class="text-20 font-weight-450 m-0">classe {{class.className}}</p>
                    <div *ngIf="class.evals.length > 0">
                      <div *ngFor="let eval of class.evals">
                        <div class="card mb-2">
                          <div class="card-body p-2">
                            <div class="row">
                              <div class="col-md-12 d-flex">
                                <div class="box-course mr-2" [ngStyle]="{'background-color': eval.courseColor}" style="width: 10px;height: 100%;"></div>
                                <div class="flex-grow-1">
                                  <div class="d-flex">
                                    <div class="flex-grow-1">
                                      <p class="m-0"><b>{{eval.courseName}}</b></p>
                                    </div>
                                    <div class="m-0 text-12 text-muted">prévue le {{eval.evalDate}}</div>    
                                  </div>
                                  <div class="m-0 text-14 p-0">{{eval.name}} - {{eval.evalTypeName}}</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="class.evals.length == 0">
                      <div class="card mb-2">
                        <div class="card-body p-2">
                          <p class="lead m-0">pas d'évaluation à venir</p>
                        </div>
                      </div>
                    </div>
                  </div>
    
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="col-lg-3 col-md-12">
    <app-timeline></app-timeline>
  </div>

</div>


<!-- <div class="row">
  <div class="col-12">
    <div class="my-5" *ngIf="!visible">
      <h3 class="h3-responsive text-center">Your version is up to date.</h3>
      <h5 class="h5responsive text-center">Last update check on:
        {{today}}
      </h5>
    </div>

    <div class="view" *ngIf="visible" style="height:100vh; width:100vw; position:fixed; top:0; left:0; z-index:999">
      <div class="mask rgba-black-strong flex-center">
        <p class="white-text">Comparing versions...</p>
        <br>
        <mdb-spinner spinnerType="big"></mdb-spinner>
      </div>
    </div>
  </div>
</div> -->
