<form [formGroup]="serviceForm" (ngSubmit)="saveService()">
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="!editionMode" class="d-flex">
        <i class="fad fa-user-plus fa-2x mr-2" style="--fa-secondary-opacity: 1;--fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
        <div class="text-17">ajout d'un service</div>
      </div>
      <div *ngIf="editionMode" class="d-flex mb-2">
        <i class="fad fa-sync-alt fa-2x mr-2" style="--fa-secondary-opacity: 1;--fa-primary-color:#192C47;--fa-secondary-color:#f89f20;"></i>
        <div class="text-17">édition du service <span class="text-capitalize">{{product.name}}</span></div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body p-2">
          <div class="row">
            <div class="col-md-3">
              <div class="md-form mt-1 mb-0">
                <input mdbInput type="text" id="name" class="form-control" formControlName="name" mdbValidate>
                <label for="name">nom</label>
              </div>
              <div *ngIf="serviceForm.get('name').errors && serviceForm.get('name').touched" class="text-small text-danger">
                le nom est obligatoire
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
