<div class="row m-2">

  <p class="text-17 font-weight-400">classe {{classRoom?.name}} - devoirs à faire à la maison</p>

  <div class="col-md-12 text-center mb-2">
    <button type="button" mdbBtn class="p-2" (click)="loadMovedWeek(-7)" color="light"
      mdbWavesEffect><i class="i-Arrow-Left"></i></button>
    <button type="button" mdbBtn  class="p-2" color="light" mdbWavesEffect>
      {{weekDays[0]}}
      <span *ngIf="nbDayTasks[0] > 0" class="badge badge-primary btn-pill">{{nbDayTasks[0]}}</span>
    </button>
    <button type="button" mdbBtn  class="p-2" color="light" mdbWavesEffect>
      {{weekDays[1]}}
      <span *ngIf="nbDayTasks[1] > 0" class="badge badge-primary btn-pill">{{nbDayTasks[1]}}</span>
    </button>
    <button type="button" mdbBtn  class="p-2" color="light" mdbWavesEffect>
      {{weekDays[2]}}
      <span *ngIf="nbDayTasks[2] > 0" class="badge badge-primary btn-pill">{{nbDayTasks[2]}}</span>
    </button>
    <button type="button" mdbBtn  class="p-2" color="light" mdbWavesEffect>
      {{weekDays[3]}}
      <span *ngIf="nbDayTasks[3] > 0" class="badge badge-primary btn-pill">{{nbDayTasks[3]}}</span>
    </button>
    <button type="button" mdbBtn  class="p-2" color="light" mdbWavesEffect>
      {{weekDays[4]}}
      <span *ngIf="nbDayTasks[4] > 0" class="badge badge-primary btn-pill">{{nbDayTasks[4]}}</span>
    </button>
    <button type="button" mdbBtn  class="p-2" color="light" mdbWavesEffect>
      {{weekDays[5]}}
      <span *ngIf="nbDayTasks[5] > 0" class="badge badge-primary btn-pill">{{nbDayTasks[5]}}</span>
    </button>
    <button type="button" mdbBtn class="p-2" (click)="loadMovedWeek(7)" color="light"
      mdbWavesEffect><i class="i-Arrow-Right"></i></button>
  </div>

  <div class="col-md-12 text-center">
    <p class="text-17 font-weight-400 text-center">{{strMonday}} - {{strSaturday}}</p>
  </div>
  
  <!-- <div class="col-md-12 text-center mb-2">
    <button type="button" (click)="loadMovedWeek(-7)" class="btn btn-outline-primary mr-2"><</button>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <div class="btn-group btn-group-toggle">
        <label class="btn-outline-primary mr-1 btn-day" ngbButtonLabel>
          <span class="mr-2">{{weekDays[0]}}</span>
          <span *ngIf="nbDayTasks[0] > 0" class="badge badge-primary badge-pill">{{nbDayTasks[0]}}</span>
          <input type="checkbox" ngbButton>
        </label>
        <label class="btn-outline-primary mr-1 btn-day" ngbButtonLabel>
          <span class="mr-2">{{weekDays[1]}}</span>
          <span *ngIf="nbDayTasks[1] > 0" class="badge badge-primary badge-pill">{{nbDayTasks[1]}}</span>
          <input type="checkbox" ngbButton>
        </label>
        <label class="btn-outline-primary mr-1 btn-day" ngbButtonLabel>
          <span class="mr-2">{{weekDays[2]}}</span>
          <span *ngIf="nbDayTasks[2] > 0" class="badge badge-primary badge-pill">{{nbDayTasks[2]}}</span>
          <input type="checkbox" ngbButton>
        </label>
        <label class="btn-outline-primary mr-1 btn-day" ngbButtonLabel>
          <span class="mr-2">{{weekDays[3]}}</span>
          <span *ngIf="nbDayTasks[3] > 0" class="badge badge-primary badge-pill">{{nbDayTasks[3]}}</span>
          <input type="checkbox" ngbButton>
        </label>
        <label class="btn-outline-primary mr-1 btn-day" ngbButtonLabel>
          <span class="mr-2">{{weekDays[4]}}</span>
          <span *ngIf="nbDayTasks[4] > 0" class="badge badge-primary badge-pill">{{nbDayTasks[4]}}</span>
          <input type="checkbox" ngbButton>
        </label>
        <label class="btn-outline-primary btn-day" ngbButtonLabel>
          <span class="mr-2">{{weekDays[5]}}</span>
          <span *ngIf="nbDayTasks[5] > 0" class="badge badge-primary badge-pill">{{nbDayTasks[5]}}</span>
          <input type="checkbox" ngbButton>
        </label>
      </div>
    </div>
    <button type="button" (click)="loadMovedWeek(7)" class="btn btn-outline-primary ml-2">></button>
  </div> -->

  <div class="col-md-3">

      <div class="card">
        <div class="card-body">
          <div class="mb-2">
            <label class="switch switch-primary mr-3">
              <span>afficher tous les cours</span>
              <input type="checkbox" (change)="showAllCourses()" [(ngModel)]="allCourses">
              <span class="slider"></span>
            </label>
          </div>
          <div class="mb-2 mt-2" style="border-top: 1px #cccccc solid"></div>
          <p class="text-danger text-15 mt-2 mb-2">clicker sur le cours pour filtrer</p>
          <div class="card mb-2" *ngFor="let course of coursesWithTasks">
            <div *ngIf="course.nbTasks > 0">
              <a (click)="showCourseItems(course.courseId)" style="cursor: pointer;">
                <div class="card-body p-2">
                  <div class="row">
                    <div class="col-md-12 d-flex">
                      <div class=" mr-2" [ngStyle]="{'background-color': course.courseColor}"
                        style="width: 10px;height: 100%;"></div>
                      <div class="flex-grow-1 text-17">{{course.courseName}}</div>
                      <div class="text-17">{{course.nbTasks}}</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div *ngIf="course.nbTasks <= 0">
              <div class="card-body p-2">
                <div class="row">
                  <div class="col-md-12 d-flex">
                    <div class=" mr-2" [ngStyle]="{'background-color': course.courseColor}"
                      style="width: 10px;height: 100%;"></div>
                    <div class="flex-grow-1 text-17">{{course.courseName}}</div>
                    <div class="text-17">{{course.nbTasks}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  <div class="col-md-9">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div *ngIf="filteredAgenda?.length == 0">
              <div class="card p-5">
                <h4 class="lead">pas de devoirs à faire cette semaine...</h4>
              </div>
            </div>
            <div *ngIf="filteredAgenda?.length != 0">
              <div *ngFor="let items of filteredAgenda">
                <app-agenda-item [items]="items"></app-agenda-item>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
