<div class="mb-2" *ngIf="showUsersList && !showChildrenList">
  <app-users-header [student]="student" (getUser)="getUser($event)"></app-users-header>
</div>

<div class="row">

  <div class="col-md-9" *ngIf="showChildrenList">
    <p class="text-15 text-muted mb-3">sélectionner un enfant pour voir ses évènements</p>
    <app-children-list [url]="url" [children]="children" (getUser)="getUser($event)"></app-children-list>
  </div>

  <div class="col-md-9" *ngIf="!showChildrenList">
    <div class="row m-0">
      <div class="col-lg-12 col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="card mb-4">
                  <div class="card-body p-2">
                    <div class="card-title d-flex">
                      <div class="flex-grow-1 lead">devoirs à faire</div>
                      <div>
                        <button type="button" mdbBtn size="sm" color="light" mdbWavesEffect>détails</button>
                      </div>
                    </div>
                    <div *ngIf="agendaItems?.length == 0">
                      <div class="card pt-5 pb-5 pl-2 pr-2">
                        <h6 class="text-muted">pas de devoirs à faire cette semaine...</h6>
                      </div>
                    </div>
                    <div *ngIf="agendaItems?.length != 0">
                      <div *ngFor="let items of agendaItems">
                        <div class="card mb-1">
                          <div class="card-body p-2">
                            <p class="text-15">{{items.dueDate}}</p>
                            <div *ngFor="let course of items.courses">
                              <div class="card mb-1">
                                <div class="card-body p-2">
                                  <div class="row">
                                    <div class="col-md-12 d-flex">
                                      <div class="mr-2" [ngStyle]="{'background-color': course.courseColor}"
                                        style="width: 25px; height: 100%;"></div>
                                      <div class="flex-grow-1">
                                        <div class="d-flex">
                                          <div class="flex-grow-1">
                                            <p class="m-0"><b>{{course.courseName}}</b></p>
                                          </div>
                                          <div class="m-0 text-small text-muted">donné le {{course.shortDateAdded}}</div>
                                        </div>
                                        <div class="m-0 text-14 pt-1">{{course.taskDesc}}</div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="row mb-2">
                  <!-- ICON BG -->
                  <div class="col-md-6 mb-1">
                    <div class="card card-icon-bg o-hidden">
                      <div class="card-body align-items-center text-center">
                        <i class="i-Turn-Up" style="color: rgb(81, 211, 81); font-size: 30px;"></i>
                        <div class="content">
                          <p class="text-muted mt-2 mb-0">moyenne</p>
                          <p *ngIf="studentAvg < 10 && studentAvg > -1000" class="text-danger text-20 line-height-1 mb-2">{{studentAvg}}</p>
                          <p *ngIf="studentAvg >= 10 && studentAvg > -1000" class="text-success text-20 line-height-1 mb-2">{{studentAvg}}</p>
                          <p *ngIf="studentAvg === -1000" class="text-primary text-20 line-height-1 m-0">N/A</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-1">
                    <div class="card card-icon-bg o-hidden">
                      <div class="card-body align-items-center text-center">
                        <i class="i-Tongue" style="color: green; font-size: 30px;"></i>
                        <div class="content">
                          <p class="text-muted mt-2 mb-0">compliments</p>
                          <p class="text-primary text-20 line-height-1 mb-2">3</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card card-icon-bg o-hidden">
                      <div class="card-body align-items-center text-center">
                        <i class="i-Close" style="color: orange; font-size: 30px;"></i>
                        <div class="content">
                          <p class="text-muted mt-2 mb-0">absences</p>
                          <p class="text-primary text-20 line-height-1 mb-2">4</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card card-icon-bg o-hidden">
                      <div class="card-body align-items-center text-center">
                        <i class="i-Unlike-2" style="color:red; font-size: 30px;"></i>
                        <div class="content">
                          <p class="text-muted mt-2 mb-0">sanctions</p>
                          <p class="text-primary text-20 line-height-1 mb-2">0</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12 mb-2">
                    <div class="card">
                      <div class="card-body p-2">
                        <div class="d-flex">
                          <div class="lead flex-grow-1">notes</div>
                          <div>
                            <button [routerLink]="['/studentGrades', student?.id]" type="button" mdbBtn size="sm"
                              color="light" mdbWavesEffect>détails</button>
                            <!-- <button [routerLink]="['/studentGrades', student?.id]"  class="btn btn-outline-primary btn-sm">détails</button> -->
                          </div>
                        </div>
                        <div class="row">
                          <div *ngFor="let course of userCourses" class="col-md-4">
                            <div class="card mb-1">
                              <div class="card-body text-center p-2">
                                <p class="text-muted text-16 mt-2 mb-2">{{course.courseAbbrev}}</p>
                                <p *ngIf="course.userCourseAvg < 10 && course.userCourseAvg > -1000"
                                  class="text-primary text-danger text-16 line-height-1 m-0">{{course.userCourseAvg}}</p>
                                <p *ngIf="course.userCourseAvg >= 10"
                                  class="text-primary text-success text-16 line-height-1 m-0">{{course.userCourseAvg}}</p>
                                <p *ngIf="course.userCourseAvg === -1000" class="text-primary text-16 line-height-1 m-0">N/A</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="card mb-4">
                  <div class="card-body p-2">
                    <div class="card-title d-flex">
                      <div class="flex-grow-1 lead">évaluations à venir</div>
                      <div>
                        <button type="button" mdbBtn size="sm" color="light" mdbWavesEffect>détails</button>
                      </div>
                    </div>
                    <div *ngFor="let eval of evalsToCome">
                      <div class="card mb-2">
                        <div class="card-body p-2">
                          <div class="row">
                            <div class="col-md-12 d-flex">
                              <div class="box-course mr-2" [ngStyle]="{'background-color': eval.courseColor}"
                                style="width: 20px;height: 100%;"></div>
                              <div class="flex-grow-1">
                                <div class="d-flex">
                                  <div class="flex-grow-1">
                                    <p class="m-0"><b>{{eval.courseName}}</b></p>
                                  </div>
                                  <div class="m-0 text-12 text-muted">prévue le {{eval.evalDate}}</div>
                                </div>
                                <div class="m-0 text-14 p-0">{{eval.evalTypeName}}</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-12">
    <app-timeline></app-timeline>
  </div>

</div>