<div class="row  mt-1 row justify-content-center align-items-center animated zoomInUp">

    <div class="col-md-6">
            <form class="text-center" style="color: #757575;"  [formGroup]="classForm" (ngSubmit)="save()">
                <mdb-card>
                    <mdb-card-body class="px-lg-5 pt-0">
                        <div class="md-form">
                            <input mdbInput type="text" id="name" class="form-control" formControlName="name">
                            <label for="name" class="">Nom</label>
                        </div>

                        <div class="md-form">
                            <mdb-select [options]="levels" formControlName="levelId" placeholder="Choisir le niveau">
                            </mdb-select>
                        </div>

                        <div class="md-form">
                            <mdb-select [options]="classTypes" formControlName="classTypeId" placeholder="Choisir le type*">
                            </mdb-select>
                        </div>

                        <div class="md-form">
                            <mdb-select [options]="suffixes" formControlName="suffixe" placeholder="Choisir le suffixe">
                            </mdb-select>
                        </div>

                        <div class="md-form">
                            <input mdbInput type="number" id="number" class="form-control" formControlName="number" min="1" max="100">
                            <label for="number" class="">Entrer le nombre de classe</label>
                        </div>

                        <div class="md-form">
                            <input mdbInput type="number" id="maxStudent" class="form-control" formControlName="maxStudent" min="1" max="100">
                            <label for="maxStudent" class="">Entrer le nombre d'élève</label>
                        </div>
                        <div class="md-form mt-0">
                            <button type="submit" [disabled]="!classForm.valid || submitText!='enregistrer'" mdbBtn
                            color="info" size="sm" mdbWavesEffect><span>{{submitText}}</span></button>
                        <button type="button" mdbBtn color="light" size="sm" mdbWavesEffect
                            [routerLink]="['/classesPanel']" routerLinkActive="router-link-active">annuler</button>
                        </div>
                    </mdb-card-body>
                </mdb-card>

            </form>
    </div>
</div>