<div class=" card mt-2">
  <div class="card-body p-2">
    <div *ngIf="showInfos" class="row animated fadeIn">
      <div class="col-8 my-auto">
        <a class="d-flex" (click)="toggleInfos()">
          <i class="text-16 fad fa-minus-square mr-1 my-1" style="--fa-secondary-opacity: 1;
            --fa-primary-color:#192C47;--fa-secondary-color:#f89f20"></i>
          <div class="text-16"><b>vie de la classe</b></div>
        </a>
      </div>
      <div class="col-md-12"><hr class="my-1"></div>
      <div class="col-md-6 text-15 mb-1">
        <div class="border rounded-lg p-1">absences : {{userLife?.totalAbsences}}</div>
      </div>
      <div class="col-md-6 text-15 mb-1">
        <div class="border rounded-lg p-1">retards : {{userLife?.totalLates}}</div>
      </div>
      <div class="col-md-6 text-15 mb-1">
        <div class="border rounded-lg p-1">sanctions : {{userLife?.totalSanctions}}</div>
      </div>
      <div class="col-md-6 text-15 mb-1">
        <div class="border rounded-lg p-1">compliments : {{userLife?.totalRewards}}</div>
      </div>
    </div>
    <div *ngIf="!showInfos" class="row animated fadeIn">
      <div class="col-8">
        <a class="d-flex" (click)="toggleInfos()">
          <i class="text-16 fad fa-plus-square mr-1 my-1" style="--fa-secondary-opacity: 1;
            --fa-primary-color:#192C47;--fa-secondary-color:#f89f20"></i>
          <div class="text-16">
            <b>vie de la classe</b>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- <div class="d-md-none card mt-2">
  <div class="card-body p-2">
  <div *ngIf="!showInfos" class="row animated zoomIn">
    <div class="col-8">
      <a class="d-flex" (click)="toggleInfos()">
        <i class="text-16 fad fa-plus-square mr-1 my-1" style="--fa-secondary-opacity: 1;
          --fa-primary-color:#192C47;--fa-secondary-color:#f89f20"></i>
        <div class="text-16 text-primary"><b>vie de la classe</b></div>
      </a>
    </div>
  </div>
  <div *ngIf="showInfos" class="row animated zoomIn">
    <div class="col-8 my-auto">
      <a class="d-flex" (click)="toggleInfos()">
        <i class="text-16 fad fa-minus-square mr-1 my-1" style="--fa-secondary-opacity: 1;
          --fa-primary-color:#192C47;--fa-secondary-color:#f89f20"></i>
        <div class="tgext-16 text-primary"><b>vie de la classe</b></div>
      </a>
    </div>
    <div class="col-md-12"><hr class="my-1"></div>
  </div>
  </div>
</div> -->
