<div class="row justify-content-center align-items-center mt-3">
  <div class="col-md-6">
    <mdb-card>
      <mdb-card-header class="info-color white-text text-center py-4">
        <h5>
          <strong style="color: white;">Veuillez renseigner les champs ci-dessous</strong>
        </h5>
      </mdb-card-header>
      <mdb-card-body class="pt-0">
        <form class="text-center" style="color: #757575;" [formGroup]="userForm" (ngSubmit)="saveUser()">
  
          <div class="col-md-12">
            <div class="md-form form-group">
              <input type="text" class="form-control" id="lastName" formControlName="lastName" class="form-control"
                mdbInput>
              <label for="lastName">Nom</label>
            </div>
  
          </div>
          <div class="col-md-12">
            <div class="md-form form-group">
              <input type="text" class="form-control" id="firstName" formControlName="firstName" mdbInput>
              <label for="firstName">Prénom(s)</label>
            </div>
          </div>
  
          <div class="col-md-12">
            <div class="md-form form-group">
              <input type="text" class="form-control" id="userName" (blur)="userNameVerification()"
                formControlName="userName" class="form-control" mdbInput>
              <label for="userName">nom d'utilisateur</label>
              <span *ngIf="userNameExist" class="text-danger">nom d'utilisateur déja utilisé... Veuillez reéssayer un
                autre</span>
            </div>
          </div>
  
          <div class="col-md-12">
            <div class="md-form form-group">
              <input type="password" mdbValidate id="password" minlength="4" (change)="updateConfirmValidator()"
                formControlName="password" class="form-control" mdbInput>
              <label for="password">mot de passe</label>
              <span *ngIf="userForm.get('password').dirty && userForm.get('password').errors" class="text-danger">Le mot
                de passe doit comporter au moins 4 caractères.</span>
            </div>
          </div>
  
          <div class="col-md-12">
            <div class="md-form form-group">
              <input type="password" class="form-control" mdbValidate id="checkPassword" formControlName="checkPassword"
                class="form-control" mdbInput>
              <label for="checkPassword">Confirmer le mot de passe</label>
  
              <div class="text-danger"
                *ngIf="userForm.get('checkPassword').dirty && userForm.get('checkPassword').errors">
                <span *ngIf="userForm.get('checkPassword').hasError('required')">
                  Confirmer le mot de passe!
                </span>
                <span *ngIf="userForm.get('checkPassword').hasError('confirm')">
                  Les deux mots de passe que vous entrez sont differents !
                </span>
              </div>
            </div>
          </div>
  
  
          <div class="col-md-12">
            <div class="md-form form-group">
              <input type="text" class="form-control" id="email" readonly formControlName="email" class="form-control"
                mdbInput>
              <label for="email">Email</label>
            </div>
          </div>

          <div class="col-md-12">
            <div class="md-form form-group">
                <input type="text" class="form-control" id="dateofBirth" formControlName="dateOfBirth" [textMask]="{mask: birthDateMask}" mdbInput>
                <label for="dateofBirth">Date de naissance</label>

            </div>
        </div>
  
          <div class="col-md-12">
            <div class="md-form form-group">
              <mdb-select id="gender" [options]="sexe" placeholder="Sexe" formControlName="gender"></mdb-select>
            </div>
          </div>
  
  
          <div class="col-md-12">
            <div class="md-form form-group">
              <input type="text" class="form-control" id="phoneNumber" [textMask]="{mask: phoneMask}"
                formControlName="phoneNumber" class="form-control" mdbInput>
              <label for="phoneNumber">Contact principal</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="md-form form-group">
              <input type="text" class="form-control" id="sphone" [textMask]="{mask: phoneMask}"
                formControlName="secondPhoneNumber" class="form-control" mdbInput>
              <label for="sphone">Deuxieme Contact</label>
            </div>
          </div>
  
  
          <div class="row justify-content-center">
            <button mdbBtn size="sm" color="primary"
            [disabled]="!userForm.valid || userNameExist === true"><span>{{submitText}}</span></button>
          <button (click)="close()" mdbBtn size="sm" color="light"><span>annuler</span></button>
          </div>
        </form>
      
      </mdb-card-body>
    </mdb-card>
  
  </div>
</div>
