<div class="row">

  <div class="col-md-12">
    <p class="lead ">admin - liste delai </p>
  </div>

  <div [@animate]="{value:'*',params:{delay: 300+'ms', y:'80px'}}" class="col-lg-12 col-md-12">

    <div class="card mb-4">
      <div class="card-body p-0">

        <div class="card-title border-bottom d-flex align-items-center m-0 p-3">
          <button size="sm" mdbBtn color="primary" mdbWavesEffect type="button" [routerLink]="['/createPayable']">ajouter une payablee</button>
          <span class="flex-grow-1"></span>
        </div>

        <div *ngFor="let payable of payableAts" class="d-flex border-bottom justify-content-between p-3">
          <div class="flex-grow-1">
            <span class="text-small text-muted">nom</span>
            <h6 class="m-0">{{payable.name}}</h6>
          </div>
          <div class="flex-grow-1">
            <span class="text-small text-muted">nombre de jour avant</span>
            <h6 class="m-0">{{payable.dayCount}}</h6>
          </div>
          

          <div class="flex-grow-1">
            <span class="text-small text-muted"></span>
            <h6 class="m-0 mt-1">
              <button type="button" size="sm" mdbBtn color="light" [routerLink]="['/editPayable', payable.id]" mdbWavesEffect>Editer</button>
            </h6>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>