<div class="row justify-content-center align-items-center  animated bounceInDown mt-3"
  >

  <div class="col-md-8"  *ngIf="!showDiv">
    <mdb-card>

        <mdb-card-header class="info-color white-text text-center py-4">
            <h5>
              <strong style="color: white;">Mail de création de compte</strong>
            </h5>
          </mdb-card-header>

      <!--Card content-->
      <mdb-card-body class="px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;" [formGroup]="registerForm" (ngSubmit)="submit()">
            <div class="md-form">
              <mdb-select [options]="userTypes" formControlName="userTypeId" placeholder="Choisir le type de compte"
                (ngModelChange)="typeCheicking()"></mdb-select>
            </div>
            <div class="md-form">
              <input mdbInput type="email" id="email" class="form-control" formControlName="email" mdbValidate>
              <label for="email" class="">Email</label>
            </div>
            <div class="row" *ngIf="showCourses">
              <mdb-select [options]="courses" formControlName="courseIds" [multiple]="true" [highlightFirst]="true"></mdb-select>
            </div>
            <div class="md-form" *ngIf="showNumber">
                <mdb-select [options]="totalChild" formControlName="totalChild"  placeholder="nombre d'enfant"></mdb-select>
              </div>
            
              <div class="md-form">
                
                  <button type="submit" [disabled]="!registerForm.valid || registerForm.hasError('formNOK')"
                  size="sm" mdbBtn color="light-blue" mdbWavesEffect>valider</button>
                <button  type="button" size="sm" mdbBtn color="light" mdbWavesEffect class="ml-2" [routerLink]="['/Home']" routerLinkActive="router-link-active"  >annuler</button>
                <button type="button" size="sm" mdbBtn color="light" mdbWavesEffect (click)="showImportation()">importer</button>
              </div>
          
          </form>
      </mdb-card-body>

    </mdb-card>

  </div>

  <div class="col-md-10 animated bounceInUp" *ngIf="showDiv">
    <app-import-users [userTypes]="userTypes" (toggleForm)="showImportation($event)"></app-import-users>
  </div>
</div>